<div class="wrapper-sm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" ng-if="showList">
				<div class="row" st-pipe="search" st-table="list">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Lista farmaci rilevati</h4>
							</div>
					    </div>
						<table class="table">
							<thead>
								<tr>
									<th st-sort="date" st-sort-default="reverse">Data</th>
									<th st-sort="drug.drug.name">Farmaci</th>
									<th st-sort="drugRemained">Rimanenti</th>
									<th style="width: 30px; padding: 0;" />
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in list" patient-id="patientId" patient-leftover-drug-modal="row.id" post-fn="search" post-fn-dismiss="search">
									<td ng-bind="row.date | formatDate" />
									<td ng-bind="row.drug.drug.name" />
									<td ng-bind="row.drugRemained" />
									<td style="padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
											ng-if="permissions[row.id].DELETE">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
								            	<li ng-if="permissions[row.id].DELETE">
								            		<a ng-click="delete(row.id)">
								            			<i class="material-icons">delete</i>
								            			Cancella
								            		</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>
								</tr>
							</tbody>
							<tbody ng-show="list == undefined || list.length==0">
								<tr>
									<td colspan="4" >
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
							<tfoot ng-show="list != undefined && list.length > 0">
								<tr>
									<th colspan="4" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
								</tr>
							</tfoot>
						</table>
					</div>
				</div>	   
			</div>
		</div>
	</div>
</div>