<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista farmaci da rilevare</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista farmaci da rilevare</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Farmaci da rilevare</h4>
								</div>
						    </div>
							<table class="table">
								<thead>
									<tr>
										<th st-sort="o.drug.drug.name">Farmaci</th>
										<th st-sort="o.drugRemained">Rimanenti</th>
										<th style="width: 60px;" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.drug.drug.name" />
										<td>
											<input type="number" id="row.drug.id + '.drugRemained'" class="form-control" ng-disabled="!permissions[row.key].UPDATE"
												ng-model="row.drugRemained" tooltip="{{errors[row.drug.id + '.drugRemained']}}"
												ng-class="{error: errors[row.drug.id + '.drugRemained']}">
										</td>
										<td>
											<button class="btn btn-primary waves-effect waves-light" ng-click="save(row)" title="Salva" ng-if="permissions[row.key].UPDATE">
												Salva
											</button>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="3" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="3" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>	   
				</div>
			</div>
		</div>
	</div>
</div>