<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Farmaco rilevato</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="row" ng-if="detail.percentageAdherence!=undefined">
					<div class="col-xs-12 text-center">
						<div ui-jq="easyPieChart" ui-options="
							{
								percent: {{detail.percentageAdherence}},
								lineWidth: 8,
								trackColor: '#e8eff0',
								barColor: '#9bcd41',
								scaleColor: false,
								color: '#fff',
								size: 95,
								lineCap: 'butt',
								rotate: 45,
								animate: 1000
							}" class="inline m-t">
						<div>
							<span class="text-primary h4">{{detail.percentageAdherence}}%</span>
						</div>
					</div>
					<div class="text-muted font-bold text-xs m-t m-b">Percentuale aderenza</div>
	              </div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div id="principal" class="panel-heading scrollspy">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-12" ng-if="fieldPermissions['drug'].VIEW && selects['Drugs'].length > 1">
										<label class="control-label">Farmaco</label><sup>*</sup>
										<div class="input-group">
											<select id="detail.drug" ng-disabled="!fieldPermissions['drug'].UPDATE || selects['Drugs'].length < 1"
												class="form-control" ng-model="detail.drug.id" tooltip="{{errors['detail.drug']}}"
												ng-class="{error: errors['detail.drug']}">
												<option value="{{drug.id}}" ng-repeat="drug in selects['Drugs']"
													label="{{drug.therapy}} - {{drug.name}}"/>
											</select>
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
													hcp-modal="detail.hcp.id" ng-disabled="detail.drug == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>		
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['date'].VIEW">
										<label class="control-label">Data</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true"
												ng-model="detail.date" tooltip="{{errors['detail.date']}}"
												ng-class="{error: errors['detail.date']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
													ng-disabled="!fieldPermissions['date'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['drugRemained'].VIEW">
										<label class="control-label">Rimanenti</label><sup>*</sup>
										<input type="number" id="detail.drugRemained" class="form-control"
											ng-disabled="!fieldPermissions['drugRemained'].UPDATE" ng-model="detail.drugRemained"
											tooltip="{{errors['detail.drugRemained']}}" ng-class="{error: errors['detail.drugRemained']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['teoricDrugAssumption'].VIEW">
										<label class="control-label">Assunzioni previste</label>
										<input type="number" id="detail.teoricDrugAssumption" class="form-control"
											ng-disabled="!fieldPermissions['teoricDrugAssumption'].UPDATE" ng-model="detail.teoricDrugAssumption"
											tooltip="{{errors['detail.teoricDrugAssumption']}}" ng-class="{error: errors['detail.teoricDrugAssumption']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['assumptionSkipped'].VIEW">
										<label class="control-label">Assunzioni saltate</label>
										<input type="number" id="detail.assumptionSkipped" class="form-control"
											ng-disabled="!fieldPermissions['assumptionSkipped'].UPDATE" ng-model="detail.assumptionSkipped"
											tooltip="{{errors['detail.assumptionSkipped']}}" ng-class="{error: errors['detail.assumptionSkipped']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['realDrugAssumption'].VIEW">
										<label class="control-label">Assunzioni effettuate</label>
										<input type="number" id="detail.realDrugAssumption" class="form-control"
											ng-disabled="!fieldPermissions['realDrugAssumption'].UPDATE" ng-model="detail.realDrugAssumption"
											tooltip="{{errors['detail.realDrugAssumption']}}" ng-class="{error: errors['detail.realDrugAssumption']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['percentageAdherence'].VIEW">
										<label class="control-label">% Aderenza</label>
										<input type="number" id="detail.percentageAdherence" class="form-control"
											ng-disabled="!fieldPermissions['percentageAdherence'].UPDATE" ng-model="detail.percentageAdherence"
											tooltip="{{errors['detail.percentageAdherence']}}" ng-class="{error: errors['detail.percentageAdherence']}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>