<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="row" st-table="rowCollection" st-safe-src="detail.participants">
			<div class="col-sm-12">
				<div class="bg-secondary wrapper-xs">
					<div class="inline">
						<h4 class="m-sm">Partecipanti</h4>
					</div>
					<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsertDepartment || canExportDepartment)">
			        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
			         		<i class="material-icons">view_list</i>
			    		</button>
			        	<ul class="dropdown-menu pull-right">
			            	<li ng-if="canInsertDepartment">
			            		<a department-modal="''" medical-center-id="id" post-fn="initListDepartment"
			            			post-fn-dismiss="initListDepartment">
			            			<i class="material-icons">add</i>
			            			<span>Nuovo</span>
			            		</a>
			            	</li>
			        	</ul>
			    	</div>
			    </div>
				<table class="table">		
					<thead>
						<tr>
							<th style="width: 1%;" ng-if="selection" />
							<th st-sort="row.user.first">Nome</th>
							<th st-sort="row.user.lastName">Cognome</th>
							<th class="hidden-xs hidden-sm hidden-md" st-sort="email">Email</th>
							<th class="hidden-xs hidden-sm hidden-md" st-sort="qualification.name">Qualifica</th>
							<th style="width: 30px; padding: 0;" ng-if="!selection" />
						</tr>
					</thead>
					<tbody class="bg-white">
						<tr ng-repeat="row in rowCollection" user-modal="row.user.id" user-Type="row.user.type"
									multiple-list="false" title="Dettaglio" style="cursor: pointer;"><!-- department-modal="row.id" medical-center-id="id" post-fn="initListDepartment" post-fn-dismiss="initListDepartment"-->
							<td ng-if="selection">
								<label class="i-checks">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
									<i />
								</label>
							</td>
							<td ng-bind="row.user.firstName" />
							<td ng-bind="row.user.lastName" />
							<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" />
							<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.qualification.name" />
							<td ng-if="!selection" style="padding: 0;">
								<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="canDeleteDepartment">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">more_vert</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canDeleteDepartment">
						            		<a ng-click="deleteDepartment(row.id)">
						            			<i class="material-icons">delete</i>
						            			Cancella
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
							</td>					
						</tr>
					</tbody>
					<tbody ng-show="rowCollection == undefined || rowCollection.length==0">
						<tr>
							<td colspan="6">
								<div class="text-muted"><i>Nessun dato trovato</i></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	       		
	</div>
</div>