							<div class="col-lg-12">
								<div class="panel panel-default m-n">
									<div class="panel-body">
										<form name="form" class="form-validation" novalidate ng-submit="search()">
											<div ng-if="isHcp">
												<div class="row">
													<div class="form-group col-md-4">
														<label class="control-label">Da data</label>
														<div class="input-group">
															<input type="text" class="form-control" format-date default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.DATE_FROM" > 
															<span class="input-group-btn">
																<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																	<i class="material-icons">date_range</i>
																</button>
															</span>
														</div>
													</div>
													<div class="form-group col-md-4">
														<label class="control-label">A data</label>
														<div class="input-group">
															<input type="text" class="form-control" format-date default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.DATE_TO" > 
																<span class="input-group-btn">
																<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																	<i class="material-icons">date_range</i>
																</button>
															</span>
														</div>
													</div>
													<div class="form-group col-md-4">
														<label class="control-label" style="display: block;margin-bottom: 15px;">Stato</label>
														
														
															<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['VirtualMeetingStatus'] | constantActive"
																class="form-control" ng-model="searchFilters.filters.STATUS">
																<option value=""></option>
															</select>
													
													</div>
												</div>
												<div class="row">
													
													<div class="form-group col-md-8">
														<label class="control-label">Paziente</label>
														<div class="input-group">
															<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
															<span class="input-group-btn">
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient"
																	user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="objectFilters.patientId">
																	<i class="material-icons">search</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id" user-type="'PATIENT'" ng-disabled="objectFilters.patient.id === undefined" title="Dettaglio">
																	<i class="material-icons">person</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined" ng-click="objectFilters.patient = undefined; objectFilters.patientId = undefined" title="Dettaglio">
																	<i class="material-icons">clear</i>
																</button>					
															</span>		
														</div>
													</div>
												</div>
											</div>
											<div ng-if="!isHcp">
												<div class="row">
													<div class="form-group col-lg-4">
														<label class="control-label">Da data</label>
														<div class="input-group">
															<input type="text" class="form-control" format-date default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.DATE_FROM" > 
															<span class="input-group-btn">
																<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																	<i class="material-icons">date_range</i>
																</button>
															</span>
														</div>
													</div>
													<div class="form-group col-lg-4">
														<label class="control-label">A data</label>
														<div class="input-group">
															<input type="text" class="form-control" format-date default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.DATE_TO" > 
																<span class="input-group-btn">
																<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																	<i class="material-icons">date_range</i>
																</button>
															</span>
														</div>
													</div>
													<div class="form-group col-lg-4">
														<label>Stato</label>
														<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['VirtualMeetingStatus'] | constantActive"
															class="form-control" ng-model="searchFilters.filters.STATUS">
															<option value=""></option>
														</select>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-lg-4">
														<label>Medico</label>
														<div class="input-group">
															<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.hcp.lastName}} {{objectFilters.hcp.firstName}}">
															<span class="input-group-btn">
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.hcp"
																	user-type="'HCP'" multiple-list="false" title="Seleziona" user-id="objectFilters.hcpId">
																	<i class="material-icons">search</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.hcp.id" user-type="'HCP'" ng-disabled="objectFilters.hcp.id === undefined" title="Dettaglio">
																	<i class="material-icons">person</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.hcp == undefined" ng-click="objectFilters.hcp = undefined; objectFilters.hcpId = undefined" title="Dettaglio">
																	<i class="material-icons">clear</i>
																</button>					
															</span>		
														</div>
													</div>
													<div class="form-group col-lg-4">
														<label>Paziente</label>
														<div class="input-group">
															<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
															<span class="input-group-btn">
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient"
																	user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="objectFilters.patientId">
																	<i class="material-icons">search</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id" user-type="'PATIENT'" ng-disabled="objectFilters.patient.id === undefined" title="Dettaglio">
																	<i class="material-icons">person</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined" ng-click="objectFilters.patient = undefined; objectFilters.patientId = undefined" title="Dettaglio">
																	<i class="material-icons">clear</i>
																</button>					
															</span>		
														</div>
													</div>
													<div class="form-group col-md-4">
														<label>Operatore sanitario</label>
														<div class="input-group">
															<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.supplier.lastName}} {{objectFilters.supplier.firstName}}">
															<span class="input-group-btn">
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.supplier"
																	user-type="'SUPPLIER'" multiple-list="false" title="Seleziona" user-id="objectFilters.supplierId">
																	<i class="material-icons">search</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.supplier.id"
																	user-type="'SUPPLIER'" ng-disabled="objectFilters.supplier === undefined" title="Dettaglio">
																	<i class="material-icons">person</i>
																</button>
																<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.supplier == undefined"
																	ng-click="objectFilters.supplier = undefined; objectFilters.supplierId = undefiend" title="Dettaglio">
																	<i class="material-icons">clear</i>
																</button>					
															</span>		
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 text-right">
													<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
														Cerca
													</button>
													<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
														Cancella
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>