<div class="row" ng-if="fieldPermissions['activities'].VIEW">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="row" st-table="rowCollection" st-safe-src="detail.activities">
				<div class="col-sm-12">
					<div class="bg-secondary wrapper-xs">
						<div class="inline">
							<h4 class="m-sm">Attività complementari</h4>
						</div>
						<div class="btn-group dropdown" dropdown ng-if="isEditable">
				        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
				         		<i class="material-icons">view_list</i>
				    		</button>
				        	<ul class="dropdown-menu pull-right">
				            	<li>
				            		<a ui-sref="app.program-service-activity({programId: programId, serviceId: id, id: ''})">
				            			<i class="material-icons">add</i>
				            			<span>Nuovo</span>
				            		</a>
				            	</li>
				            	<li>
				            		<a ng-click="exportXls(false)">
				            			<i class="material-icons">file_download</i>
				            			<span>Esporta Pagina</span>
				            		</a>
				            	</li>
				            	<li>
				            		<a ng-click="exportXls(true)">
				            			<i class="material-icons">file_download</i>
				            			<span>Esporta Tutto</span>
				            		</a>
				            	</li>
				        	</ul>
				    	</div>
				    </div>
					<table class="table">		
						<thead>
							<tr>
								<th style="width: 1%;" ng-if="selection" />
								<th>Tipo</th>
								<th>Nome</th>
								<th class="hidden-xs">Obbligatoria</th>
								<th ng-if="row.entityId!=undefined">Stato</th>
								<th style="width: 30px; padding: 0;" ng-if="!selection"/>
							</tr>
						</thead>
						<tbody class="bg-white">
							<tr ng-repeat="row in rowCollection">
								<td ng-if="selection">
									<label class="i-checks">
										<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
										<i />
									</label>
								</td>
								<td ng-bind="row.type | constantLabel:'ComplementaryActivityType'" />
								<td ng-bind="row.name" />
								<td class="hidden-xs">{{row.required? "Si" : "No"}}</td>
								<td ng-if="row.entityId!=undefined" ng-bind="row.status | constantLabel:'ComplementaryActivityStatus'" />
								<td ng-if="!selection" style="padding: 0;">
									<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
							        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
							         		<i class="material-icons">more_vert</i>
							    		</button>
							        	<ul class="dropdown-menu pull-right">
							            	<li ng-if="canDelete">
							            		<a ng-click="delete(row.id)">
							            			<i class="material-icons">delete</i>
							            			Cancella
							            		</a>
							            	</li>
							            	<li ng-if="row.confEntityId!=undefined && row.entityId==undefined">
							            		<a ng-if="row.type=='QUESTIONNAIRE_SUBMISSION'" program-questionnaire-modal="row.confEntityId" program-id="programId">
							            			<i class="material-icons">live_help</i>
							            			Vedi Questionario
							            		</a>
							            	</li>
							            	<li ng-if="row.entityId!=undefined">
							            		<a ng-if="row.type=='QUESTIONNAIRE_SUBMISSION'" user-questionnaire-detail-modal="row.entityId">
							            			<i class="material-icons">live_help</i>
							            			Vedi Questionario
							            		</a>
							            		<a ng-if="row.type=='MATERIAL_DELIVERY'" material-delivery-modal="row.entityId">
							            			<i class="material-icons">local_shipping</i>
							            			Vedi Consegna
							            		</a>
							            		<a ng-if="row.type=='MATERIAL_SHIPPING'" material-delivery-modal="row.entityId">
							            			<i class="material-icons">local_shipping</i>
							            			Vedi Spedizione
							            		</a>
							            		<a ng-if="row.type=='MATERIAL_DAMAGE'" material-damage-modal="row.entityId">
							            			<i class="material-icons">sms_failed</i>
							            			Vedi Malfunzionamento/Rottura
							            		</a>
							            	</li>
							        	</ul>
							    	</div>
								</td>							
							</tr>
						</tbody>
						<tbody ng-show="rowCollection==undefined || rowCollection.activities.length==0">
							<tr>
								<td colspan="5">
									<div class="text-muted"><i>Nessun dato trovato</i></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>