<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-8">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="true" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Destinatario</label><sup>*</sup>
						<div class="form-control no-border">
							<label class="checkbox-inline i-checks" ng-repeat="v in constants['ServiceRecipientType']" ng-if="v.active || v.id === detail.recipientType">
								<input type="checkbox" check-list="detail.recipientType" only-one="true" value="{{v.id}}" ng-disabled="!isEditable">
								<i tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}"></i><span class="m-n" bind-html-compile="v.label"></span>
							</label>
						</div>
					</div>
					<div class="form-group col-md-12">
						<label class="control-label">Descrizione</label>
						<textarea id="detail.description" rows="4" class="form-control" ng-disabled="true" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
					</div>
				</div>
				<div class="row">	
					<div class="form-group col-md-4">
						<label class="control-label">Avvia il servizio dopo</label>
						<div class="input-group">
							<input type="text" id="detail.startDelay" class="form-control" ng-disabled="true" ng-model="detail.startDelay" tooltip="{{errors['detail.startDelay']}}" ng-class="{error: errors['detail.startDelay']}">
							<span class="input-group-btn with-select" >
								<select class="btn btn-sm btn-default" ng-model="detail.startDelayUnit" tooltip="{{errors['detail.startDelayUnit']}}" ng-class="{error: errors['detail.startDelayUnit']}" 
									ng-change="errors['detail.startDelayUnit'] = undefined" ng-disabled="true" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.startDelayUnit) for v in constants['TimeUnit']" >
									<option value="">Seleziona unità di tempo</option>			    				
								</select>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Dall'evento</label>
						<select ng-options="v.id as v.label disable when (!v.active && v.id !== detail.startEvent) for v in constants['ServiceStartEvent']" class="form-control" ng-model="detail.startEvent" tooltip="{{errors['detail.startEvent']}}" ng-class="{error: errors['detail.startEvent']}"
							ng-disabled="!canModify || !isEditable">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['avoidSuspend'].VIEW">
						<label class="control-label">Mantieni attivo il servizio</label>
						<div class="form-control no-border">
							<label class="checkbox-inline i-checks">
								<input id="detail.avoidSuspend" type="checkbox" ng-model="detail.avoidSuspend" value="{{detail.avoidSuspend}}" ng-disabled="!fieldPermissions['avoidSuspend'].UPDATE">
								<i tooltip="{{errors['detail.avoidSuspend']}}" ng-class="{error: errors['detail.avoidSuspend']}"></i><span class="m-n"> se il destinatario viene sospeso</span>
							</label>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>