<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Attività</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Attività</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr ng-if="selection">
										<th colspan="5">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="row.name">Nome</th>
										<th st-sort="row.description">Descrizione</th>
										<th style="width: 30px; padding: 0;" ng-if="!isSelection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
												<i />
											</label>
										</td>
										<td ng-bind="row.name"/>
										<td ng-bind="row.description" />
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="3">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="3" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
			Annulla
		</button>
	</div>
</div>