<div class="row" ng-if="canModify">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" ng-if="isEditable" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" ng-if="isEditable" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="form-group col-md-12">
		<label class="control-label">Nome Terapia</label>
		<input type="text" id="detail.firstName" ng-disabled="true" class="form-control" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
	</div>
	<div class="form-group col-md-12">
		<label class="control-label">Descrizione</label>
		<textarea id="detail.description" rows="5" class="form-control" ng-disabled="true" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"/>
	</div>
	
	<div class="form-group col-md-6">
		<label class="control-label">Durata</label>
		<div class="input-group">
			<input type="text" id="detail.duration" class="form-control" ng-disabled="!isEditable" ng-model="detail.duration" tooltip="{{errors['detail.duration']}}" ng-class="{error: errors['detail.duration']}">
			<span class="input-group-btn with-select" >
			
				<select class="btn btn-default" ng-model="detail.durationUnit" tooltip="{{errors['detail.durationUnit']}}" ng-class="{error: errors['detail.durationUnit']}" 
				ng-change="errors['detail.durationUnit'] = undefined" ng-disabled="!isEditable" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.durationUnit) for v in constants['TherapyDurationUnit']" >
					<option value="">Seleziona unità di tempo</option>			    				
				</select>
			</span>
		</div>
	</div>

	<div class="form-group col-md-6">
		<label class="control-label">Frequenza somministrazioni</label>
		<div class="input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default waves-effect waves-light" style="cursor: default !important">Ogni</button>
			</span>
			<input type="text" id="detail.assumptionFrequency" class="form-control" ng-disabled="!isEditable" ng-model="detail.assumptionFrequency" tooltip="{{errors['detail.assumptionFrequency']}}" ng-class="{error: errors['detail.assumptionFrequency']}">
			<span class="input-group-btn with-select" >
			
				<select class="btn btn-default" ng-model="detail.assumptionFrequencyUnit" ng-disabled="!isEditable" tooltip="{{errors['detail.assumptionFrequencyUnit']}}" ng-class="{error: errors['detail.assumptionFrequencyUnit']}" 
				ng-change="errors['detail.assumptionFrequencyUnit'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.assumptionFrequencyUnit) for v in constants['TimeUnit']" >
					<option value="">Seleziona unità di tempo</option>			    				
				</select>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<h4 class="m-l">Farmaci</h4>
	<div ng-repeat="drug in detail.drugs">
		<div class="form-group col col-md-12">
			<div class="list-group no-radius alt">
	 			<div class="list-group-item lter" style="cursor: pointer" ng-init="isCollapsed2[$index] = ($index==0) ? false : true" ng-click="isCollapsed2[$index] = !isCollapsed2[$index]">
	   	 			<span class="pull-right"> 
	   	 				<a><strong><i class="fa fa-angle-{{isCollapsed2[$index] ? 'down' : 'up'}}"></i></strong></a>
	   	 			</span>
		      	 	<span class="block">
		            	<strong>{{ drug.drug.name }} {{drug.expectedDosage}} {{drug.expectedDosageUnit}} {{drug.dailyAssumptionNumber}}/die</strong>
		           </span>
	     		</div>
	     		
	     		<div collapse="isCollapsed2[$index]" class="clearfix m-b b-l b-r b-b">
	      			<div class="m-t m-b col-md-12" ng-include="'tpl/app/therapy/drug-data.html'"></div>
				</div>	
			</div>
		</div>
	</div>	
</div>
<div class="row" ng-if="canModify">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" ng-if="isEditable" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" ng-if="isEditable" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>