<ul class="nav">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<span class="ico">

				<svg width="33px" height="33px" viewBox="0 0 33 33">
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-22.000000, -234.000000)">
							<g  transform="translate(22.000000, 234.000000)">
								<rect id="ViewBox" x="0" y="0" width="33" height="33"></rect>
								<path d="M18.3865115,5 C18.1732738,5 18,5.17326372 18,5.38678062 C18,5.40661552 18.0084595,5.42382522 18.0113766,5.44307674 L18,5.44307674 L18,14.6132194 C18,14.8267363 18.1732738,15 18.3865115,15 L27.5568974,15 L27.5568974,14.9886241 C27.5761501,14.991541 27.5933608,15 27.6134885,15 C27.8267262,15 28,14.8267363 28,14.6132194 C27.9451591,9.32780095 23.6722383,5.05512936 18.3865115,5 Z"  fill="#FFFFFF" fill-rule="nonzero"></path>
								<path d="M26,17.3887505 C26,17.1580574 25.8131134,16.9708557 25.5824204,16.9708557 L16.4747726,16.9708557 C16.2440988,16.9706818 16.057193,16.7836348 16.057193,16.552961 L16.057193,7.47871957 L16.044902,7.47871957 C16.0480535,7.45791938 16.057193,7.43932527 16.057193,7.41789477 C16.057193,7.18688657 15.8699913,7 15.6392983,7 C15.6292133,7 15.6210193,7.00504247 15.6112495,7.00567278 L15.6112495,7.00283639 C15.5740613,7.00252124 15.5371882,7 15.5,7 C9.70115857,7 5,11.7011586 5,17.5 C5,23.2988414 9.70115857,28 15.5,28 C21.2988414,28 26,23.2988414 26,17.5 C26,17.4665936 25.9984242,17.4335024 25.9977939,17.3997809 C25.9977939,17.3956839 26,17.3925323 26,17.3887505 Z"  fill="#FFFFFF" fill-rule="nonzero"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Riepilogo</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.patients">
			<span class="ico">

				<svg width="27px" height="22px" viewBox="0 0 27 22" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-25.000000, -298.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(25.000000, 298.000000)">
								<path d="M22.4419365,11 L20,11 C20.2489053,11.6082488 20.3848905,12.264662 20.3848905,12.948818 L20.3848905,21.1863228 C20.3848905,21.4715667 20.329263,21.7453612 20.2280604,22 L24.2651249,22 C25.773173,22 27,20.904932 27,19.5589684 L27,15.068331 C27,12.8250766 24.9552883,11 22.4419365,11 Z" id="Path"></path>
								<path d="M6.61511286,12.9488083 C6.61511286,12.2646006 6.75109686,11.6082457 7,11 L4.55808504,11 C2.04475534,11 0,12.8250674 0,15.0683657 L0,19.5589806 C0,20.9049375 1.2268162,22 2.73485102,22 L6.77194157,22 C6.67073987,21.7452524 6.61511286,21.4715143 6.61511286,21.1862718 L6.61511286,12.9488083 Z" id="Path"></path>
								<path d="M15.5888933,11 L11.4111067,11 C9.53022128,11 8,12.5302213 8,14.4111067 L8,21.3177787 C8,21.6945188 8.30543505,22 8.68222135,22 L18.3177787,22 C18.694565,22 19,21.694565 19,21.3177787 L19,14.4111067 C19,12.5302213 17.4697787,11 15.5888933,11 Z" id="Path"></path>
								<path d="M13,0 C10.2429854,0 8,2.24297278 8,5.00002813 C8,6.87010963 9.0321648,8.50337228 10.5564768,9.36087032 C11.2794816,9.76756875 12.1130212,10 13,10 C13.8869788,10 14.7205184,9.76756875 15.4435232,9.36087032 C16.9678915,8.50337228 18,6.87005338 18,5.00002813 C18,2.24302903 15.7570146,0 13,0 Z" id="Path"></path>
								<path d="M4.5,4 C2.57006393,4 1,5.57006393 1,7.5 C1,9.42993607 2.57006393,11 4.5,11 C4.98955246,11 5.45572772,10.8985935 5.87920271,10.7163144 C6.6113727,10.4010906 7.21507334,9.84309139 7.58863483,9.14414442 C7.85083866,8.65359158 8,8.09396014 8,7.5 C8,5.57011659 6.42993607,4 4.5,4 Z" id="Path"></path>
								<path d="M22.5,4 C20.5700639,4 19,5.57006393 19,7.5 C19,8.09401279 19.1491613,8.65364423 19.4113652,9.14414442 C19.7849267,9.84314404 20.3886273,10.4011433 21.1207973,10.7163144 C21.5442723,10.8985935 22.0104475,11 22.5,11 C24.4299361,11 26,9.42993607 26,7.5 C26,5.57006393 24.4299361,4 22.5,4 Z" id="Path"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Pazienti</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.patient-enrollment')}">
		<a ui-sref="app.patient-enrollment">
			<span class="ico">
				<svg width="25px" height="23px" viewBox="0 0 25 23" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-27.000000, -349.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g transform="translate(27.000000, 349.000000)">
								<path d="M13,11.838196 C13.5869026,12.4685397 14.0980593,13.1895497 14.5307101,14 C15.6244761,13.2171641 16.9164999,12.7637744 18.299705,12.7637744 C18.8855854,12.7637744 19.4549059,12.845625 20,12.9987594 C19.1236072,11.6884478 18.0679186,10.7183245 16.7328597,10 C15.7318083,11.0432168 14.4324245,11.7187477 13,11.838196 L13,11.838196 Z" id="XMLID_1271_"></path>
								<path d="M11.585995,18.0720486 C11.585995,16.3189842 12.3151583,14.731676 13.4884749,13.5912237 C12.8275028,12.456453 11.9254488,11.6015647 10.7536344,11 C9.78807792,11.658425 8.61931347,12.0444977 7.36105376,12.0444977 C6.10643576,12.0444977 4.94076678,11.6606795 3.97684907,11.0057266 C1.53544011,12.3136033 0,15.035502 0,18.1784643 L0,23 L14,23 C12.5305661,21.8487258 11.585995,20.0676597 11.585995,18.0720486 L11.585995,18.0720486 Z" id="XMLID_1273_"></path>
								<path d="M14.1152687,6.04614781 C14.1152687,7.43023883 13.6790144,8.71394243 12.9374358,9.76651464 L12.9748374,9.96787799 C13.1531429,9.98925997 13.3333062,10 13.5138117,10 C15.9875002,10 18,7.98131529 18,5.50002452 C18,3.01868471 15.9875002,1 13.5138117,1 C12.9923404,1 12.4817229,1.08974548 12,1.26281202 C13.2986425,2.44583395 14.1152687,4.15212594 14.1152687,6.04614781 Z" id="XMLID_1274_"></path>
								<ellipse  transform="translate(7.833250, 5.740057) rotate(-13.299584) translate(-7.833250, -5.740057) " cx="7.83324996" cy="5.74005716" rx="4.91824276" ry="4.73565925"></ellipse>
								<path d="M25,17.5 C25,14.4672925 22.5327075,12 19.5,12 C16.4672925,12 14,14.4672925 14,17.5 C14,20.5327075 16.4672925,23 19.5,23 C22.5327075,23 25,20.5327578 25,17.5 L25,17.5 Z M16.2964854,18.2548931 L16.2964854,16.7451069 L18.7450566,16.7451069 L18.7450566,14.2965357 L20.2548428,14.2965357 L20.2548428,16.7451069 L22.7034139,16.7451069 L22.7034139,18.2548931 L20.2548428,18.2548931 L20.2548428,20.7035146 L18.7450566,20.7035146 L18.7450566,18.2548931 L16.2964854,18.2548931 Z" id="XMLID_1278_"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Iscrizione nuovo paziente</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.calendar">
			<span class="ico">
				<svg width="21px" height="22px" viewBox="0 0 21 22" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-29.000000, -407.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(29.000000, 407.000000)">
								<path d="M5.25,0.6875 C5.25,0.307804234 4.95618687,0 4.59375,0 C4.23131313,0 3.9375,0.307804234 3.9375,0.6875 L3.9375,1.375 L2.625,1.375 C1.17525253,1.375 0,2.60621694 0,4.125 L0,5.5 L21,5.5 L21,4.125 C21,2.60621694 19.8247475,1.375 18.375,1.375 L17.0625,1.375 L17.0625,0.6875 C17.0625,0.307804234 16.7686869,0 16.40625,0 C16.0438131,0 15.75,0.307804234 15.75,0.6875 L15.75,1.375 L5.25,1.375 L5.25,0.6875 Z M21,6.875 L21,19.25 C21,20.7687831 19.8247475,22 18.375,22 L18.375,22 L2.625,22 C1.17525253,22 0,20.7687831 0,19.25 L0,19.25 L0,6.875 L21,6.875 Z M17.1818182,12 L10.5,12 L10.5,19 L17.1818182,19 L17.1818182,12 Z" id="Shape"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Agenda</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.patient-activities-calendar">
			<span class="ico">

				<svg width="21px" height="21px" viewBox="0 0 21 21">
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-29.000000, -464.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(29.000000, 464.000000)">
								<path d="M20.6684211,19.0326316 L16.4242105,14.7884211 C17.64,13.2410526 18.3473684,11.2957895 18.3473684,9.17368421 C18.3694737,4.11157895 14.2357895,0 9.17368421,0 C4.11157895,0 0,4.11157895 0,9.17368421 C0,14.2357895 4.11157895,18.3694737 9.17368421,18.3694737 C11.2957895,18.3694737 13.2410526,17.64 14.7884211,16.4463158 L19.0326316,20.6684211 C19.4747368,21.1105263 20.2263158,21.1105263 20.6684211,20.6684211 C21.1105263,20.2042105 21.1105263,19.4747368 20.6684211,19.0326316 Z M2.32105263,9.17368421 C2.32105263,5.39368421 5.39368421,2.32105263 9.17368421,2.32105263 C12.9536842,2.32105263 16.0484211,5.39368421 16.0484211,9.17368421 C16.0484211,12.9536842 12.9757895,16.0484211 9.17368421,16.0484211 C5.37157895,16.0484211 2.32105263,12.9757895 2.32105263,9.17368421 Z" id="Shape"></path>
								<circle id="Oval" cx="9" cy="6" r="2"></circle>
								<path d="M10.9897651,9.10243278 L10.0110873,11.396927 L9.79360335,9.73751601 L9.92409372,9.73751601 C10.0110873,9.73751601 10.0763325,9.67605634 10.0763325,9.59411012 L10.0763325,9.14340589 C10.0763325,9.06145967 10.0110873,9 9.92409372,9 L9.14115146,9 C9.05415788,9 8.98891269,9.06145967 8.98891269,9.14340589 L8.98891269,9.59411012 C8.98891269,9.67605634 9.05415788,9.73751601 9.14115146,9.73751601 L9.27164184,9.73751601 L9.05415788,11.396927 L8.07548005,9.10243278 C7.09680223,9.32778489 6.33560836,10.0857875 6.20511798,11.0691421 L6.00938242,12.2573624 C5.94413723,12.6261204 6.22686638,12.9539052 6.61833751,12.9539052 C8.01023486,13.0153649 10.9897651,13.0153649 12.3816625,12.9539052 C12.7731336,12.9334187 13.0558628,12.6056338 12.9906176,12.2573624 L12.794882,11.0691421 C12.7513852,10.0857875 11.968443,9.32778489 10.9897651,9.10243278 Z" id="Path"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Attivit&agrave; pazienti</span>
		</a>
	</li>
	<li class="line dk" ng-if="loggedUser.viewPermissions.VIRTUAL_MEETING"></li>
	<li ui-sref-active="active" ng-if="loggedUser.viewPermissions.VIRTUAL_MEETING">
		<a ui-sref="app.virtual-meeting-list">
			<span class="ico">
				<svg width="25px" height="21px" viewBox="0 0 25 21" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-26.000000, -576.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g transform="translate(26.000000, 576.000000)">
								<path d="M9.81392557,20.0692521 L9.81392557,17.9459834 L6.9027611,17.9459834 L5.40216086,17.9459834 L2.16086435,17.9459834 C0.960384154,17.9459834 0,17.0152355 0,15.8518006 L0,2.09418283 C0,0.930747922 0.960384154,0 2.16086435,0 L22.8391357,0 C24.0396158,0 25,0.930747922 25,2.09418283 L25,15.8518006 C25,17.0152355 24.0396158,17.9459834 22.8391357,17.9459834 L19.8679472,17.9459834 L18.3673469,17.9459834 L15.1860744,17.9459834 L15.1860744,20.0692521 L18.3673469,20.0692521 C18.517407,20.0692521 18.637455,20.1855956 18.637455,20.3310249 L18.637455,20.7382271 C18.637455,20.8836565 18.517407,21 18.3673469,21 L6.63265306,21 C6.48259304,21 6.36254502,20.8836565 6.36254502,20.7382271 L6.36254502,20.3310249 C6.36254502,20.1855956 6.48259304,20.0692521 6.63265306,20.0692521 L9.81392557,20.0692521 L9.81392557,20.0692521 Z M7.41296519,16.5789474 L17.8571429,16.5789474 C16.6566627,13.9030471 14.4057623,12.3905817 12.635054,12.3905817 C10.8643457,12.3905817 8.61344538,13.9030471 7.41296519,16.5789474 Z M15.9063625,7.79501385 C15.9063625,6.0498615 14.4357743,4.59556787 12.605042,4.59556787 C10.7743097,4.59556787 9.33373349,6.0498615 9.33373349,7.79501385 C9.33373349,9.5401662 10.8043217,10.9944598 12.605042,10.9944598 C14.4057623,10.9944598 15.9063625,9.56925208 15.9063625,7.79501385 Z" id="Shape"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Incontri virtuali</span>
		</a>
	</li>
	<li class="line dk" ng-if="loggedUser.viewPermissions.DRIED_BLOOD_SPOT_TEST"></li>
	<li ng-class="{active: $state.includes('app.patient-dbs-test-activity')}" ng-if="loggedUser.viewPermissions.DRIED_BLOOD_SPOT_TEST">
		<a ui-sref="app.patient-dbs-test-activity">
			<span class="ico">			
				<svg width="23px" height="23px" viewBox="0 0 23 23" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-27.000000, -631.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g transform="translate(27.000000, 631.000000)">
								<path d="M21.2352815,5 L9.76471851,5 C9.34223182,5 9,4.55252962 9,4 C9,3.44747038 9.34218888,3 9.76471851,3 L21.2352815,3 C21.6577682,3 22,3.44747038 22,4 C22,4.55252962 21.6578111,5 21.2352815,5 Z" id="Path"></path>
								<path d="M21.2352815,13 L9.76471851,13 C9.34223182,13 9,12.5525296 9,12 C9,11.4474704 9.34218888,11 9.76471851,11 L21.2352815,11 C21.6577682,11 22,11.4474704 22,12 C22,12.5525296 21.6578111,13 21.2352815,13 Z" id="Path"></path>
								<path d="M3.29658458,6.99991565 C3.01649025,7.00042279 2.75098747,6.86794771 2.57160656,6.63866609 L0.217820249,3.62814037 C-0.114983417,3.20113224 -0.0603708373,2.56794532 0.340209524,2.21323217 C0.740789886,1.85851902 1.33491977,1.91672691 1.66772343,2.3436787 L3.29653171,4.41087593 L6.34230645,0.35176293 C6.67981537,-0.0697230667 7.27442106,-0.119366003 7.66982036,0.240362153 C8.04782611,0.584538151 8.10999881,1.18262002 7.81103062,1.60613456 L4.0449831,6.62356472 C3.86332887,6.86541203 3.58704103,7.00391639 3.29658458,6.99991565 Z" id="Path"></path>
								<g  transform="translate(0.000000, 10.000000)">
									<path d="M2.91664632,5.35291844 C1.30582275,5.35291844 0,4.15463076 0,2.67645922 C0,1.19828768 1.30582275,0 2.91664632,0 C4.52746989,0 5.83329264,1.19828768 5.83329264,2.67645922 C5.83329264,4.15463076 4.52751668,5.35291844 2.91664632,5.35291844 Z M2.91664632,1.5293562 C2.22620646,1.5293562 1.66664836,2.04287739 1.66664836,2.67641628 C1.66664836,3.30999812 2.22625326,3.82347637 2.91664632,3.82347637 C3.60703939,3.82347637 4.16664836,3.30995518 4.16664836,2.67641628 C4.16664836,2.04287739 3.60708618,1.5293562 2.91664632,1.5293562 Z" id="Shape"></path>
									<path d="M22.1666524,11.6070892 L9.66667277,11.6070892 C9.20627035,11.6070892 8.8333252,11.191581 8.8333252,10.6785178 C8.8333252,10.1654545 9.20622355,9.74994632 9.66667277,9.74994632 L22.1666524,9.74994632 C22.6270549,9.74994632 23,10.1654545 23,10.6785178 C23,11.191581 22.6271016,11.6070892 22.1666524,11.6070892 Z" id="Path"></path>
									<path d="M2.91664632,13 C1.30582275,13 0,11.8017123 0,10.3235408 C0,8.84536924 1.30582275,7.64708156 2.91664632,7.64708156 C4.52746989,7.64708156 5.83329264,8.84536924 5.83329264,10.3235408 C5.83329264,11.8017123 4.52751668,13 2.91664632,13 L2.91664632,13 Z M2.91664632,9.17643775 C2.22620646,9.17643775 1.66664836,9.68995894 1.66664836,10.3234978 C1.66664836,10.9570367 2.22625326,11.4705579 2.91664632,11.4705579 C3.60703939,11.4705579 4.16664836,10.9570367 4.16664836,10.3234978 C4.16664836,9.68995894 3.60708618,9.17643775 2.91664632,9.17643775 Z" id="Shape"></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Test DBS</span>
		</a>
	</li> 
	<li class="line dk hidden-folded" ng-if="manualActivitiesMenu.length > 0"></li>
	<li ui-sref-active="active" ng-repeat="a in manualActivitiesMenu">
		<a ng-click="startMasterActivityMenu(a)">
			<span class="ico">
				<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-28.000000, -688.000000)" fill="#FFFFFF">
							<g  transform="translate(28.000000, 688.935120)">
								<g  transform="translate(0.000000, -0.000000)">
									<path d="M2.35676486,0.703626322 C2.79918424,0.261861353 3.40989692,0.0311883288 4.03388627,0.0701587645 C4.65787561,0.1091292 5.23514354,0.413995994 5.61916269,0.907375096 L7.86284242,3.78985776 C8.27407954,4.31860458 8.419075,5.00735044 8.25658009,5.65734653 L7.5728515,8.39483006 C7.5009479,8.68322537 7.58537448,8.98821224 7.79534454,9.19857523 L10.8664984,12.2698068 C11.0771174,12.4802186 11.3826942,12.5646814 11.6714731,12.4923054 L14.4076375,11.8085595 C15.0575533,11.6460563 15.7460947,11.7912344 16.275079,12.2023072 L19.1574887,14.4447937 C20.1937062,15.2510388 20.2887033,16.7822796 19.3612323,17.708524 L18.0687728,19.0010163 C17.1438018,19.9260107 15.7613451,20.3322583 14.4726354,19.878511 C11.1742177,18.7179253 8.17942309,16.8295762 5.71040983,14.3535442 C3.23459828,11.8848287 1.34630676,8.89040106 0.185582855,5.59234692 C-0.266902974,4.30485466 0.139334303,2.92111298 1.06430534,1.99611855 L2.35676486,0.703626322 Z" id="Shape" fill-rule="nonzero"></path>
									<path d="M13.750158,0.689876404 C13.750158,0.344700512 14.0299713,0.0648801637 14.3751385,0.0648801637 L19.3749819,0.0648801637 C19.720149,0.0648801637 19.9999623,0.344700512 19.9999623,0.689876404 L19.9999623,5.68984633 C19.9999623,6.03502222 19.720149,6.31484257 19.3749819,6.31484257 C19.0298147,6.31484257 18.7500015,6.03502222 18.7500015,5.68984633 L18.7500015,2.19861733 L13.5676638,7.38233615 C13.3232854,7.62672067 12.9270698,7.62672066 12.6826915,7.38233613 C12.4383132,7.13795161 12.4383131,6.74172601 12.6826915,6.49734147 L17.8662791,1.31487265 L14.3751385,1.31487265 C14.0299713,1.31487265 13.750158,1.0350523 13.750158,0.689876404 Z" id="Path" transform="translate(16.249685, 3.815252) rotate(-179.000000) translate(-16.249685, -3.815252) "></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">{{a.name}}</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="loggedUser.viewPermissions.COMMUNICATION_MESSAGE"></li>
	<li ng-class="{active: $state.includes('app.communication-messages') || $state.includes('app.communication-messages')}" ng-if="loggedUser.viewPermissions.COMMUNICATION_MESSAGE">
		<a ui-sref="app.communication-messages">
			<span class="ico">

				<svg width="23px" height="22px" viewBox="0 0 23 22" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-27.000000, -743.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<path d="M46.925492,746.072675 C45.9648325,745.108148 44.8236881,744.341292 43.56685,743.815646 C42.2793221,743.274548 40.8959492,742.997182 39.4989004,742.999958 L39.4519264,742.999958 C38.0309624,743.007053 36.6569725,743.288303 35.3628384,743.841427 C34.1167839,744.372461 32.9863528,745.14068 32.0347295,746.103143 C31.0805245,747.063831 30.322696,748.200565 29.8034638,749.450015 C29.2644723,750.749301 28.9913631,752.143046 29.0002082,753.549229 C29.0072543,755.17579 29.3971386,756.790632 30.1252358,758.234381 L28,764 C28,764.595312 27.4057787,765 28,765 L34.7686171,762.875001 C36.222167,763.606917 37.8261747,763.99203 39.4542751,764 L39.5035978,764 C40.9081208,764 42.2680185,763.728125 43.5504091,763.196095 C44.8008881,762.676718 45.9377709,761.918802 46.8973076,760.964847 C47.8649723,760.006254 48.6259514,758.885943 49.1591064,757.636725 C49.7110511,756.342977 49.9928952,754.967197 49.9999413,753.546886 C50.0046387,752.119543 49.727492,750.734389 49.1825934,749.431265 C48.6556421,748.176247 47.8890326,747.035524 46.925492,746.072675 Z M36,754 C35.4488518,754 35,753.552083 35,753 C35,752.447917 35.4488518,752 36,752 C36.5511482,752 37,752.447917 37,753 C37,753.552083 36.5532359,754 36,754 Z M40,754 C39.4488518,754 39,753.552083 39,753 C39,752.447917 39.4488518,752 40,752 C40.5511482,752 41,752.447917 41,753 C41,753.552083 40.5511482,754 40,754 Z M44,754 C43.4488518,754 43,753.552083 43,753 C43,752.447917 43.4488518,752 44,752 C44.5511482,752 45,752.447917 45,753 C45,753.552083 44.5511482,754 44,754 Z" id="Shape"></path>
						</g>
					</g>
				</svg></span>
			<span class="font-bold">Notifiche e messaggi</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.personaldocuments">
			<span class="ico">

				<svg width="21px" height="23px" viewBox="0 0 21 23" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g transform="translate(-28.000000, -798.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(28.000000, 798.000000)">
								<path d="M12.9230769,5.75 L12.9230769,0 L7.26923077,0 C5.93100234,0 4.84615385,1.1032983 4.84615385,2.46428571 L4.84615385,6.63878571 C6.91230866,6.2828979 8.96932209,7.31794739 9.94466403,9.20425771 C10.920006,11.090568 10.5926922,13.4007559 9.13338462,14.9302857 L9.16246154,14.9302857 C11.1913846,14.9302857 12.9230769,16.5649286 12.9230769,18.6891429 C12.9230769,20.3944286 12.1735385,21.942 10.9700769,23 L18.5769231,23 C19.9151515,23 21,21.8967017 21,20.5357143 L21,8.21428571 L15.3461538,8.21428571 C14.0079254,8.21428571 12.9230769,7.11098742 12.9230769,5.75 Z M14.5384615,5.75 L14.5384615,0.410714286 L20.5961538,6.57142857 L15.3461538,6.57142857 C14.9000777,6.57142857 14.5384615,6.20366247 14.5384615,5.75 Z M5.65384615,14.7857143 C7.43815073,14.7857143 8.88461538,13.3146499 8.88461538,11.5 C8.88461538,9.68535011 7.43815073,8.21428571 5.65384615,8.21428571 C3.86954158,8.21428571 2.42307692,9.68535011 2.42307692,11.5 C2.42307692,13.3146499 3.86954158,14.7857143 5.65384615,14.7857143 Z M2.14523077,16.5731429 C0.961153846,16.5731429 0,17.5210714 0,18.6891429 C0,20.5767857 1.30361538,22.2229286 3.16292308,22.6812857 L3.297,22.7141429 C4.84453846,23.0952857 6.46315385,23.0952857 8.01069231,22.7141429 L8.14476923,22.6812857 C10.0024615,22.2229286 11.3076923,20.5767857 11.3076923,18.6891429 C11.3076923,17.5210714 10.3465385,16.5731429 9.16246154,16.5731429 L2.14523077,16.5731429 L2.14523077,16.5731429 Z" id="Shape"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">I miei documenti</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.shareddocuments">
			<span class="ico">

				<svg width="19px" height="23px" viewBox="0 0 19 23" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-31.000000, -854.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(31.000000, 854.145833)">
								<path d="M9.08695652,0.854166667 L9.08695652,8.1875 C9.08695652,9.20002204 9.90063032,10.0208333 10.9043478,10.0208333 L18.1730043,10.0208333 L18.173913,10.0923333 L18.173913,20.6541667 C18.173913,21.8691931 17.1975045,22.8541667 15.9930435,22.8541667 L2.18086957,22.8541667 C0.976408563,22.8541667 0,21.8691931 0,20.6541667 L0,3.05416667 C0,1.83914022 0.976408563,0.854166667 2.18086957,0.854166667 L9.08695652,0.854166667 Z" id="Path"></path>
								<path d="M10.925,7.50155763 C10.925,7.77683975 11.1462197,8 11.4191081,8 L18.8327058,8 C18.742305,7.86969903 18.6407916,7.74761488 18.5293234,7.63514019 L11.1858891,0.22728972 C11.104504,0.145245687 11.0173109,0.0692820218 10.925,-1.13686838e-13 L10.925,7.50155763 Z" id="Path"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Info e materiali</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active" ng-if="loggedUser.viewPermissions.USER_QUESTIONNAIRE">
		<a ui-sref="app.hcpQuestionnaires({ hcpId: loggedUser.id })">
			<span class="ico">

				<svg width="22px" height="22px" viewBox="0 0 22 22" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g transform="translate(-28.000000, -910.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g i transform="translate(28.000000, 910.000000)">
								<path d="M8.96744149,2.42475664e-07 C5.80291724,-0.000734344566 2.87499683,1.66766605 1.27354173,4.38417204 C-0.327913369,7.10067804 -0.363033295,10.4584047 1.18125467,13.2075036 L0.0905025024,16.0505579 C-0.0946484139,16.5325347 0.00898183293,17.0772226 0.358364369,17.4584588 C0.707746906,17.839695 1.24320528,17.9923622 1.74240892,17.8530707 L5.15461097,16.9012893 C8.46330782,18.457249 12.3912526,17.8435511 15.0617804,15.3534036 C17.7323083,12.8632562 18.6033613,9.00210385 17.2587742,5.61469991 C15.9141871,2.22729596 12.6268812,0.00120814082 8.96744149,2.42475664e-07 L8.96744149,2.42475664e-07 Z M8.95783738,5.32697211 C8.4666559,5.42255991 7.92882591,5.73936519 7.5062452,6.48221896 C7.38517226,6.69443827 7.15954172,6.8262502 6.91434644,6.82800246 C6.66915115,6.82975472 6.44164211,6.70118111 6.31751977,6.49071407 C6.19339743,6.28024702 6.19151893,6.01986149 6.31259188,5.80764219 C6.91765063,4.74798314 7.77790422,4.16489755 8.69441044,3.98737735 C9.54718773,3.82708261 10.4291594,4.00391805 11.1530619,4.48033729 C11.8171173,4.9173101 12.3535752,5.63148753 12.3700394,6.48768112 C12.3878756,7.38210984 11.8418135,8.18914399 10.8347543,8.78178836 C10.1514907,9.18325712 9.88531972,9.45636513 9.77144245,9.63798195 C9.67540138,9.79092243 9.65344914,9.93020752 9.65344914,10.2415506 C9.65344914,10.6186341 9.34631305,10.9243207 8.96744149,10.9243207 C8.58856993,10.9243207 8.28143384,10.6186341 8.28143384,10.2415506 C8.28143384,9.87012375 8.30064205,9.40857123 8.60660147,8.91697682 C8.89472468,8.45678983 9.38727817,8.04712783 10.1363985,7.6060584 C10.8704267,7.17318221 11.0035122,6.76215467 10.9993961,6.51635746 C10.9925361,6.23369068 10.80457,5.88820905 10.3957094,5.61919767 C9.97238982,5.34046707 9.45706214,5.23573458 8.95783738,5.32697211 Z M9.31044531,14.3381707 C8.74213797,14.3381707 8.28143384,13.8796409 8.28143384,13.3140157 C8.28143384,12.7483905 8.74213797,12.2898607 9.31044531,12.2898607 C9.87875266,12.2898607 10.3394568,12.7483905 10.3394568,13.3140157 C10.3394568,13.8796409 9.87875266,14.3381707 9.31044531,14.3381707 Z" id="Shape"></path>
								<path d="M6.27280344,18.7625204 C7.96536522,20.7241317 10.4347899,21.8515034 13.0327228,21.8486408 C14.395134,21.8486408 15.6889444,21.5441254 16.8469254,20.9979094 L20.2591274,21.9496908 C20.758137,22.0883055 21.2930433,21.9353415 21.6420181,21.5542337 C21.9909929,21.1731259 22.0945183,20.6288725 21.9096618,20.1471779 L20.8175376,17.3041236 C21.5392177,16.0218815 21.9508223,14.5443672 21.9508223,12.9726307 C21.9508223,10.323483 20.7846093,7.94471233 18.9337606,6.31835416 C19.1340749,7.08851873 19.2452081,7.89555288 19.2561842,8.72443568 C20.0903695,9.9329386 20.578807,11.3967975 20.578807,12.9726307 C20.578807,14.4064477 20.1754345,15.7460425 19.4743347,16.8862684 L19.2987167,17.1730318 L20.6295715,20.6346757 L16.7056078,19.5422437 L16.4655051,19.6624112 C15.4364936,20.1867786 14.2702806,20.4831008 13.0327228,20.4831008 C11.4767647,20.4854703 9.95846232,20.006888 8.68755037,19.1134642 C7.87149661,19.0922408 7.06088048,18.974431 6.27280344,18.7625204 L6.27280344,18.7625204 Z" id="Path"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>

			<span class="font-bold">Questionari</span>
		</a>
	</li>
</ul>
