<ul class="nav">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<span class="ico">
				<svg width="25px" height="22px" viewBox="0 0 25 22" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-28.000000, -242.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g transform="translate(40.047619, 253.000000) scale(-1, 1) translate(-40.047619, -253.000000) translate(28.000000, 242.000000)">
								<path d="M15.840023,12.218658 C16.9944147,12.218658 17.9313123,13.175092 17.9313123,14.3562819 L17.9313123,19.8566935 C17.9313123,21.0372705 16.9950102,21.9943173 15.840023,21.9943173 L2.0972649,21.9943173 C0.942277721,21.9943173 0.00597561692,21.0372705 0.00597561692,19.8566935 L0.00597561692,14.3562819 C0.00597561692,13.175092 0.941678193,12.218658 2.0972649,12.218658 L15.840023,12.218658 Z M22.7114021,14.5333993 L22.7114021,21.0745283 C22.7162305,21.5598374 22.3499418,21.964783 21.8762304,21.9978413 C21.402519,22.0308996 20.9857849,21.6805978 20.9260386,21.1991212 L20.9188684,21.0745283 L20.9188684,14.5468358 C21.5077702,14.6978239 22.1245221,14.6936211 22.7114021,14.5346208 L22.7114021,14.5333993 Z M21.8151353,8.6665379 C23.0744013,8.6665379 24.0952381,9.70999235 24.0952381,10.9971587 C24.0952381,12.284325 23.0744013,13.3277794 21.8151353,13.3277794 C20.5558692,13.3277794 19.5350324,12.284325 19.5350324,10.9971587 C19.5350324,9.70999235 20.5558692,8.6665379 21.8151353,8.6665379 Z M15.8340479,0 C16.9896346,0 17.9253372,0.956433992 17.9253372,2.13762386 L17.9253372,7.63803544 C17.9253372,8.8186125 16.9890351,9.77565931 15.8340479,9.77565931 L2.09128979,9.77565931 C0.936302609,9.77565931 2.52222456e-07,8.8186125 2.52222456e-07,7.63803544 L2.52222456e-07,2.13762386 C-0.000529952927,1.02437332 0.834923668,0.0970758482 1.92040158,0.00610749676 L2.09128979,0 L15.8340479,0 Z M21.8151353,0.00366449805 C22.2630127,0.00366449805 22.6421256,0.341648992 22.7030369,0.795196078 L22.7114021,0.919789011 L22.7114021,7.44870304 C22.1245152,7.28975593 21.5077765,7.28555324 20.9188684,7.43648805 L20.9188684,0.919789011 C20.9188684,0.413827414 21.3201408,0.00366449805 21.8151353,0.00366449805 Z" ></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Riepilogo</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.calendar">
			<span class="ico">
				<svg width="21px" height="22px" viewBox="0 0 21 22" >
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-29.000000, -299.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(29.000000, 299.000000)">
								<path d="M5.25,0.6875 C5.25,0.307804234 4.95618687,0 4.59375,0 C4.23131313,0 3.9375,0.307804234 3.9375,0.6875 L3.9375,1.375 L2.625,1.375 C1.17525253,1.375 0,2.60621694 0,4.125 L0,5.5 L21,5.5 L21,4.125 C21,2.60621694 19.8247475,1.375 18.375,1.375 L17.0625,1.375 L17.0625,0.6875 C17.0625,0.307804234 16.7686869,0 16.40625,0 C16.0438131,0 15.75,0.307804234 15.75,0.6875 L15.75,1.375 L5.25,1.375 L5.25,0.6875 Z M21,6.875 L21,19.25 C21,20.7687831 19.8247475,22 18.375,22 L18.375,22 L2.625,22 C1.17525253,22 0,20.7687831 0,19.25 L0,19.25 L0,6.875 L21,6.875 Z M17.1818182,12 L10.5,12 L10.5,19 L17.1818182,19 L17.1818182,12 Z" id="Shape"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Agenda</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.diary({ patientId: loggedUser.id })">
			<span class="ico">
				<svg width="21px" height="23px" viewBox="0 0 21 23" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g transform="translate(-29.000000, -351.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(29.000000, 351.000000)">
								<path d="M18.2977778,0 L3.25194444,0 C2.19777778,0 1.34166667,0.8625 1.34166667,1.91666667 L1.34166667,4.91944444 L0,4.91944444 L0,6.19722222 L1.34166667,6.19722222 L1.34166667,10.8611111 L0,10.8611111 L0,12.1388889 L1.34166667,12.1388889 L1.34166667,16.8027778 L0,16.8027778 L0,18.0805556 L1.34166667,18.0805556 L1.34166667,21.0833333 C1.34166667,22.1375 2.19777778,23 3.25194444,23 L18.2977778,23 C19.3519444,23 20.1888889,22.1375 20.1888889,21.0833333 L20.1888889,1.91666667 C20.1888889,0.8625 19.3519444,0 18.2977778,0 Z M6.70833333,21.7222222 L3.25194444,21.7222222 C2.90055556,21.7222222 2.61944444,21.4347222 2.61944444,21.0833333 L2.61944444,18.0805556 L4.025,18.0805556 L4.025,16.8027778 L2.61944444,16.8027778 L2.61944444,12.1388889 L4.025,12.1388889 L4.025,10.8611111 L2.61944444,10.8611111 L2.61944444,6.19722222 L4.025,6.19722222 L4.025,4.91944444 L2.61944444,4.91944444 L2.61944444,1.91666667 C2.61944444,1.56527778 2.90055556,1.27777778 3.25194444,1.27777778 L6.70833333,1.27777778 L6.70833333,21.7222222 Z" id="Shape"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Diario terapia</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="manualActivitiesMenu.length > 0"></li>
	<li ui-sref-active="active" ng-repeat="a in manualActivitiesMenu">
		<a ng-click="startMasterActivityMenu(a)">
			<span class="ico">
				<svg width="21px" height="21px" viewBox="0 0 21 21" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-29.000000, -408.000000)" fill="#FFFFFF">
							<g  transform="translate(29.000000, 408.935120)">
								<g  transform="translate(0.000000, -0.000000)">
									<path d="M2.35676486,0.703626322 C2.79918424,0.261861353 3.40989692,0.0311883288 4.03388627,0.0701587645 C4.65787561,0.1091292 5.23514354,0.413995994 5.61916269,0.907375096 L7.86284242,3.78985776 C8.27407954,4.31860458 8.419075,5.00735044 8.25658009,5.65734653 L7.5728515,8.39483006 C7.5009479,8.68322537 7.58537448,8.98821224 7.79534454,9.19857523 L10.8664984,12.2698068 C11.0771174,12.4802186 11.3826942,12.5646814 11.6714731,12.4923054 L14.4076375,11.8085595 C15.0575533,11.6460563 15.7460947,11.7912344 16.275079,12.2023072 L19.1574887,14.4447937 C20.1937062,15.2510388 20.2887033,16.7822796 19.3612323,17.708524 L18.0687728,19.0010163 C17.1438018,19.9260107 15.7613451,20.3322583 14.4726354,19.878511 C11.1742177,18.7179253 8.17942309,16.8295762 5.71040983,14.3535442 C3.23459828,11.8848287 1.34630676,8.89040106 0.185582855,5.59234692 C-0.266902974,4.30485466 0.139334303,2.92111298 1.06430534,1.99611855 L2.35676486,0.703626322 Z" id="Shape" fill-rule="nonzero"></path>
									<path d="M13.750158,0.689876404 C13.750158,0.344700512 14.0299713,0.0648801637 14.3751385,0.0648801637 L19.3749819,0.0648801637 C19.720149,0.0648801637 19.9999623,0.344700512 19.9999623,0.689876404 L19.9999623,5.68984633 C19.9999623,6.03502222 19.720149,6.31484257 19.3749819,6.31484257 C19.0298147,6.31484257 18.7500015,6.03502222 18.7500015,5.68984633 L18.7500015,2.19861733 L13.5676638,7.38233615 C13.3232854,7.62672067 12.9270698,7.62672066 12.6826915,7.38233613 C12.4383132,7.13795161 12.4383131,6.74172601 12.6826915,6.49734147 L17.8662791,1.31487265 L14.3751385,1.31487265 C14.0299713,1.31487265 13.750158,1.0350523 13.750158,0.689876404 Z" id="Path" transform="translate(16.249685, 3.815252) rotate(-179.000000) translate(-16.249685, -3.815252) "></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">{{a.name}}</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="loggedUser.viewPermissions.COMMUNICATION_MESSAGE"></li>
	<li ng-class="{active: $state.includes('app.communication-messages') || $state.includes('app.communication-messages')}" ng-if="loggedUser.viewPermissions.COMMUNICATION_MESSAGE">
		<a ui-sref="app.communication-messages">
			<span class="ico">
				<svg width="23px" height="22px" viewBox="0 0 23 22" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-27.000000, -463.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<path d="M46.925492,466.072675 C45.9648325,465.108148 44.8236881,464.341292 43.56685,463.815646 C42.2793221,463.274548 40.8959492,462.997182 39.4989004,462.999958 L39.4519264,462.999958 C38.0309624,463.007053 36.6569725,463.288303 35.3628384,463.841427 C34.1167839,464.372461 32.9863528,465.14068 32.0347295,466.103143 C31.0805245,467.063831 30.322696,468.200565 29.8034638,469.450015 C29.2644723,470.749301 28.9913631,472.143046 29.0002082,473.549229 C29.0072543,475.17579 29.3971386,476.790632 30.1252358,478.234381 L28,484 C28,484.595312 27.4057787,485 28,485 L34.7686171,482.875001 C36.222167,483.606917 37.8261747,483.99203 39.4542751,484 L39.5035978,484 C40.9081208,484 42.2680185,483.728125 43.5504091,483.196095 C44.8008881,482.676718 45.9377709,481.918802 46.8973076,480.964847 C47.8649723,480.006254 48.6259514,478.885943 49.1591064,477.636725 C49.7110511,476.342977 49.9928952,474.967197 49.9999413,473.546886 C50.0046387,472.119543 49.727492,470.734389 49.1825934,469.431265 C48.6556421,468.176247 47.8890326,467.035524 46.925492,466.072675 Z M36,474 C35.4488518,474 35,473.552083 35,473 C35,472.447917 35.4488518,472 36,472 C36.5511482,472 37,472.447917 37,473 C37,473.552083 36.5532359,474 36,474 Z M40,474 C39.4488518,474 39,473.552083 39,473 C39,472.447917 39.4488518,472 40,472 C40.5511482,472 41,472.447917 41,473 C41,473.552083 40.5511482,474 40,474 Z M44,474 C43.4488518,474 43,473.552083 43,473 C43,472.447917 43.4488518,472 44,472 C44.5511482,472 45,472.447917 45,473 C45,473.552083 44.5511482,474 44,474 Z" id="Shape"></path>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Notifiche e messaggi</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.personaldocuments">
			<span class="ico">
				<svg width="21px" height="23px" viewBox="0 0 21 23" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-28.000000, -518.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(28.000000, 518.000000)">
								<path d="M12.9230769,0 L8.07692308,0 C6.2926185,0 4.84615385,1.47106439 4.84615385,3.28571429 L4.84615385,6.90821429 C9.01580191,5.70175681 13.4328102,7.73182922 15.2978013,11.7118279 C17.1627923,15.6918265 15.9311852,20.4595844 12.3835385,22.9934286 L17.7692308,22.9934286 C19.5535353,22.9934286 21,21.5223642 21,19.7077143 L21,8.21592857 L15.3461538,8.21592857 C14.7032339,8.21592872 14.0866699,7.95607386 13.6322083,7.49357526 C13.1777468,7.03107666 12.9226483,6.4038538 12.9230769,5.75 L12.9230769,0 Z M20.9951538,6.57142857 L15.3445385,6.57142857 C14.8984623,6.57142857 14.5368462,6.20366247 14.5368462,5.75 L14.5368462,0 L14.553,0 L20.9951538,6.57142857 L20.9951538,6.57142857 Z M14.5384615,15.6071429 C14.5384615,19.6901051 11.2839161,23 7.26923077,23 C3.25454547,23 0,19.6901051 0,15.6071429 C0,11.5241806 3.25454547,8.21428571 7.26923077,8.21428571 C11.2839161,8.21428571 14.5384615,11.5241806 14.5384615,15.6071429 L14.5384615,15.6071429 Z M6.69738462,19.4727857 L6.70223077,19.4777143 C6.85213462,19.628073 7.05384387,19.7129584 7.26438462,19.7142857 L7.27407692,19.7142857 C7.4861966,19.7129413 7.68928201,19.6267849 7.83946154,19.4744286 L11.0702308,16.1887143 C11.2745317,15.9812323 11.3544743,15.6786641 11.2799448,15.3949843 C11.2054154,15.1113045 10.9877368,14.8896107 10.7089064,14.8134129 C10.430076,14.7372151 10.1324548,14.8180894 9.92815385,15.0255714 L8.07692308,16.9099286 L8.07692308,12.3214286 C8.07692308,11.8677661 7.71530691,11.5 7.26923077,11.5 C6.82315463,11.5 6.46153846,11.8677661 6.46153846,12.3214286 L6.46153846,16.9099286 L4.61030769,15.0255714 C4.29448578,14.7043784 3.78243731,14.7043784 3.46661541,15.0255715 C3.15079351,15.3467645 3.1507935,15.8675213 3.46661538,16.1887143 L6.69738462,19.4744286 L6.69738462,19.4727857 Z" id="Shape"></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Documenti</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.shareddocuments">
			<span class="ico">
				<svg width="19px" height="23px" viewBox="0 0 19 23" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g  transform="translate(-31.000000, -574.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(31.000000, 574.145833)">
								<path d="M9.08695652,0.854166667 L9.08695652,8.1875 C9.08695652,9.20002204 9.90063032,10.0208333 10.9043478,10.0208333 L18.1730043,10.0208333 L18.173913,10.0923333 L18.173913,20.6541667 C18.173913,21.8691931 17.1975045,22.8541667 15.9930435,22.8541667 L2.18086957,22.8541667 C0.976408563,22.8541667 0,21.8691931 0,20.6541667 L0,3.05416667 C0,1.83914022 0.976408563,0.854166667 2.18086957,0.854166667 L9.08695652,0.854166667 Z" ></path>
								<path d="M10.925,7.50155763 C10.925,7.77683975 11.1462197,8 11.4191081,8 L18.8327058,8 C18.742305,7.86969903 18.6407916,7.74761488 18.5293234,7.63514019 L11.1858891,0.22728972 C11.104504,0.145245687 11.0173109,0.0692820218 10.925,-1.13686838e-13 L10.925,7.50155763 Z" ></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Info e materiali</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="loggedUser.viewPermissions.USER_QUESTIONNAIRE"></li>
	<li ui-sref-active="active" ng-if="loggedUser.viewPermissions.USER_QUESTIONNAIRE">
		<a ui-sref="app.questionnaires({ patientId: loggedUser.id })">
			<span class="ico">
				<svg width="22px" height="22px" viewBox="0 0 22 22" >
					<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g transform="translate(-29.000000, -630.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g  transform="translate(29.000000, 630.000000)">
								<path d="M8.96744149,2.42475664e-07 C5.80291724,-0.000734344566 2.87499683,1.66766605 1.27354173,4.38417204 C-0.327913369,7.10067804 -0.363033295,10.4584047 1.18125467,13.2075036 L0.0905025024,16.0505579 C-0.0946484139,16.5325347 0.00898183293,17.0772226 0.358364369,17.4584588 C0.707746906,17.839695 1.24320528,17.9923622 1.74240892,17.8530707 L5.15461097,16.9012893 C8.46330782,18.457249 12.3912526,17.8435511 15.0617804,15.3534036 C17.7323083,12.8632562 18.6033613,9.00210385 17.2587742,5.61469991 C15.9141871,2.22729596 12.6268812,0.00120814082 8.96744149,2.42475664e-07 L8.96744149,2.42475664e-07 Z M8.95783738,5.32697211 C8.4666559,5.42255991 7.92882591,5.73936519 7.5062452,6.48221896 C7.38517226,6.69443827 7.15954172,6.8262502 6.91434644,6.82800246 C6.66915115,6.82975472 6.44164211,6.70118111 6.31751977,6.49071407 C6.19339743,6.28024702 6.19151893,6.01986149 6.31259188,5.80764219 C6.91765063,4.74798314 7.77790422,4.16489755 8.69441044,3.98737735 C9.54718773,3.82708261 10.4291594,4.00391805 11.1530619,4.48033729 C11.8171173,4.9173101 12.3535752,5.63148753 12.3700394,6.48768112 C12.3878756,7.38210984 11.8418135,8.18914399 10.8347543,8.78178836 C10.1514907,9.18325712 9.88531972,9.45636513 9.77144245,9.63798195 C9.67540138,9.79092243 9.65344914,9.93020752 9.65344914,10.2415506 C9.65344914,10.6186341 9.34631305,10.9243207 8.96744149,10.9243207 C8.58856993,10.9243207 8.28143384,10.6186341 8.28143384,10.2415506 C8.28143384,9.87012375 8.30064205,9.40857123 8.60660147,8.91697682 C8.89472468,8.45678983 9.38727817,8.04712783 10.1363985,7.6060584 C10.8704267,7.17318221 11.0035122,6.76215467 10.9993961,6.51635746 C10.9925361,6.23369068 10.80457,5.88820905 10.3957094,5.61919767 C9.97238982,5.34046707 9.45706214,5.23573458 8.95783738,5.32697211 Z M9.31044531,14.3381707 C8.74213797,14.3381707 8.28143384,13.8796409 8.28143384,13.3140157 C8.28143384,12.7483905 8.74213797,12.2898607 9.31044531,12.2898607 C9.87875266,12.2898607 10.3394568,12.7483905 10.3394568,13.3140157 C10.3394568,13.8796409 9.87875266,14.3381707 9.31044531,14.3381707 Z"></path>
								<path d="M6.27280344,18.7625204 C7.96536522,20.7241317 10.4347899,21.8515034 13.0327228,21.8486408 C14.395134,21.8486408 15.6889444,21.5441254 16.8469254,20.9979094 L20.2591274,21.9496908 C20.758137,22.0883055 21.2930433,21.9353415 21.6420181,21.5542337 C21.9909929,21.1731259 22.0945183,20.6288725 21.9096618,20.1471779 L20.8175376,17.3041236 C21.5392177,16.0218815 21.9508223,14.5443672 21.9508223,12.9726307 C21.9508223,10.323483 20.7846093,7.94471233 18.9337606,6.31835416 C19.1340749,7.08851873 19.2452081,7.89555288 19.2561842,8.72443568 C20.0903695,9.9329386 20.578807,11.3967975 20.578807,12.9726307 C20.578807,14.4064477 20.1754345,15.7460425 19.4743347,16.8862684 L19.2987167,17.1730318 L20.6295715,20.6346757 L16.7056078,19.5422437 L16.4655051,19.6624112 C15.4364936,20.1867786 14.2702806,20.4831008 13.0327228,20.4831008 C11.4767647,20.4854703 9.95846232,20.006888 8.68755037,19.1134642 C7.87149661,19.0922408 7.06088048,18.974431 6.27280344,18.7625204 L6.27280344,18.7625204 Z" ></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
			<span class="font-bold">Questionari</span>
		</a>
	</li>
</ul>