<ul class="nav">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<i class="material-icons">dashboard</i>
			<span class="font-bold">Riepilogo</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.calendar">
			<i class="material-icons">today</i>
			<span class="font-bold">Calendario</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active:$state.includes('app.my-tasks') || $state.includes('app.not-assigned-tasks') || $state.includes('app.assigned-to-others-tasks') || $state.includes('app.completed-activity') || $state.includes('app.task')}">
		<a href class="auto">
			<i class="material-icons">local_activity</i>
			<span class="font-bold m-r">Attività</span>
			<b class="badge bg-info pull-right">{{todoTasks + queuedTasks}}</b>
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="activeSub">
				<a ui-sref="app.my-tasks">
					<span>Da completare</span>
					<b class="badge bg-info pull-right">{{todoTasks}}</b>
				</a>
			</li>
			<li ui-sref-active="activeSub">
				<a ui-sref="app.not-assigned-tasks">
					<span>In coda</span>
					<b class="badge bg-info pull-right">{{queuedTasks}}</b>
				</a>
			</li>
			<li ui-sref-active="activeSub">
				<a ui-sref="app.assigned-to-others-tasks">
					<span>In carico ad altri</span>
					<b class="badge bg-info pull-right">{{assignedToOthersTasks}}</b>
				</a>
			</li>
			<li ui-sref-active="activeSub">
				<a ui-sref="app.completed-activity">
					<span>Completate</span>
					
				</a>
			</li>
		</ul>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.patients">
			<i class="material-icons">people_outline</i>
			<span class="font-bold">Pazienti</span>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.hcps">
			<i class="material-icons">people</i>
			<span class="font-bold">Medici</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.suppliers') || $state.includes('app.supplier')}" ng-if="loggedUser.viewPermissions.SUPPLIER">
		<a ui-sref="app.suppliers">
			<i class="material-icons">person</i>
			<span class="font-bold">Operatori sanitari</span>
		</a>
	</li>
	<li ng-class="{active: $state.includes('app.logistics') || $state.includes('app.logistic')}" ng-if="loggedUser.viewPermissions.LOGISTIC">
		<a ui-sref="app.logistics">
			<i class="material-icons">person</i>
			<span class="font-bold">Provider logistici</span>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.internal-staff-users">
			<i class="material-icons">person</i>
			<span class="font-bold">Personale IA</span>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.customer-users">
			<i class="material-icons">person</i>
			<span class="font-bold">Utenze Cliente</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.usermessage') || $state.includes('app.usermessage')}">
		<a ui-sref="app.usermessages">
			<i class="material-icons">textsms</i>
			<span class="font-bold">Comunicazioni</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.medicalcenters') || $state.includes('app.medicalcenter')}">
		<a ui-sref="app.medicalcenters">
			<i class="material-icons">business</i>
			<span class="font-bold">Centri Medici</span>
		</a>
	</li>
	<li ng-class="{active: $state.includes('app.pharmacies') || $state.includes('app.pharmacy')}" ng-if="loggedUser.viewPermissions.PHARMACY">
		<a ui-sref="app.pharmacies">
			<i class="material-icons">local_pharmacy</i>
			<span class="font-bold">Farmacie</span>
		</a>
	</li>
	<li ng-class="{active: $state.includes('app.blood-drawing-centers') || $state.includes('app.blood-drawing-center')}" ng-if="loggedUser.viewPermissions.BLOOD_DRAWING_CENTER">
		<a ui-sref="app.blood-drawing-centers">
			<i class="material-icons">local_hospital</i>
			<span class="font-bold">Centri Prelievi</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="loggedUser.viewPermissions.DRUG_PICK_UP"></li>
	<li ng-class="{active: $state.includes('app.drug-pick-up-list')}" ng-if="loggedUser.viewPermissions.DRUG_PICK_UP">
		<a ui-sref="app.drug-pick-up-list">
			<i class="material-icons">add_shopping_cart</i>
			<span class="font-bold">Lista ritiri del farmaco</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="loggedUser.viewPermissions.DRUG_DELIVERY"></li>
	<li ng-class="{active: $state.includes('app.drug-delivery-list')}" ng-if="loggedUser.viewPermissions.DRUG_DELIVERY">
		<a ui-sref="app.drug-delivery-list">
			<i class="material-icons">directions_car</i>
			<span class="font-bold">Lista consegne del farmaco</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="loggedUser.viewPermissions.DRUG_DISPOSAL"></li>
	<li ng-class="{active: $state.includes('app.drug-disposal-list')}" ng-if="loggedUser.viewPermissions.DRUG_DISPOSAL">
		<a ui-sref="app.drug-disposal-list">
			<i class="material-icons">directions_car</i>
			<span class="font-bold">Lista ritiri per smaltimento farmaco</span>
		</a>
	</li>
	<li class="line dk" ng-if="loggedUser.viewPermissions.VIRTUAL_MEETING"></li>
	<li ui-sref-active="active" ng-if="loggedUser.viewPermissions.VIRTUAL_MEETING">
		<a ui-sref="app.virtual-meeting-list">
			<i class="material-icons">person_pin</i>
			<span class="font-bold">Incontri virtuali</span>
		</a>
	</li>
	<li class="line dk"></li>
	<li ng-class="{active: $state.includes('app.dried-blood-spot-test-list')}" ng-if="loggedUser.viewPermissions.DRIED_BLOOD_SPOT_TEST">
		<a ui-sref="app.dried-blood-spot-test-list">
			<i class="material-icons">bubble_chart</i>
			<span class="font-bold">Lista Test DBS</span>
		</a>
	</li>
	<li class="line dk"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.documents">
			<i class="material-icons">file_upload</i>
			<span class="font-bold">I miei documenti</span>
		</a>
	</li>
	<li class="line dk"></li>
	<li ng-class="{active: $state.includes('app.material-deliveries')}">
		<a ui-sref="app.material-deliveries">
			<i class="material-icons">local_shipping</i>
			<span class="font-bold">Consegne / Spedizioni</span>
		</a>
	</li>
	<!-- <li ng-class="{active: $state.includes('app.material-damages')}">
		<a ui-sref="app.material-damages">
			<i class="material-icons">sms_failed</i>
			<span class="font-bold">Malfunzionamenti / Rotture</span>
		</a>
	</li> -->
	<li class="line dk"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.pharmacovigilanceevents">
			<i class="material-icons">report_problem</i>
			<span class="font-bold">Farmacovigilanza</span>
		</a>
	</li>
	<li class="line dk"></li>
	<li ng-class="{active: $state.includes('app.exports')}">
		<a ui-sref="app.exports">
			<i class="material-icons">insert_drive_file</i>
			<span class="font-bold">Export</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.phuteremeds')}">
		<a ui-sref="app.phuturemeds">
			<i class="material-icons">videogame_asset</i>
			<span class="font-bold">PluggyMeds</span>
		</a>
	</li>
	<li class="line dk hidden-folded" ng-if="loggedUser.viewPermissions.BLOOD_SAMPLING"></li>
	<li ng-class="{active: $state.includes('app.blood-sampling-list')}" ng-if="loggedUser.viewPermissions.BLOOD_SAMPLING">
		<a ui-sref="app.blood-sampling-list">
			<i class="material-icons">colorize</i>
			<span class="font-bold">Lista prelievi ematici</span>
		</a>
	</li>
</ul>
