<ul class="nav">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<i class="material-icons">camera_enhance</i>
			<span class="font-bold">La mia homepage</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.diary({ patientId: loggedUser.id })">
			<i class="material-icons">web</i>
			<span class="font-bold">Il mio diario</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.calendar">
			<i class="material-icons">event</i>
			<span class="font-bold">I miei appuntamenti</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active" ng-repeat="a in manualActivitiesMenu">
		<a ng-click="startMasterActivityMenu(a)">
			<i ng-if="a.name == 'Chiamami'" class="icon-call-in" style="font-size: 24px;" />
			<i ng-if="a.name == 'Richiedi intervento a domicilio'" class="fa fa-user-md" style="font-size: 24px;" />
			<span class="font-bold">{{a.name}}</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.questionnaires({ patientId: loggedUser.id })">
			<i class="material-icons">live_help</i>
			<span class="font-bold">Questionari</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.documents">
			<i class="material-icons">file_upload</i>
			<span class="font-bold">I miei documenti</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.usermessage') || $state.includes('app.usermessage')}">
		<a ui-sref="app.usermessages">
			<i class="material-icons">textsms</i>
			<span class="font-bold" unread-user-message>Comunicazioni</span>
		</a>
	</li>
	<!-- 
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.tutorial">
			<i class="material-icons">airplay</i>
			<span class="font-bold">Tutorial</span>
		</a>
	</li>
	 -->
</ul>