<div class="wrapper-sm tab-fix-margin">
<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.medicalcenters">Lista Centri Medici</a></li>
	<li class="active"><a ui-sref="app.medicalcenter({id: id})">Centro Medico {{detail.medicalCenter.name}}</a></li>
	<li class="active">Dipartimento {{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="!selection && canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['code'].VIEW">
										<label class="control-label">Codice</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
									</div>
									<div class="form-group col-md-8" ng-if="fieldPermissions['name'].VIEW">
										<label class="control-label">Nome</label><sup>*</sup>
										<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
										<label class="control-label">Descrizione</label>
										<textarea rows="4" id="detail.description" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['refFirstName'].VIEW">
										<label class="control-label">Nome referente responsabile</label>
										<input type="text" id="detail.refFirstName" class="form-control" ng-disabled="!fieldPermissions['refFirstName'].UPDATE" ng-model="detail.refFirstName" tooltip="{{errors['detail.refFirstName']}}" ng-class="{error: errors['detail.refFirstName']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['refLastName'].VIEW">
										<label class="control-label">Cognome referente responsabile</label>
										<input type="text" id="detail.refLastName" class="form-control" ng-disabled="!fieldPermissions['refLastName'].UPDATE" ng-model="detail.refLastName" tooltip="{{errors['detail.refLastName']}}" ng-class="{error: errors['detail.refLastName']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['qualification'].VIEW">
										<label class="control-label">Qualifica referente responsabile</label>
										<input type="text" id="detail.qualification" class="form-control" ng-disabled="!fieldPermissions['qualification'].UPDATE" ng-model="detail.qualification" tooltip="{{errors['detail.qualification']}}" ng-class="{error: errors['detail.qualification']}">
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati di contatto</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['email'].VIEW">
										<label class="control-label">Email</label>
										<input type="text" id="detail.email" class="form-control" ng-disabled="!fieldPermissions['email'].UPDATE" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['phoneNumber'].VIEW">
										<label class="control-label">Telefono</label>
										<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['faxNumber'].VIEW">
										<label class="control-label">Fax</label>
										<input type="text" id="detail.faxNumber" rows="1" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['cellPhoneNumber'].VIEW">
										<label class="control-label">Cellulare</label>
										<input type="text" id="detail.cellPhoneNumber" rows="1" class="form-control" ng-disabled="!fieldPermissions['cellPhoneNumber'].UPDATE" ng-model="detail.cellPhoneNumber" tooltip="{{errors['detail.cellPhoneNumber']}}" ng-class="{error: errors['detail.cellPhoneNumber']}">
									</div>
								</div>
								<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
								<div class="row">
									<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
										<label class="control-label">Note interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="!selection && canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>
</div>