<div class="wrapper-sm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="row" st-table="rowCollection" st-safe-src="listDepartment">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Dipartimenti</h4>
							</div>
							<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsertDepartment || canExportDepartment)">
					        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
					         		<i class="material-icons">view_list</i>
					    		</button>
					        	<ul class="dropdown-menu pull-right">
					            	<li ng-if="canInsertDepartment">
					            		<a department-modal="''" medical-center-id="id" post-fn="initListDepartment"
					            			post-fn-dismiss="initListDepartment">
					            			<i class="material-icons">add</i>
					            			<span>Nuovo</span>
					            		</a>
					            	</li>
					        	</ul>
					    	</div>
					    </div>
						<table class="table">		
							<thead>
								<tr>
									<th style="width: 1%;" ng-if="selection" />
									<th st-sort="name">Nome</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="phoneNumber">Telefono</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="faxNumber">Fax</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="cellPhoneNumber">Cellulare</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="email">Email</th>
									<th style="width: 30px; padding: 0;" ng-if="!selection" />
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in rowCollection" department-modal="row.id" medical-center-id="id" post-fn="initListDepartment"
									post-fn-dismiss="initListDepartment" style="cursor: pointer;">
									<td ng-if="selection">
										<label class="i-checks">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
											<i />
										</label>
									</td>
									<td ng-bind="row.name" />
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.phoneNumber" />
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.faxNumber" />
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.cellPhoneNumber" />
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" />
									<td ng-if="!selection" style="padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="canDeleteDepartment">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
								            	<li ng-if="canDeleteDepartment">
								            		<a ng-click="deleteDepartment(row.id)">
								            			<i class="material-icons">delete</i>
								            			Cancella
								            		</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>					
								</tr>
							</tbody>
							<tbody ng-show="rowCollection == undefined || rowCollection.length==0">
								<tr>
									<td colspan="6">
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--
					<div class="col-sm-12">
						<div class="m-n" st-pagination="" st-items-by-page="1" st-displayed-pages="1" st-template="tpl/common/smart-table-custom-pagination.html"></div>
					</div>
					-->
				</div>	       		
			</div>
		</div>
	</div>
</div>