<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.medicalcenters">Lista Centri Medici</a></li>
	<li class="active">{{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/medicalcenter/personal-data.html'"></div>
			</tab>
			<tab disabled="isNew()">
				<tab-heading>
					<i class="material-icons">room</i>
					<span>Dipartimenti</span>
				</tab-heading>
				<div ng-include="'tpl/app/medicalcenter/departments.html'"></div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>