<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Materiale</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row" ng-if="!confirmDetails">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row" ng-if="confirmDetails">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="confirm()" title="Ok">
							Ok
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-4" ng-if="fieldPermissions['material'].VIEW">
									<label>Materiale</label>
									<ui-select ng-model="detail.material" ng-disabled="!fieldPermissions['material'].UPDATE || !isNew()" theme="bootstrap" ng-change="materialChange()">
						    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
						    			<ui-select-choices group-by="'group'" repeat="v in selects['Material'] | filter: $select.search">
						     				<div ng-bind-html="v.name | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
								<div class="form-group col-md-4 col-xs-12" ng-if="fieldPermissions['model'].VIEW" >
									<label class="control-label">Modello</label>
									<input type="text" id="detail.model" class="form-control" ng-model="detail.model"
										ng-disabled="!fieldPermissions['model'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">In comodato</label>
									<div class="radio">
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['loanForUse'].UPDATE" ng-model="detail.loanForUse">
											<i error-tooltip></i>Si
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['loanForUse'].UPDATE" ng-model="detail.loanForUse">
											<i error-tooltip></i>No
										</label>
									</div>
								</div>
								<div class="form-group col-md-3 col-xs-12" ng-if="fieldPermissions['batchNumber'].VIEW" >
									<label class="control-label">Lotto</label>
									<input type="text" id="detail.batchNumber" class="form-control" ng-model="detail.batchNumber"
										ng-disabled="!fieldPermissions['batchNumber'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-3 col-xs-12" ng-if="fieldPermissions['serialNumber'].VIEW" >
									<label class="control-label">Seriale</label>
									<input type="text" id="detail.serialNumber" class="form-control" ng-model="detail.serialNumber"
										ng-disabled="!fieldPermissions['serialNumber'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-3 col-xs-12" ng-if="fieldPermissions['macAddress'].VIEW" >
									<label class="control-label">Mac Address</label>
									<input type="text" id="detail.macAddress" class="form-control" ng-model="detail.macAddress"
										   ng-disabled="!fieldPermissions['macAddress'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-3 col-xs-12" ng-if="fieldPermissions['materialNumber'].VIEW" >
									<label class="control-label">Numero</label>
									<input type="text" id="detail.macAddress" class="form-control" ng-model="detail.materialNumber"
										   ng-disabled="!fieldPermissions['materialNumber'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-4" ng-if="fieldPermissions['status'].VIEW">
									<label class="control-label">Stato</label>
									<select id="detail.status" ng-disabled="!fieldPermissions['status'].UPDATE"
											ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['PatientMaterialStatus']"
											class="form-control" ng-model="detail.status" error-tooltip >
										<option value="" />
									</select>
								</div>
								<div class="form-group col-md-4" ng-if="fieldPermissions['deliveryDate'].VIEW">
									<label class="control-label">Data consegna</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true"
											   ng-disabled="!fieldPermissions['deliveryDate'].UPDATE || confirmDetails" ng-model="detail.deliveryDate"
											   error-tooltip>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light"
													ng-disabled="!fieldPermissions['deliveryDate'].UPDATE || confirmDetails">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4" ng-if="fieldPermissions['pickUpDate'].VIEW">
									<label class="control-label">Data ritiro/smarrimento</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true"
											   ng-disabled="!fieldPermissions['pickUpDate'].UPDATE" ng-model="detail.pickUpDate"
											   error-tooltip>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light"
													ng-disabled="!fieldPermissions['pickUpDate'].UPDATE">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
									<label class="control-label">Note</label>
									<textarea id="detail.internalNotes" rows="5" class="form-control" error-tooltip
											  ng-disabled="!fieldPermissions['notes'].UPDATE" ng-model="detail.notes" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="detail.userMaterials && detail.userMaterials.length > 0">
				<div class="col-md-12">
					<div class="panel panel-default" error-tooltip="detail.userMaterials">
						<div class="row" st-table="detail.materials">
							<div class="col-sm-12">
								<div class="bg-secondary wrapper-xs">
									<div class="inline">
										<h4 class="m-sm">Materiali</h4>
									</div>
									<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
							        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
							         		<i class="material-icons">view_list</i>
							    		</button>
							        	<ul class="dropdown-menu pull-right">
							            	<li ng-if="canInsert">
							            		<a patient-material-detail detail-id="''" patient-id="patientId" view="detailView" is-modal="isModal || detailView === undefined"
							            			post-fn="search">
							            			<i class="material-icons">add</i>
							            			<span>Nuovo</span>
							            		</a>
							            	</li>
							        	</ul>
							    	</div>
							    </div>
								<table class="table">		
									<thead>
										<tr>
											<th st-sort="material.name">Nome</th>
											<th style="width: 30px; padding: 0;" />
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr ng-repeat="row in detail.userMaterials">
											<td ng-bind="row.material.name" patient-material-detail detail-id="row.id" detail="row" view="detailView" post-fn="search"
												is-modal="isModal || detailView === undefined" />
											<td style="padding: 0;">
												<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
										        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
										         		<i class="material-icons">more_vert</i>
										    		</button>
										        	<ul class="dropdown-menu pull-right">
										            	<li ng-if="permissions[row.id].DELETE">
										            		<a ng-click="delete(row.id)">
										            			<i class="material-icons">delete</i>
										            			Cancella
										            		</a>
										            	</li>
										        	</ul>
										    	</div>
											</td>					
										</tr>
									</tbody>
									<tbody ng-show="detail.userMaterials == undefined || detail.userMaterials.length==0">
										<tr>
											<td colspan="2">
												<div class="text-muted"><i>Nessun dato trovato</i></div>
											</td>
										</tr>
									</tbody>
									<tfoot ng-show="detail.userMaterials != undefined && detail.userMaterials.length>0">
										<tr>
											<th colspan="2" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
										</tr>
									</tfoot>								
								</table>
							</div>
						</div>	       		
					</div>
				</div>
			</div>
			<div class="row" ng-if="!confirmDetails">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row" ng-if="confirmDetails">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="confirm()" title="Ok">
							Ok
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Movimentazione materiali" select="patientMaterialHandlingRenderer = true">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Movimentazioni materiali</span>
			</tab-heading>
			<div ng-if="patientMaterialHandlingRenderer" patient-material-handling-list search-filters="{'PATIENT_MATERIAL_ID':id}" />
		</tab>
	</tabset>
</div>