<div class="modal-header" ng-if="popup">
	<h3 class="modal-title" style="min-height: 34px">Filtro export riconciliazione safety</h3>
</div>
<div class="modal-body modal-with-footer">
	<div class="row">
		<div class="form-group col-md-6">
			<label class="control-label">Da data</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date ng-readonly="true" ng-model="fromDate" tooltip="{{errors['fromDate']}}" ng-class="{error: errors['fromDate']}">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">A data</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date ng-readonly="true" ng-model="toDate"  tooltip="{{errors['toDate']}}" ng-class="{error: errors['toDate']}">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="generateExport()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
		Annulla
	</button>
</div>