<label class="control-label">{{label}}</label>
<ui-select ng-model="address.region" theme="bootstrap" ng-disabled="disabled">
	<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.region}}</ui-select-match>
	<ui-select-choices group-by="'group'" repeat="v.regionCode as v in regions | filter: {region: $select.search}">
		<div ng-bind-html="v.region | highlight: $select.search"></div>
	</ui-select-choices>
</ui-select>