<div class="row" id="horizontal_slider_{{id}}" ng-if="!vertical">
	<div class="col col-md-12 m-b">
		<button ng-disabled="ngDisabled" ng-click="toggleSlider()" class="btn btn-default waves-effect waves-light">
			<i class="material-icons pull-left">{{statusIcon}}</i> 
			{{statusLabel}}
		</button>
	</div>
	<div class="clearfix" />
	<div class="col col-md-2 visible-lg-inline col-md-3 text-right" style="position: relative; top: 23px;">
		<strong>{{startlabel}}</strong>
	</div>
	<div class="col col-lg-8 col-md-6">
		<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"/>
	</div>	
	<div class="col col-lg-2 visible-lg-inline col-md-3 text-left" style="position: relative; top: 23px;">
		<strong>{{endlabel}}</strong>
	</div>
</div>

<div class="row" id="vertical_slider_{{id}}" ng-if="vertical">
	<div class="col col-md-12 m-b">
		<button ng-disabled="ngDisabled" ng-click="toggleSlider()" class="btn btn-default waves-effect waves-light">
			<i class="material-icons pull-left">{{statusIcon}}</i> 
			{{statusLabel}}
		</button>
	</div>
	<div class="clearfix" />
	<div class="col-md-12">
		<div class="col col-md-12 visible-lg-inline text-center" style="position: relative;">
			<strong>{{startlabel}}</strong>
		</div>	
		<div class="col col-md-12 text-center" style="height: 250px;">
			<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" class="text-left" />
		</div>
		<div class="col col-md-12 visible-lg-inline text-center" style="position: relative;">
			<strong>{{endlabel}}</strong>
		</div>
	</div>
</div>