<label ng-if="!form.drugPickUpDelivery" class="control-label">Luogo incontro</label>
<label ng-if="form.drugPickUpDelivery" class="control-label">Luogo consegna</label>
<select ng-options="v.id as v.label disable when (!v.active && v.id !== form.locationType) for v in constants['MeetingLocation'] | meetingLocationList : form.user.type : form.isEnabledPharmacyLocationType : !form.isEnabledBloodDrawingCenterLocationType" class="form-control" ng-model="form.locationType" tooltip="{{errors['form.locationType']}}" ng-class="{error: errors['form.locationType']}"
				ng-disabled="disabled || detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
	<option value=""></option>
</select>