<style>
.data-point-label {
    font-size: 12px;
    color: gray;
}

@media (max-width: 1199px) {
.flot-x-axis div
{    
    margin-top: 30px !important;
    margin-left: 15px !important;
    transform: rotate(-75deg) translateY(-15px);
    -ms-transform:rotate(-75deg) translateY(-9px); /* IE 9 */
    -moz-transform:rotate(-75deg) translateY(-9px); /* Firefox */
    -webkit-transform:rotate(-75deg) translateY(-9px); /* Safari and Chrome */
    -o-transform:rotate(-75deg) translateY(-15px); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}
@media (max-width: 991px) {
	.flot-x-axis div
	{    
	    white-space: nowrap;
	    overflow: hidden;
	}
}

</style>

<div class="{{renderer ? '' : 'hbox'}}" style="min-height: 330px; width: 100%; {{distance != undefined ? 'overflow: auto;' : ''}}">
	<div id="nodata_{{chartType}}_{{id}}" class="alert alert-warning m-n none">{{message}}</div>
	<div id="spinner_{{chartType}}_{{id}}" class="col v-middle text-center" ng-if="renderer == false">
		<i class="fa fa-circle-o-notch fa-spin" />
	</div>
	<div id="line_{{chartType}}_{{id}}" ng-if="renderer" ui-jq="plot" ui-options="{{[defaultDataset]}}, defaultOptions" style="height:300px; margin-top: 3px; min-width: 100%; {{distance != undefined ? 'width:' + (distance * defaultDataset.data.length) + 'px;' : ''}}"
		ui-refresh="{{[defaultDataset]}}" />
		<div ng-if="defaultOptions.series.total.show">
				<h5 class="text-center font-bold">Totale {{data.total}}</h5>
		</div>
</div>