<style>
	.legendLabel {
    	font-family: Arial;
    	font-size: 12px;
	}
	.legendColorBox > div > div {
		border-radius: 50%;
	}
</style>
<div class="hbox">
	<div id="nodata_{{chartType}}_{{id}}" class="alert alert-warning m-n none">{{message}}</div>
	<div id="spinner_{{chartType}}_{{id}}" class="col v-middle text-center" ng-if="renderer == false">
		<i class="fa fa-circle-o-notch fa-spin" />
	</div>
	<div ng-if="renderer">
		<div class="col-md-3 col-xs-6" ng-repeat="ad in datas track by $index">
			<div class="block panel padder-v bg-primary text-center">
				<span ng-if="ad.average && ad.name != 'Punteggio Morisky Medio'" class="font-thin h1 block">{{ad.average}}%</span>
				
				<span ng-if="ad.average && ad.name == 'Punteggio Morisky Medio'" class="font-thin h1 block">{{ad.average}}</span>
				<span ng-if="!ad.average" class="font-thin h1 block">N.D.</span>
				<div class="text-md" ng-bind="ad.name"></div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12" >										
			<div class="block">
				<div class="text-md">
					Il <b>Punteggio Morisky Medio</b> è dato  dalla media dei punteggi Morisky di tutti i pazienti.<br/>
					La percentuale dell'<b>Aderenza PluggyMed Media</b> è data  dalla media dell'aderenza PluggyMed di tutti i pazienti che utilizzano o hanno utilizzato PluggyMed.
				</div>
			</div>
		</div>
	</div>
</div>