<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista Export</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Export</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FILENAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Stato</label>
									<select class="form-control" ng-model="searchFilters.filters.STATUS">
										<option value="">Tutti</option>
										<option value="PENDING">In elaborazione</option>
										<option value="ACTIVE">Completato</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Export</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && canInsert">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right" style="z-index: 9999;">
						            	<li ng-repeat="e in selects['XlsExportType'] | constantActive">
									        <a export-modal="e.id" export-title="e.label"  >
						            			<i class="material-icons">add</i>
									         	<span>Genera report {{e.label}}</span>
									        </a>
									    </li> 
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th class="hidden-xs" st-sort="fileName">File</th>
										<th st-sort="dateInsert">Data Creazione</th>
										<th st-sort="exportType" ng-if="!isHcp()">Tipo</th>
										<th st-sort="status">Stato</th>
										<th></th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td class="hidden-xs" ng-bind="row.fileName" />
										<td ng-bind="row.dateInsert | formatDateTime" />
										<td ng-if="!isHcp()">{{ row.exportTypeLabel }}</td>
										<td style="color:{{row.status=='PENDING'?'red':'green'}}">{{row.status | constantLabel:'StoredExportStatus'}}</td>
										<td style="padding: 0;" >										
											<div class="btn-group dropdown pull-right" dropdown ng-click="$event.stopPropagation();">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									        		<li ng-if="permissions[row.id].DOWNLOAD">
									            		<a ng-click="$event.stopPropagation();" stored-export-viewer id=row.id>
									            			<i class="material-icons">file_download</i>
									            			Scarica
									            		</a>
									            	</li>
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="$event.stopPropagation();" stored-export-viewer id=row.id action=delete>
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr ng-if="!isHcp()">
										<td colspan="5" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
									<tr ng-if="isHcp()">
										<td colspan="4" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" ng-if="!isHcp()"/>
										<th colspan="4" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" ng-if="isHcp()"/>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>