<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Messaggi</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title">Lista Messaggi</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Oggetto</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.SUBJECT">
								</div>
								<div class="form-group col-lg-4">
									<label>Messaggio</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.MESSAGE">
								</div>
								<!--  
								<div class="form-group col-lg-4">
									<label>Destinatario</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.RECEIVER_ID">
								</div>
								-->
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Messaggi</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle >
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a ui-sref="app.usermessage({id: ''})"">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr>
										<th style="width: 30px; padding: 0;" />
										<th st-sort="subject">Messaggio</th>
										<th style="width: 30px; padding: 0;" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" ng-click="edit(row.id)">
										<td ng-if="row.status == 'SENT'">
											<i ng-if="row.hasBeenReadByMe === undefined" class="material-icons">mail</i>
											<i ng-if="row.hasBeenReadByMe === false" class="material-icons">markunread</i>											
											<i ng-if="row.hasBeenReadByMe === true" class="material-icons" >drafts</i>											 
										</td>
										<td ng-if="row.status == 'DRAFT'">
											<i class="material-icons">create</i>
										</td>
										<td>
											<b>{{row.subject}}</b><br>
											<small>{{row.message | limitTo : 100 }}</small><br>
											<i><small ng-if="row.sender.id != loggedUser.id">ricevuto da: {{row.sender.firstName}} {{row.sender.lastName}}</i></small>
										</td>
																				
										<td style="padding: 0;">
											<i class="material-icons" ng-if="row.sender.id == loggedUser.id">call_made</i>
											<i class="material-icons" ng-if="row.sender.id != loggedUser.id">call_received</i>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="5" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html">
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	       		
	</div>
</div>