<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Valore default</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6 col-xs-12" ng-if="fieldPermissions['user'].VIEW">
									<label class="control-label">Paziente</label><sup>*</sup>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{detail.user.title | constantLabel:'patientTitle'}} {{detail.user.lastName}} {{detail.user.firstName}}" error-tooltip="detail.userId">
										<span class="input-group-btn">
											<button ng-if="fieldPermissions['user'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.user" 
												user-type="'PATIENT'" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" patient-modal="detail.user.id"  ng-disabled="detail.user == undefined"
												multiple-list="false" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button ng-if="fieldPermissions['user'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.user == undefined" ng-click="detail.user = undefined"
												title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-6 col-xs-12" ng-if="fieldPermissions['logistic'].VIEW">
									<label class="control-label">Operatore Logistico</label><sup>*</sup>
									<div class="input-group">
										<input type="text" id="detail.logisticId" class="form-control" ng-disabled="true" value="{{detail.logistic.name}}" error-tooltip="detail.logisticId">
										<span class="input-group-btn">
											<button ng-if="fieldPermissions['logistic'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" logistic-search-modal="detail.logistic" 
												user-type="'LOGISTIC'" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" logistic-modal="detail.logistic.id"  ng-disabled="detail.logistic == undefined"
												multiple-list="false" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button ng-if="fieldPermissions['logistic'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.logistic == undefined" ng-click="detail.logistic = undefined"
												title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-6 col-xs-12" ng-if="fieldPermissions['km'].VIEW" >
									<label class="control-label">KM</label><sup>*</sup>
									<input type="text" id="detail.km" class="form-control" ng-model="detail.km"
										ng-disabled="!fieldPermissions['km'].UPDATE" error-tooltip>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-t" ng-if="fieldPermissions['masterActivities'].VIEW">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="row" st-table="detail.masterActivities">
							<div class="col-sm-12">
								<div class="bg-secondary wrapper-xs">
									<div class="inline">
										<h4 class="m-sm">Attività</h4>
									</div>
									<div class="btn-group dropdown pull-right" dropdown ng-if="fieldPermissions['masterActivities'].UPDATE">
							        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
							         		<i class="material-icons">view_list</i>
							    		</button>
							        	<ul class="dropdown-menu pull-right">
							            	<li ng-if="fieldPermissions['masterActivities'].UPDATE">
							            		<a master-activity-conf-list is-modal="true" is-selection="true" is-multiple-selection="true" selected-data="detail.masterActivities"
							            			ng-init="filters = {'OWNER_TYPE': 'LOGISTIC', 'TYPE': 'MEETING', 'STATUS' : 'ACTIVE'}" search-filters="filters" >
							            			<i class="material-icons">add</i>
							            			<span>Aggiungi / Rimuovi</span>
							            		</a>
							            	</li>
							        	</ul>
							    	</div>
							    </div>
								<table class="table">		
									<thead>	
										<tr>
											<th>Nome attività</th>
											<th>Descrizione attività</th>
											<th style="width: 30px; padding: 0;" ng-if="!selection" />
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr ng-repeat="row in detail.masterActivities">
											<td ng-bind="row.name"></td>
											<td ng-bind="row.description"></td>
											<td ng-if="!selection" style="padding: 0;">
												<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
													<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
												     	<i class="material-icons">more_vert</i>
												    </button>
												    <ul class="dropdown-menu pull-right">
												    	<li ng-if="fieldPermissions['masterActivities'].UPDATE">
												        	<a ng-click="deleteMasterActivity($index)">
												            	<i class="material-icons">delete</i>
												            	Cancella
												            </a>
												        </li>
												    </ul>
												</div>
											</td>
										</tr>
									</tbody>
									<tbody ng-show="detail.masterActivities.length == undefined || detail.masterActivities.length==0">
										<tr>
											<td colspan="6">
												<div class="text-muted"><i>Nessun dato trovato</i></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
					<label class="control-label">Note interne</label>
					<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>