<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista valori default attività</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="form-group col-lg-4">
								<label>Operatore Logistico</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.logistic.name}}">
									<span class="input-group-btn">
										<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" logistic-search-modal="objectFilters.logistic"
											user-type="'LOGISTIC'" multiple-list="false" title="Seleziona" logistic-id="searchFilters.filters.LOGISTIC_ID">
											<i class="material-icons">search</i>
										</button>
										<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.logistic.id"
											user-type="'LOGISTIC'" ng-disabled="objectFilters.logistic.id === undefined" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>
										<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.logistic == undefined"
											ng-click="objectFilters.logistic = undefined; searchFilters.filters.LOGISTIC_ID = undefined;" title="Dettaglio">
											<i class="material-icons">clear</i>
										</button>					
									</span>		
								</div>
							</div>
							<div class="form-group col-lg-4">
								<label>Paziente</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
									<span class="input-group-btn">
										<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient"
											user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.PATIENT_ID">
											<i class="material-icons">search</i>
										</button>
										<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id"
											user-type="'PATIENT'" ng-disabled="objectFilters.patient.id === undefined" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>
										<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined"
											ng-click="objectFilters.patient = undefined; searchFilters.filters.PATIENT_ID = undefined;" title="Dettaglio">
											<i class="material-icons">clear</i>
										</button>					
									</span>		
								</div>
							</div>
							<div class="form-group col-lg-4">
								<label>Attività</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.masterActivity.name}}">
									<span class="input-group-btn">
										<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" master-activity-conf-list is-modal="true" 
											is-selection="true" is-multiple-selection="false" selected-data="objectFilters.masterActivity" selected-id="searchFilters.filters.MASTER_ACTIVITY_ID"
							          		 ng-init="filters = {'OWNER_TYPE': 'LOGISTIC', 'TYPE': 'MEETING', 'STATUS' : 'ACTIVE'}" search-filters="filters" title="Seleziona">
											<i class="material-icons">search</i>
										</button>
									</span>		
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Valori default attività</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a default-activity-value-detail detail-id="''" view="detailView" is-modal="isModal || detailView === undefined"
						            			post-fn="search">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="row.user.fullName">Paziente</th>
										<th st-sort="row.logistic.name">Operatore Logistico</th>
										<th style="width: 30px; padding: 0;" ng-if="!isSelection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" default-activity-value-detail detail-id="row.id" view="detailView" post-fn="search"
											is-modal="isModal || detailView === undefined" >
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
												<i />
											</label>
										</td>
										<td ng-bind="row.user.fullName" />
										<td ng-bind="row.logistic.name" />
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="2">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="2" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
			Annulla
		</button>
	</div>
</div>