<div id="blocks" ng-controller="BlockController">
    <div class="page-header">
        <h3>Card blocks of different sizes.</h3>
    </div>
    <div id="columns" class="row">
        <div class="col-sm-6 col-xs-6" ng-repeat="column in columns">
            <div class="column">
                <ul class="cards card-list" as-sortable="dragControlListeners" data-ng-model="column.cards">
                    <li class="card" ng-repeat="card in column.cards" as-sortable-item>
                        <div as-sortable-item-handle>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="card-title">{{card.title}}</span>
                                    <span class="card-title">{{card.details}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>