<div ng-model="sprintBoard" id="board" ng-controller="SprintController">

    <table id="boardTable" class="table table-bordered">
        <thead>
        <tr id="boardHeader">
            <th style="width:22%; text-align: left;">
                <span>User stories</span>
            </th>
            <th class="addStory" style="width:3%;">
            </th>
            <th ng-repeat="column in sprintBoard.columns" style="width:25%;">
                <div>
                    <span>{{column.name}}</span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="backlog in sprintBoard.backlogs">
            <th style="width:22%">
                <div class="story card sortable-item">
                    <div class="row">
                        <span class="card-title">{{backlog.name}}</span>
                    </div>
                </div>
            </th>
            <td class="addTask">
                <a title="Add card to column" ng-click="addNewCard(column)"><i
                        class="glyphicon glyphicon-plus addNewCard"></i></a>
            </td>
            <td as-sortable="sprintSortOptions" ng-repeat="phase in backlog.phases" ng-model="phase.cards">
                <div class="card" ng-repeat="card in phase.cards" as-sortable-item
                     ng-include="'views/partials/card.html'">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

