<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista medici</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
 	<div class="wrapper-sm filterWrap">
 		<div class="row">
 			<div class="col-lg-12">
 				<div class="panel panel-default m-n">
 					<div class="panel-body">
 						<form name="form" class="form-validation" novalidate ng-submit="search()">
 							<div class="row">
								<div class="form-group col-lg-4">
									<label>Cognome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label class="control-label">Centro/Dipartimento</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-readonly="true" ng-disabled="true" value="{{objectFilters.department.medicalCenter.name}} {{objectFilters.department.name}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" department-search-modal="objectFilters.department"
												multiple-list="false" title="Seleziona" department-id="searchFilters.filters.DEPARTMENT_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.department === undefined"
												ng-click="objectFilters.department = undefined; searchFilters.filters.DEPARTMENT_ID = undefined">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-4" region-select="searchFilters.filters.COUNTY" province="searchFilters.filters.PROVINCE" city="searchFilters.filters.CITY" />
								<div class="form-group col-lg-4" province-select="searchFilters.filters.PROVINCE" region="searchFilters.filters.COUNTY" city="searchFilters.filters.CITY" />
							</div>
							<div class="row">
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">Da data adesione</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_FROM" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">A data adesione</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_TO" > 
											<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">Da data ricezione modulo</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.RECEIVEMODULE_FROM" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">A data ricezione modulo</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.RECEIVEMODULE_TO" > 
											<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row" ng-if="canInvite">
								<div class="form-group col-md-6 col-lg-4">
									<label>Data ultimo invito A</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.LAST_INVITATION_DATE_TO" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-4 text-center">
									<label class="control-label">Invitabile</label>
									<div class="input-group col-md-12">
										<div class="checkbox-inline">
											<label class="i-checks m-r">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.TO_INVITE">
												<i></i>Si
											</label>
											<label class="i-checks">
												<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.TO_INVITE">
												<i></i>No
											</label>
										</div>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-4 text-center">
									<label class="control-label">Registrato</label>
									<div class="input-group col-md-12">
										<div class="checkbox-inline">
											<label class="i-checks m-r">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.REGISTERED">
												<i></i>Si
											</label>
											<label class="i-checks">
												<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.REGISTERED">
												<i></i>No
											</label>
										</div>
									</div>
								</div>
							</div>
 							<div class="row">
 								<div class="col-lg-12 text-right">
 									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
 										Cerca
 									</button>
 									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
 										Cancella
 									</button>
 								</div>
 							</div>
 						</form>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Medici</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li>
						            		<a ui-sref="app.hcp({id: ''})">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						            	<li ng-if="canInvite">
						            		<a ng-click="inviteAll()">
						            			<i class="material-icons">send</i>
						            			<span>Invita Tutti</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr ng-if="selection">
										<th colspan="6">
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th class="hidden-xs hidden-sm" st-sort="title">Titolo</th>
										<th st-sort="lastName">Cognome</th>
										<th st-sort="firstName">Nome</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="email">Email</th>
										<th class="hidden-xs hidden-sm" st-sort="o.lastInvitationDate" ng-if="canInvite">Data Ultimo Invito</th>
										<th style="width: 30px; padding: 0;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td class="hidden-xs hidden-sm" ui-sref="app.hcp({id: row.id})">{{row.title | constantLabel:'HcpTitle'}}</td>
										<td ng-bind="row.lastName" ui-sref="app.hcp({id: row.id})" />
										<td ng-bind="row.firstName" ui-sref="app.hcp({id: row.id})"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" ui-sref="app.hcp({id: row.id})" />
										<td class="hidden-xs hidden-sm" ng-bind="row.lastInvitationDate | formatDate" ng-if="canInvite" ui-sref="app.hcp({id: row.id})" />
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
												ng-if="permissions[row.id].DELETE || permissions[row.id].IMPERSONATE || permissions[row.id].INVITE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									        		<li ng-if="permissions[row.id].IMPERSONATE">
									            		<a ng-click="impersonate(row.nickName)">
									            			<i class="material-icons">person</i>
									            			Impersonifica
									            		</a>
									            	</li>
									        		<li ng-if="permissions[row.id].INVITE">
									            		<a ng-click="invite(row.id)" ng-if="relatedAccessiblePortals==undefined || relatedAccessiblePortals.length==0">
									            			<i class="material-icons">send</i>
									            			Invita
									            		</a>
									            		<a style="cursor: pointer" gateway-invite="row" user-type="HCP" related-portals="relatedAccessiblePortals" ng-if="relatedAccessiblePortals!=undefined && relatedAccessiblePortals.length>0">
									            			<i class="material-icons">send</i>
									            			Invita
									            		</a>
									            	</li>
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="5" ng-if="!canInvite">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
										<td colspan="6" ng-if="canInvite">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" ng-if="!canInvite"/>
										<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" ng-if="canInvite"/>
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
			Annulla
		</button>
	</div>
</div>