<div class="row">
	<div class="col-sm-12">
		<table class="table">		
			<thead>
				<tr>
					<th>Nome</th>
					<th class="text-center">Visualizzazione</th>
					<th class="text-center">Aggiornamento</th>
					<th class="text-center">Cancellazione</th>
				</tr>
			</thead>
			<tbody class="bg-white">
				<tr ng-repeat="row in constants['UserType']">
					<td ng-bind="row.label" />
					<td class="text-center" ng-repeat="documentCategoryPermission in constants['DocumentCategoryPermission']">
						<label class="i-checks">
							<input type="checkbox" ng-model="detail.permissions[documentType][row.id][documentCategoryPermission.id]"
								ng-disabled="!fieldPermissions['permissions'].UPDATE">
							<i />
						</label>
					</td>
				</tr>
			</tbody>
			<tbody ng-show="constants['UserType'] == undefined || constants['UserType'].length==0">
				<tr>
					<td colspan="4">
						<div class="text-muted"><i>Nessun dato trovato</i></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--
	<div class="col-sm-12">
		<div class="m-n" st-pagination="" st-items-by-page="1" st-displayed-pages="1" st-template="tpl/common/smart-table-custom-pagination.html"></div>
	</div>
	-->
</div>