<div class="modal-header {{dialogStyle}}">
	<button type="button" ng-click="close()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{ dialogTitle }}</h3>
</div>
<div class="modal-body text-md modal-with-footer" ng-bind-html="dialogText"></div>
<div class="modal-footer">
	<a  ng-click="confirm()" title="Ok" style="font-weight:600;font-size: 18px;color: #222222;">
		Ho capito
	</a>
</div>