<div class="modal-header {{dialogStyle}}">
	<button type="button" ng-click="undoCancelTask()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Annullamento attività</h3>
</div>
<div class="modal-body modal-with-footer text-md">
	<div class="row">
		<div class="form-group col-md-12">
			<label class="control-label">Motivo mancata esecuzione<sup>*</sup></label>
			<select ng-options="v.id as v.label disable when (!v.active && v.id !== cancelTaskForm.failedReason) for v in constants['ActivityFailedReason']" class="form-control" ng-model="cancelTaskForm.failedReason" tooltip="{{errors['failedReason']}}" ng-class="{error: errors['failedReason']}">
				<option value=""></option>
			</select>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Dettaglio mancata esecuzione</label>
			<textarea class="form-control" ng-model="cancelTaskForm.failedReasonDetail" tooltip="{{errors['failedReasonDetail']}}" ng-class="{error: errors['failedReasonDetail']}" />
		</div>
	</div>
	<div class="row" ng-if="canSkipActivity && cancelTaskForm.failedReason">
		<div class="form-group col-md-4">
			<label class="control-label">Saltare l'attività?</label>
			<div class="radio m-b-none">
				<label class="i-checks m-r">
					<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="cancelTaskForm.skipActivity">
					<i tooltip="{{errors['skipActivity']}}" ng-class="{error: errors['skipActivity']}"></i>Si
				</label>
				<label class="i-checks">
					<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="cancelTaskForm.skipActivity">
					<i tooltip="{{errors['skipActivity']}}" ng-class="{error: errors['skipActivity']}"></i>No
				</label>
			</div>
		</div>
		<div class="form-group col-md-8">
			<label class="control-label">&nbsp;</label>
			<label class="control-label text-u-l">Nel caso di attività proposte automaticamente dal sistema, se si sceglie "Si" l'attività non verrà più riproposta e si passerà a quelle successive previste dai servizi, se si sceglie "No" l'attività verrà nuovamente riproposta.</label>
		</div>
		
		<div class="form-group col-md-6" ng-if="cancelTaskForm.skipActivity">
			<label class="control-label">Come procedere con le attività successive?<sup>*</sup></label>
			<select ng-options="v.id as v.label disable when (!v.active && v.id !== cancelTaskForm.skipOption) for v in constants['ActivitySkipOption']" class="form-control" ng-model="cancelTaskForm.skipOption" tooltip="{{errors['skipOption']}}" ng-class="{error: errors['skipOption']}">
				<option value=""></option>
			</select>
		</div>
		<div class="form-group col-md-6" ng-if="cancelTaskForm.skipActivity">
			<label class="control-label">&nbsp;</label>
			<label class="control-label text-u-l">A seconda della selezione il sistema proporrà o non proporrà le attività successive che dipendono da questa attività, in base alle loro configurazioni.</label>
		</div>
		<div class="form-group col-lg-12" ng-repeat="prop in detail.form.formProperties track by $index" ng-if="cancelTaskForm.skipOption && prop.readable" ng-init="form = prop.value">
			<!--
			<div class="row" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
				<div class="form-group col-md-12">
					<h4 class="b-b b-3x m-n">Esito dei compiti previsti per questa attività</h4>
				</div>
			</div>
			-->
			<div class="row">
				<div class="form-group col-md-3" ng-if="cancelTaskForm.skipActivity">
					<label class="control-label">Data attività</label>
					<div class="input-group">
						<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="form.date"
							tooltip="{{errors['form.date']}}" ng-class="{error: errors['form.date']}">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
								<i class="material-icons">date_range</i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<ul class="list-group list-group-lg m-b" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
				<li class="list-group-item no-padder m-t-sm" ng-repeat="ca in form.complementaryActivities track by $index" ng-if="ca.type === 'DRUG_ADMINISTRATION'">
					<div class="hbox wrapper-xs {{ca.required ? 'b-b b-light' : ''}}">
						<div class="col v-middle text-left">
							<div class="pull-left m-r">
								<label class="h4 bg-warning avatar thumb text-center w-full" ng-if="ca.required" style="line-height: 50px;" title="Attività obbligatoria">O</label>
								<label class="h4 bg-success avatar thumb text-center w-full" ng-if="!ca.required" style="line-height: 50px;" title="Attività facoltativa">F</label>
								<label class="h4 m-l">{{ca.name}}</label>
							</div>
						</div>
						<div class="col v-middle text-left">
							<select ng-options="v.id as v.label disable when (!v.active && v.id !== ca.status) for v in constants['ComplementaryActivityStatus'] | constantActive | constantExcludeValuesFilter:[(form.complementaryActivities[$index].approvements == undefined || form.complementaryActivities[$index].approvements.length <= 0) ? 'SKIPPED' : undefined]"
								class="form-control" ng-model="ca.status" tooltip="{{errors['form.complementaryActivities[$index].status']}}"
								ng-class="{error: errors['form.complementaryActivities[$index].status']}"
								ng-disabled="true" ng-init="ca.status = 'NOT_COMPLETED'">
								<option value="" disabled selected>Indicare l'esito</option>
							</select>
						</div>
					</div>
					<div class="container-fluid b-t" ng-if="ca.type == 'DRUG_ADMINISTRATION'">
						<div class="row wrapper-sm">
							<ng-include src="'tpl/app/activiti/form-type/object/drug-administration.html'" />
						</div>
					</div>
				</li>
			</ul>
			<div ng-if="cancelTaskForm.skipOption != 'NOT_CONTINUE'" ng-include="'tpl/app/activiti/form-type/object/user-activity-depending-activities.html'" />
			<div ng-if="cancelTaskForm.skipOption != 'NOT_CONTINUE'" ng-include="'tpl/app/activiti/form-type/object/user-activity-depending-services.html'" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-bold">
			<strong>Continuando l'attività verrà cancellata e non sarà possibile annullare l'operazione. Questa operazione potrà avere impatti su tutto il flusso a cui essa è collegata. Procedere?</strong>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default waves-effect waves-light" ng-click="confirmCancelTask()" title="Continua">
		Continua
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoCancelTask()" title="Annulla">
		Annulla
	</button>
</div>