<div class="alert modal-header {{dialogStyle}}">
	<button type="button" ng-click="cancel()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{ dialogTitle }}</h3>
</div>
<div class="modal-body text-md modal-with-footer" ng-bind-html="dialogText"></div>
<div class="modal-footer">
	<button class="btn btn-default waves-effect waves-light" ng-click="confirm()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="cancel()" title="Annulla">
		Annulla
	</button>
</div>