<div class="modal-header {{dialogStyle}}">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Annullamento attività</h3>
</div>
<div class="modal-body modal-with-footer text-md">
	<div class="row">
		<div class="form-group col-md-12">
			<label class="control-label">Motivo mancata esecuzione <sup>*</sup></label>
			<select ng-options="v.id as v.label disable when (!v.active && v.id !== form.failedReason) for v in constants['ActivityFailedReason']" class="form-control" ng-model="form.failedReason" tooltip="{{errors['failedReason']}}" ng-class="{error: errors['failedReason']}">
				<option value=""></option>
			</select>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Dettaglio mancata esecuzione</label>
			<textarea class="form-control" ng-model="form.failedReasonDetail" tooltip="{{errors['failedReasonDetail']}}" ng-class="{error: errors['failedReasonDetail']}" />
		</div>
	</div>
	<div class="row" ng-if="canSkipActivity && form.failedReason">
		<div class="form-group col-md-4">
			<label class="control-label">Saltare l'attività?</label>
			<div class="radio m-b-none">
				<label class="i-checks m-r">
					<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="form.skipActivity">
					<i tooltip="{{errors['skipActivity']}}" ng-class="{error: errors['skipActivity']}"></i>Si
				</label>
				<label class="i-checks">
					<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="form.skipActivity">
					<i tooltip="{{errors['skipActivity']}}" ng-class="{error: errors['skipActivity']}"></i>No
				</label>
			</div>
		</div>
		<div class="form-group col-md-8">
			<label class="control-label">&nbsp;</label>
			<label class="control-label text-u-l">Nel caso di attività proposte automaticamente dal sistema, se si sceglie "Si" l'attività non verrà più riproposta e si passerà a quelle successive previste dai servizi, se si sceglie "No" l'attività verrà nuovamente riproposta.</label>
		</div>
		
		<div class="form-group col-md-6" ng-if="form.skipActivity">
			<label class="control-label">Come procedere con le attività successive?<sup>*</sup></label>
			<select ng-options="v.id as v.label disable when (!v.active && v.id !== form.skipOption) for v in constants['ActivitySkipOption']" class="form-control" ng-model="form.skipOption" tooltip="{{errors['skipOption']}}" ng-class="{error: errors['skipOption']}">
				<option value=""></option>
			</select>
		</div>
		<div class="form-group col-md-6" ng-if="form.skipActivity">
			<label class="control-label">&nbsp;</label>
			<label class="control-label text-u-l">A seconda della selezione il sistema proporrà o non proporrà le attività successive che dipendono da questa attività, in base alle loro configurazioni.</label>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-bold">
			Continuando l'attività verrà cancellata e non sarà possibile annullare l'operazione.<br/>Questa operazione potrà avere impatti su tutto il flusso a cui essa è collegata.<br />Procedere?
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default waves-effect waves-light" ng-click="confirm()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="cancel()" title="Annulla">
		Annulla
	</button>
</div>