	<div class="userDashboard" style="border: none;position: relative;z-index: 5;">
		<div class="userDet">
			<div class="avatar" ng-if="user.avatar != undefined && user.avatar != null" >
				<button class="btn btn-rounded btn-default btn-lg btn-icon waves-effect waves-light"
						style="cursor: default;" ng-click="changeAvatarInfo()">
							<img
								ng-src="{{user.avatar.imageUrl}}"
								class="img-responsive {{row.selected ? 'active' : ''}}"
								ng-click="changeSelection(row)" />
				</button>
			</div>
			<div ng-if="user.avatar == undefined && user.avatar == null" class="avatar">
				<button class="btn btn-rounded btn-default btn-lg btn-icon waves-effect waves-light"
				style="cursor: default;" ng-click="changeAvatarInfo()">
						<svg width="50px" height="50px" viewBox="0 0 50 50" >

							<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

								<g  transform="translate(-329.000000, -402.000000)">

									<g  transform="translate(329.000000, 402.000000)">

										<rect x="0" y="0" width="50" height="50"></rect>

										<path d="M25.5319149,21.2898551 C27.9808511,21.2898551 29.787234,19.4827888 29.787234,17.0279063 C29.787234,14.5730238 27.9808511,12.7659574 25.5319149,12.7659574 C23.0851064,12.7659574 21.2765957,14.5730238 21.2765957,17.0279063 C21.2765957,19.4827888 23.0851064,21.2898551 25.5319149,21.2898551 Z M25.5319149,23.4208296 C20.8319149,23.4208296 17.0212766,26.8559603 17.0212766,31.0923375 L17.0212766,31.9148936 L34.0425532,31.9148936 L34.0425532,31.0923375 C34.0425532,26.8559603 30.2319149,23.4208296 25.5319149,23.4208296 Z"  fill="#000000" fill-rule="nonzero"></path>

										<path d="M39.4799054,4.25531915 L10.5200946,4.25531915 C8.23847518,4.25531915 6.38297872,6.11611702 6.38297872,8.40425532 L6.38297872,35.3723404 C6.38297872,37.6604787 8.23847518,39.5212766 10.5200946,39.5212766 L18.7943262,39.5212766 L25,45.7446809 L31.2056738,39.5212766 L39.4799054,39.5212766 C41.7615248,39.5212766 43.6170213,37.6604787 43.6170213,35.3723404 L43.6170213,8.40425532 C43.6170213,6.11611702 41.7615248,4.25531915 39.4799054,4.25531915 Z M29.1371158,35.3723404 L25,39.5212766 L20.8628842,35.3723404 L10.5200946,35.3723404 L10.5200946,8.40425532 L39.4799054,8.40425532 L39.4840426,35.3723404 L29.1371158,35.3723404 Z"  fill="#000000" fill-rule="nonzero"></path>

									</g>

								</g>

							</g>

						</svg>

				</button>

			</div>

			<div class="user">

				<p style="margin: 0;">{{ $state.current.name == 'app.profile' ? 'Benvenuto ' : '' }}{{user.avatarNickName}}</p>

				<h4 style="margin-top:0;margin-bottom:20px;">{{user.title | constantLabel:'HcpTitle'}} {{user.lastName}} {{user.firstName}}</h4>

				<div class="label {{user.status == 'WAITING' ? 'bg-primary' : ''}}

					{{user.status == 'ACTIVE' || true ? 'bg-success' : ''}}

					{{user.status == 'SUSPENDED' ? 'bg-warning' : ''}}

					{{user.status == 'EXITED' ? 'bg-info' : ''}}

					{{user.status == 'DELETED' ? 'bg-danger' : ''}}">Stato: {{user.status | constantLabel: 'UserStatus'}}

				</div>

			</div>

		</div>

	</div>





<div class="panel panel-action-half" style="box-shadow:none;border:none;">



	<div class="hbox text-center" ng-if="user.status != null && user.status !== 'WAITING'">

		<div class="col dropdown" dropdown ng-if="manualActivities !== null && (manualActivities.length > 0 || isInternalStaff()) && !isHcp() && !isPatient()">

			<a href="" class="dropdown-toggle w-full h-full block" dropdown-toggle>

				<div class="wrapper-md">

					<label class="h5">Attività manuali</label>

					<b class="badge bg-info ng-binding">{{manualActivities.length}}</b>

					<i class="material-icons v-middle" ng-if="manualActivities.length > 0">keyboard_arrow_down</i>

				</div>

			</a>

			<ul class="dropdown-menu animated fadeInRight w-full" ng-if="manualActivities.length > 0">

				<li ng-repeat="manualActivity in manualActivities" >

					<a ng-click="start(manualActivity)" href>

						<div class="text-md">{{manualActivity.name}}</div>

	        			<span class="text-xs">{{manualActivity.type | constantLabel: 'MasterActivityType'}}</span>

	        		</a>

				</li>

			</ul>

		</div>

		<div class="col dropdown" dropdown ng-if="manualServices !== null && (manualServices.length > 0 || isInternalStaff())">

			<a href="" class="dropdown-toggle w-full h-full block" dropdown-toggle>

				<div class="wrapper-md">

					<label class="h5">Servizi manuali</label>

					<b class="badge bg-info ng-binding">{{manualServices.length}}</b>

					<i class="material-icons v-middle" ng-if="manualServices.length > 0">keyboard_arrow_down</i>

				</div>

			</a>

			<ul class="dropdown-menu animated fadeInRight w-full" ng-if="manualServices.length > 0">

				<li ng-repeat="manualService in manualServices" start-user-service-modal="manualService.id" user-id="user.id">

					<a href>

						<div class="text-md">{{manualService.name}}</div>

	        			<span class="text-xs">{{manualService.type | constantLabel: 'MasterActivityType'}}</span>

	        		</a>

				</li>

			</ul>

		</div>

	</div>

	<div class="hbox text-center" ng-if="user.status === 'WAITING' && user.type!='PATIENT' && user.type!='HCP'">

		<div class="col padder-v text-muted b-r b-light">

			<button ng-click="activate()" ng-disabled="!permissions['ACTIVATE']" class="btn btn-default btn-block btn-flat">

	    		<div>

	    			<span class="h4">Premi per attivare</span>

	    		</div>

	    	</button>    

		</div>

	</div>

	<div class="hbox text-center" ng-if="user.status === 'WAITING' && (user.type=='PATIENT' || user.type=='HCP')">

		<div class="col padder-v text-muted b-r b-light">

			<button  user-activate-modal user="user" post-fn="activate" field-permissions="fieldPermissions" ng-disabled="!permissions['ACTIVATE']" class="btn btn-default btn-block btn-flat">

	    		<div>

	    			<span class="h4">Premi per attivare</span>

	    		</div>

	    	</button>    

		</div>

	</div>

</div>