
<div class="wrapper-sm filterWrap">
	<div class="bg-secondary wrapper-xs">
		<div class="row">
			
			<!-- Se operatore o supplier includi i filtri -->
			<div ng-include="'tpl/app/directive/dashboard/hcp-dashboard-filter.html'" ng-if="loggedUser.type!='PATIENT' && loggedUser.type!='HCP'"></div>
			
			
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='HCP' || loggedUser.type=='PATIENT'">
				<div class="inline">
					<button export-pdf="PATIENT_STATS_FOR_HCP" template="tpl/app/dashboard/export/export_HCP.html" filters="filters" parameter-map ="{'hcpId':loggedUser.id}" filename="DASHBOARD_MEDICO.pdf" class="btn btn-primary">Esporta</button>
				</div>
				<div class="filterClone inline" >
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
						
							<div ng-include="'tpl/app/directive/dashboard/hcp-dashboard-filter.html'"></div>

						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="wrapper-sm m-t main-dashboard">	
	<div class="row">
		<!--
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Aderenza pazienti</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_ADHERENCE" filters="filters"
					refresh="refresh" options="{colors:['#0DA409', '#78EA74','#F2DD0F','#ED7708','#F20A0A'],series:{percentage:true}}" />
			</div>
		</div>
		-->
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Andamento medio pazienti</div>
				<div class="panel-body" quiperte-adherence filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per sesso</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_SEX" filters="filters"
					refresh="refresh" options="{colors:['#4FC3F7', '#F5B5D3'],series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per fasce d'et&agrave;</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_AGE" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per stato</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_STATUS" filters="filters"
					refresh="refresh" options="{colors:['#00C853', '#FFEA00', '#FF3D00'],series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per terapia</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_THERAPY" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-12" >
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Adesioni pazienti per mese</div>
				<div class="panel-body " line-chart chart-type="PATIENT_ACCESSION_DATE" filters="filters" refresh="refresh"  options="{series:{total:{show:true}}}"/>
			</div>
		</div>
	</div>
</div>