							<div class="col-md-12">
								<div class="panel panel-default m-n">
									<div class="panel-body">
										<form name="dashboardForm" class="form-validation" novalidate ng-submit="refreshCharts()">
											<div class="row">
												<div class="form-group col-md-4">
													<label class="control-label">Pazienti per sesso</label>
													<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.PATIENT_SEX) for v in constants['Sex'] | constantActive"
														class="form-control" ng-model="filters.PATIENT_SEX">
														<option value="">Tutti i generi</option>
													</select>
												</div>
												<div class="form-group col-md-4">
													<label class="control-label">Pazienti per stato</label>
													<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.PATIENT_STATUS) for v in constants['PatientStatus'] | constantAcceptedValuesFilter:['IN_ACTIVATION','ACTIVE','SUSPENDED','DROP_OUT']"
														class="form-control" ng-model="filters.PATIENT_STATUS">
														<option value="">Tutti gli stati</option>
													</select>
												</div>
												<div class="form-group col-md-4">
													<label class="control-label">Pazienti per terapia</label>
													<select ng-options="v.id as v.name for v in selects['Drugs']"
														class="form-control" ng-model="filters.PATIENT_LAST_DRUG_ID">
														<option value="">Tutti i farmaci</option>
													</select>	
												</div> 
												<div class="form-group col-md-4">
													<label class="control-label">Pazienti per fasce d'et&agrave;</label>
													<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.PATIENT_AGE) for v in constants['StatsAgeRange']"
														class="form-control" ng-model="filters.PATIENT_AGE">
														<option value="">Tutte le fasce d'et&agrave;</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="pull-right">
														<button class="btn btn-primary waves-effect waves-light" type="submit" title="Applica">
															Applica
														</button>
														<button class="btn btn-default waves-effect waves-light" type="button" ng-click="clearFilters();" title="Pulisci">
															Pulisci
														</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>