
<div class="form-group col-md-3">
    <label>Profili che possono vedere il questionario</label>
    <ui-select id="viewers" ng-model="detail.viewers" theme="bootstrap" multiple='true' ng-disabled="!((isNew() && canInsert) || canUpdate)">
		<ui-select-match placeholder="Seleziona" allow-clear="true">{{$item.label}}</ui-select-match>
		<ui-select-choices repeat="item in questionnairePermissionUserTypes track by item.id | filter: $select.search">
			<div ng-bind-html="item.label | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>				
</div>

<div class="form-group col-md-3">
    <label>Profili che possono compilare il questionario</label>
    <ui-select id="compilers" ng-model="detail.compilers" theme="bootstrap" multiple='true' ng-disabled="!((isNew() && canInsert) || canUpdate)">
		<ui-select-match placeholder="Seleziona" allow-clear="true">{{$item.label}}</ui-select-match>
		<ui-select-choices repeat="item in questionnairePermissionUserTypes track by item.id | filter: $select.search">
			<div ng-bind-html="item.label | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>				
</div>

<div class="form-group col-md-3">
    <label>Profili che possono confermare il questionario</label>
    <ui-select id="approvers" ng-model="detail.approvers" theme="bootstrap" multiple='true' ng-disabled="!((isNew() && canInsert) || canUpdate)">
		<ui-select-match placeholder="Seleziona" allow-clear="true">{{$item.label}}</ui-select-match>
		<ui-select-choices repeat="item in questionnairePermissionUserTypes track by item.id | filter: $select.search">
			<div ng-bind-html="item.label | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>				
</div>

<div class="form-group col-md-3">
    <label>Profili che possono vedere il punteggio del questionario</label>
    <ui-select id="scoreViewers" ng-model="detail.scoreViewers" theme="bootstrap" multiple='true' ng-disabled="!((isNew() && canInsert) || canUpdate)">
		<ui-select-match placeholder="Seleziona" allow-clear="true">{{$item.label}}</ui-select-match>
		<ui-select-choices repeat="item in questionnairePermissionUserTypes track by item.id | filter: $select.search">
			<div ng-bind-html="item.label | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>				
</div>