

		
<div ng-repeat="q in detail.questions">
	<div ng-if="!questionsEditingMode[$index]" ng-include="'tpl/app/program/questionnaires/question.html'"/>
	<div class="m-b m-t" ng-if="questionsEditingMode[$index]" ng-include="'tpl/app/program/questionnaires/question-edit.html'"/>
</div>

<div class="form-group col-md-12 text-left" ng-if="((isNew() && canInsert) || canUpdate)">    
	<div class="panel panel-default">
     	<div class="panel-heading b-b"><strong>Inserisci un nuovo oggetto</strong></div>
     	<div class="panel-body centered">
     		<div class="row">
				<div class="form-group col-lg-12">
			    	<button ng-if="detail.questions!=undefined && detail.questions!=null && detail.questions.length>0" type="button" class="btn btn-default m-r m-b" ng-click="addQuestion('CLONE')"><i class="fa fa-paste fw"></i> Copia precedente</button>
	          		<span class="m-l m-r m-b"><strong>Domande:</strong></span>
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('SINGLE_CHOICE')"><i class="fa fa-check-square-o fw"></i> Scelta singola</button>	
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('MULTIPLE_CHOICE')"><i class="fa fa-th-list fw"></i> Scelta Multipla</button>	
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('FREE')"><i class="fa fa-font fw"></i> Testo libero</button>	
	          		<button type="button" class="btn btn-default m-b " ng-click="addQuestion('NUMERIC_VALUE')"><i class="fa fa-superscript fw"></i> Valore numerico</button>	
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('SCORE')"><i class="fa fa-sort-numeric-asc fw"></i> Punteggio</button>	
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('SCORE_SLIDER')"><i class="fa fa-sliders fw"></i> Slider</button>
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('DATE')"><i class="fa fa-calendar fw"></i> Data</button>
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('DATETIME')"><i class="fa fa-calendar fw"></i> Data e ora</button>	
	          		<span class="m-l m-r m-b"><strong>Elementi:</strong></span>
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('TEXT_BLOCK')"><i class="fa fa-file-text-o fw"></i> Blocco di testo</button>
	          		<button type="button" class="btn btn-default m-b" ng-click="addQuestion('PAGE_JUMPS'); storeQuestion();"><i class="fa fa-step-forward fw"></i> Salto pagina</button>	
	          	</div>	
        	</div>
			<div ng-show="showElements.newQuestionConfig">
       			<div class="row">
			    	<div class="form-group col-md-12">
	          			<label class="control-label">{{ newQuestion.type=='TEXT_BLOCK' ? 'Inserisci il testo' : 'Testo domanda' }}</label>
	            		<wysiwyg textarea-id="htmlBlock_newQuestion" textarea-class="m-t form-control"  textarea-height="200px"  textarea-name="htmlBlock_newQuestion" ng-model="newQuestion.text"  textarea-menu="{{textBlockMenu}}" tooltip="{{errors['newQuestion.text']}}" ng-class="{error: errors['newQuestion.text']}"></wysiwyg> 
	          		</div>
				          	
		          	<div class="form-group col-md-2" ng-if="newQuestion.type!='TEXT_BLOCK' && newQuestion.type!='PAGE_JUMPS'">
	          			<label class="control-label">Domanda Obbligatoria</label>
			
						<div class="radio">
		              		<label class="i-checks m-r">
		                		<input type="radio" name="mandatoryQuestion" ng-model="newQuestion.mandatory" ng-value="true">
		                		<i></i>Si
		              		</label>
		            	
		              		<label class="i-checks m-r">
		                		<input type="radio"  name="mandatoryQuestion" ng-model="newQuestion.mandatory" ng-value="false">
		                		<i></i>No
		              		</label>
		            	</div>			
         			</div>
         			<div class="form-group col-md-2" ng-if="newQuestion.type=='SCORE_SLIDER'">
	          			<label class="control-label">Verticale</label>
			
						<div class="radio">
		              		<label class="i-checks m-r">
		                		<input type="radio" name="verticalQuestion" ng-model="newQuestion.sliderVertical" ng-value="true">
		                		<i></i>Si
		              		</label>
		            	
		              		<label class="i-checks m-r">
		                		<input type="radio"  name="verticalQuestion" ng-model="newQuestion.sliderVertical" ng-value="false">
		                		<i></i>No
		              		</label>
		            	</div>			
         			</div>
	          				
         			<div class="form-group col-md-2"  ng-if="newQuestion.type=='SCORE_SLIDER'">
	            		<label class="control-label">Divisiore scala</label>
          				<input type="number" class="form-control" ng-model="newQuestion.sliderScaleValue" placeholder="Divisiore scala" tooltip="{{errors['newQuestion.sliderScaleValue']}}" ng-class="{error: errors['newQuestion.sliderScaleValue']}"/>
           			</div>
					
	          	</div>	
         		<div class="row" ng-show="showElements.newRepliesConfig">	
         			<div class="col-md-12">	
         				<div class="panel panel-default">
         					<div class="panel-heading b-b b-light"><strong>Scelte possibili</strong></div>
       						<div class="panel-body centered">
       							<div class="row">
			          				<div class="col-md-12" ng-repeat="reply in newQuestion.replies">
		          						<div class="row">
				          					<div class="form-group col-md-4">
				            					<input type="text" class="form-control" ng-model="reply.text" placeholder="Testo opzione" tooltip="{{errors['newQuestion.replyText_'+$index]}}" ng-class="{error: errors['newQuestion.replyText_'+$index]}"/>		
				          					</div>
				          					<div class="form-group col-md-4">
				            					<input type="text" class="form-control" ng-model="reply.value" placeholder="Valore opzione" tooltip="{{errors['newQuestion.replyValue_'+$index]}}" ng-class="{error: errors['newQuestion.replyValue_'+$index]}"/>		
				          					</div>
					          				<div class="form-group col-md-12 pull-left" ng-show="$index == newQuestion.replies.length-1">
					          					<button type="button" class="btn btn-default" ng-click="addReply()"><i class="fa fa-plus fw"></i> Aggiungi scelta</button>
					          					<button ng-show="$index > 0" type="button" class="m-l-xs btn btn-default" ng-click="removeReply()"><i class="fa fa-trash fw"></i> Rimuovi ultima</button>
					          				</div>
			          					</div>
		          					</div>
		          				</div>
		          			</div>	
		          		</div>
			    	</div>			
         		</div>
         		
         		
       			<div class="row" ng-show="showElements.scoreConfig">
       				<div class="form-group col-md-2">
       					<label class="control-label">Punteggio Minimo</label>
         				<input type="text" class="form-control" ng-model="newQuestion.score.start" placeholder="Punteggio minimo" tooltip="{{errors['newQuestion.score.start']}}" ng-class="{error: errors['newQuestion.score.start']}"  />	
       				</div>	
       				
       				<div class="form-group col-md-3">
       					<label class="control-label">Etichetta Punteggio Minimo</label>
         				<input type="text" class="form-control" ng-model="newQuestion.scoreStartText" placeholder="Etichetta Punteggio minimo" tooltip="{{errors['newQuestion.scoreStartText']}}" ng-class="{error: errors['newQuestion.scoreStartText']}"  />	
       				</div>	
       				
       				<div class="form-group col-md-2">
       					<label class="control-label">Punteggio Massimo</label>
         				<input type="text" class="form-control" ng-model="newQuestion.score.end" placeholder="Punteggio massimo" tooltip="{{errors['newQuestion.score.end']}}" ng-class="{error: errors['newQuestion.score.end']}" />	
       				</div>

       				<div class="form-group col-md-3">
       					<label class="control-label">Etichetta Punteggio Massimo</label>
         				<input type="text" class="form-control" ng-model="newQuestion.scoreEndText" placeholder="Etichetta Punteggio massimo" tooltip="{{errors['newQuestion.scoreEndText']}}" ng-class="{error: errors['newQuestion.scoreEndText']}" />	
       				</div>	
       				
       				<div class="form-group col-md-2">
       					<label class="control-label">Intervallo</label>
         				<input type="text" class="form-control" ng-model="newQuestion.score.step" placeholder="Intervallo" tooltip="{{errors['newQuestion.score.step']}}" ng-class="{error: errors['newQuestion.score.step']}" />	
       				</div>		
       			</div>
       			<div class="row b-t">
       				<div class="form-group col-md-12">
       				<button type="button" class="m-t pull-left btn btn-info" ng-click="storeQuestion()"><i class="fa fa-plus fw"></i> Aggiungi al questionario</button>
       				<button type="button" class="m-t pull-left btn btn-default m-l-xs" ng-click="closeNewQuestion()"><i class="fa fa-close fw"></i> Chiudi</button>	
       				</div>
       			</div>
      		</div>	
      	</div>	
	</div>
</div>
		