<div class="row" ng-if="((isNew() && canInsert) || canUpdate)">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Impostazioni generali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6">
						<label class="control-label">Nome<sup>*</sup></label>
						<input type="text" id="detail.name" ng-disabled="!((isNew() && canInsert) || canUpdate)" class="form-control"  ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
    				
    				<div class="form-group col-md-6">
						<label class="control-label">Codice Univoco<sup>*</sup></label>
						<input type="text" id="detail.code" ng-disabled="!((isNew() && canInsert) || canUpdate)" class="form-control" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
					</div>
	          	</div>
	          
       			<div class="row">
       				<div class="form-group col col-lg-12">
		          		<label class="control-label">Descrizione</label>
		            	<textarea id="detail.description" rows="8" class="form-control"  ng-model="detail.description" placeholder="Inserisci descizione" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"/>	
	          		</div>
       				<div class="form-group col col-lg-12">
         				<label class="control-label">Numera automaticamente le domande</label>
	
						<div class="radio">
		              		<label class="i-checks m-r">
		                		<input type="radio" ng-disabled="!((isNew() && canInsert) || canUpdate)" name="autoEnumerate" ng-model="detail.autoEnumerateQuestions" ng-value="true">
		                		<i></i>Si
		              		</label>
		            	
		              		<label class="i-checks m-r">
		                		<input type="radio" ng-disabled="!((isNew() && canInsert) || canUpdate)" name="autoEnumerate" ng-model="detail.autoEnumerateQuestions" ng-value="false">
		                		<i></i>No
		              		</label>
		            	</div>			
       				</div>	
       			</div>
	        </div>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Visibilità</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div ng-include="'tpl/app/program/questionnaires/questionnaire-visibility.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>		

<div class="row">
	<div class="col-lg-12">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Domande</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div ng-include="'tpl/app/program/questionnaires/questionnaire-questions.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>	
	
<div class="row">
	<div class="col-lg-12">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Calcolo Punteggio</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div ng-include="'tpl/app/program/questionnaires/questionnaire-scoring.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>	

	

<div class="row" ng-if="((isNew() && canInsert) || canUpdate)">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>			