<div class="wrapper-sm">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default m-n">
				<div class="panel-body">
					<form name="form" class="form-validation" novalidate ng-submit="refresh = true;">
						<div class="row">
							<div class="form-group col-md-4">
								<label class="control-label">Filtra pazienti per sesso</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.PATIENT_SEX) for v in (constants['Sex'] | constantAcceptedValuesFilter:['MALE','FEMALE'])"
									class="form-control" ng-model="filters.PATIENT_SEX">
									<option value="">Tutti i generi</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label class="control-label">Filtra pazienti per stato</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.PATIENT_STATUS) for v in (constants['UserStatus'] | constantAcceptedValuesFilter:['ACTIVE', 'SUSPENDED', 'EXITED'])"
									class="form-control" ng-model="filters.PATIENT_STATUS">
									<option value="">Tutti gli stati</option>
								</select>
							</div> 
							<div class="form-group col-md-4">
								<label class="control-label">Filtra pazienti per terapia</label>
								<select ng-options="v.id as v.name for v in selects['Therapies']"
									class="form-control" ng-model="filters.PATIENT_THERAPY_ID">
									<option value="">Tutte le terapie</option>
								</select>	
							</div> 
							<div class="form-group col-md-4">
								<label class="control-label">Filtra pazienti per regione</label>
								<select ng-options="v.regionCode as v.region for v in selects['Regions']"
									class="form-control" ng-model="filters.DEPARTMENT_ADDRESS_REGION">
									<option value="">Tutte le regioni</option>
								</select>	
							</div> 
							<div class="form-group col-md-4">
								<label class="control-label">Filtra pazienti per fasce d'et&agrave;</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.PATIENT_AGE) for v in constants['StatsAgeRange']"
									class="form-control" ng-model="filters.PATIENT_AGE">
									<option value="">Tutte le fasce d'et&agrave;</option>
								</select>
							</div>  
							<div class="form-group col-md-4">
								<label class="control-label">Filtra medici per sesso</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.HCP_SEX) for v in constants['Sex']"
									class="form-control" ng-model="filters.HCP_SEX">
									<option value="">Tutti i generi</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label class="control-label">Filtra medici per stato</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id == filters.HCP_STATUS) for v in constants['UserStatus']"
									class="form-control" ng-model="filters.HCP_STATUS">
									<option value="">Tutti gli stati</option>
								</select>
							</div> 
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Applica">
										Applica
									</button>
									<button class="btn btn-default waves-effect waves-light" type="button" title="Pulisci"
										ng-click="clearFilters(); filters = undefined; refresh = true;">
										Pulisci
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-sm">	
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per sesso</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_SEX" filters="filters"
					refresh="refresh" options="{colors:['#4FC3F7', '#F5B5D3'],series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per fasce d'et&agrave;</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_AGE" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per stato</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_STATUS" filters="filters"
					refresh="refresh" options="{colors:['#00C853', '#FFEA00', '#FF3D00'],series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per terapia</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_THERAPY" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Adesioni pazienti per mese</div>
				<div class="panel-body" line-chart chart-type="PATIENT_ACCESSION_DATE" filters="filters" refresh="refresh" />
			</div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Adesioni medici per mese</div>
				<div class="panel-body" line-chart chart-type="HCP_ACCESSION_DATE" filters="filters" refresh="refresh" />
			</div>
		</div>
		<div class="col-md-12" >
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per regione</div>
   				<div class="panel-body" bar-chart chart-type="PATIENT_REGION" key="PATIENT_REGION"
   					filters="filters" refresh="refresh" />
   			</div>
   		</div>
		<div class="col-md-12" >
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Medici per regione</div>
				<div class="panel-body" bar-chart chart-type="HCP_REGION" key="HCP_REGION"
					filters="filters" refresh="refresh" />
			</div>
		</div>
	</div>
</div>