<div class="row">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button ng-if="detail.status=='DRAFT'" class="btn btn-primary waves-effect waves-light" ng-click="send()" title="Invia">
				Invia
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati Malfunzionamento/Rottura</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['code'].VIEW">
						<label class="control-label">Codice</label>
						<input type="text" id="detail.code" class="form-control" ng-disabled="true" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['notificationDate'].VIEW">
						<label class="control-label">Data Segnalazione</label><sup>*</sup>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['notificationDate'].UPDATE" ng-model="detail.notificationDate"
								tooltip="{{errors['detail.notificationDate']}}" ng-class="{error: errors['detail.notificationDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['notificationDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['status'].VIEW">
						<label class="control-label">Stato</label>
						<select id="detail.type" ng-disabled="true" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['MaterialDamageStatus']" class="form-control" ng-model="detail.status" tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['eventDate'].VIEW">
						<label class="control-label">Data rottura</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['eventDate'].UPDATE" ng-model="detail.eventDate"
								tooltip="{{errors['detail.eventDate']}}" ng-class="{error: errors['detail.eventDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['eventDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['reporter'].VIEW">
						<label class="control-label">Segnalazione raccolta da</label><sup>*</sup>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" value="{{detail.reporter.title | constantLabel:'UserTitle'}} {{detail.reporter.lastName}} {{detail.reporter.firstName}}" tooltip="{{errors['detail.reporter']}}" ng-class="{error: errors['detail.reporter']}">
							<span class="input-group-btn">
								<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.reporter.id" user-type="detail.reporter.type" ng-disabled="detail.reporter === undefined" title="Dettaglio">
									<i class="material-icons">person</i>
								</button>
							</span>		
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['recipient'].VIEW">
						<label class="control-label">Segnalazione effettuata da<sup>*</sup></label>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" value="{{detail.recipient.title | constantLabel:'UserTitle'}} {{detail.recipient.lastName}} {{detail.recipient.firstName}}" tooltip="{{errors['detail.recipient']}}" ng-class="{error: errors['detail.recipient']}">
							<span class="input-group-btn">
								<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.recipient.id" user-type="detail.recipient.type" title="Dettaglio">
									<i class="material-icons">person</i>
								</button>					
							</span>		
						</div>
					</div>	
				</div>
				<div class="form-group col-md-6">
					<label class="control-label">Segnalato da Philips</label>
						<div class="radio m-b-none">
							<label class="i-checks m-r">
								<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.notificationManufacturer" ng-change="errors['detail.notificationManufacturer'] = undefined">
								<i tooltip="{{errors['detail.notificationManufacturer']}}"></i>Si
							</label>
							<label class="i-checks m-r">
								<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detail.notificationManufacturer" ng-change="errors['detail.notificationManufacturer'] = undefined">
								<i tooltip="{{errors['detail.notificationManufacturer']}}"></i>No
							</label>
						</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
						<label class="control-label">Note</label>
						<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['notes'].UPDATE" ng-model="detail.notes" tooltip="{{errors['detail.notes']}}" ng-class="{error: errors['detail.notes']}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note Interne</label>
						<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default" ng-class="{error: errors['detail.materials']}" tooltip="{{errors['detail.materials']}}">
			<div class="panel-heading">
				<h4>Materiali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6" ng-repeat="m in detail.materials">
						<div class="wrapper-sm b-t b-b b-l b-r m-t-xs" ng-class="m.selected ? 'bg-light dker' : ''">
							<div class="clearfix m-b-xs">
							 	
								<div class="col col-xs-2 m-t-xs">
									<button material-modal="m.material.id" class="btn btn-rounded btn-lg btn-icon btn-default" title="Dettaglio {{m.type | constantLabel:'MaterialType'}}">
										<i class="fa {{m.material.type=='STANDARD' ? 'fa-cube' : 'fa-cubes'}} fw"></i>
									 </button>
								</div>
								<div class="col col-xs-7 m-t-xs text-center">
									<strong>{{m.material.name}}</strong>	
									<br/><small>{{m.material.code}}</small>
								</div>
								<div class="col col-xs-3 m-t-xs">
								 	<label class="checkbox-inline i-checks" style="opacity: 1;">
										<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="m.selected" ng-change="selectedChange(m)" class="ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false">
										<i></i><span class="m-n"> Seleziona</span>
									</label>
								</div>
							</div>
							<div class="clearfix">
								<div class="col col-xs-12 form-group">
									<label class="control-label">Serial Number</label>
									<input type="text" class="form-control" ng-model="m.serialNumber" ng-disabled="!m.selected">
								</div>	
								<div class="col col-xs-12 form-group">
						           	<label class="control-label">Descrizione rottura</label>
									<textarea rows="4" ng-model="m.damageDescription" class="form-control" ng-disabled="!m.selected" />
								</div>
							</div>	
						</div>	
					</div>	
		        </div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-if="detail.status=='DRAFT'" ng-click="send()" title="Invia">
				Invia
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>