<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista messaggi</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm">
		<div class="row">
			
			<!-- Se operatore o supplier includi i filtri -->
			<div ng-include="'tpl/app/directive/user/message/user-message-list-filter.html'" ng-if="loggedUser.type!='PATIENT' && loggedUser.type!='HCP'"></div>
			
			<!-- Se medico o paziente mostra pulsante filtro -->
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='PATIENT' || loggedUser.type=='HCP'">
				
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/directive/user/message/user-message-list-filter.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
	<div class="wrapper-sm m-t main-dashboard">	
		<div class="row">
			<div class="col-xs-12">					
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Messaggi</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						    		<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a ui-sref="app.usermessage({id: ''})">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>

						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 30px; padding: 0;" />
										<th st-sort="subject">Messaggio</th>
										<th style="width: 30px; padding: 0;" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" user-modal="row.id" user-type="row.type" style="cursor: pointer;">
										<td ng-if="row.status == 'SENT'">
											<i ng-if="row.hasBeenReadByMe === undefined" class="material-icons">mail</i>
											<i ng-if="row.hasBeenReadByMe === false" class="material-icons">markunread</i>											
											<i ng-if="row.hasBeenReadByMe === true" class="material-icons" >drafts</i>											 
										</td>
										<td ng-if="row.status == 'DRAFT'">
											<i class="material-icons">create</i>
										</td>
										<td>
											<b>{{row.subject}}</b><br>
											<small>{{row.message | limitTo : 100 }}</small><br>
											<i><small ng-if="row.sender.id != loggedUser.id">ricevuto da: {{row.sender.firstName}} {{row.sender.lastName}}</i></small>
										</td>
										<td style="padding: 0;">
											<i class="material-icons" ng-if="row.sender.id == loggedUser.id">call_made</i>
											<i class="material-icons" ng-if="row.sender.id != loggedUser.id">call_received</i>
										</td>				
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="5" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>