<div class="wrapper-sm">
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-12" style="text-align:center;">
							<div style="float:left;" ng-if="allowNavigation()">
								<a ng-disabled="!existPrevious()" class="btn waves-effect waves-light" ng-click="onTherapyChange(-1)" title="Vedi Terapia {{patientTherapies[index - 1].title}}">
									<i class="material-icons">arrow_back</i>
								</a>
							</div>
							<div style="display:inline-block;">
								<h4>{{current.title ? current.title : 'Terapia non presente'}}</h4>
							</div>
							<div style="float:right;" ng-if="allowNavigation()">
								<a ng-disabled="!existNext()" class="btn waves-effect waves-light" ng-click="onTherapyChange(1)" title="Vedi Terapia {{patientTherapies[index + 1].title}}">
									<i class="material-icons">arrow_forward</i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-4" ng-if="therapyFieldPermissions['name'].VIEW">
							<label class="control-label">Nome Terapia</label>
							<input type="text" id="current.therapy.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="current.therapy.name">
						</div>
						<div class="form-group col-md-4" ng-if="therapyFieldPermissions['start'].VIEW">
							<label class="control-label">Data inizio terapia</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!therapyFieldPermissionss['start'].UPDATE" ng-model="current.therapy.start" error-tooltip>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!therapyFieldPermissionss['start'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="therapyFieldPermissions['end'].VIEW">
							<label class="control-label">Data Scadenza Piano Terapeutico</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!therapyFieldPermissionss['end'].UPDATE" ng-model="current.therapy.end" error-tooltip>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!therapyFieldPermissionss['end'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="drugFieldPermissions['dailyAssumptionNumber'].VIEW">
							<label class="control-label">Numero capsule</label>
							<input type="text" id="current.therapy.drugs[0].dailyAssumptionNumber" class="form-control" ng-disabled="!fieldPermissions['dailyAssumptionNumber'].UPDATE" ng-model="current.therapy.drugs[0].dailyAssumptionNumber" error-tooltip>
						</div>
						<div class="form-group col-md-4" ng-if="drugFieldPermissions['assumptionFrequency'].VIEW">
							<label class="control-label">Frequenza assunzione</label>
							<input type="text" id="current.therapy.drugs[0].assumptionFrequency" class="form-control" ng-disabled="!fieldPermissions['assumptionFrequency'].UPDATE" ng-model="current.therapy.drugs[0].assumptionFrequencyLabel" error-tooltip>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>