<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="headerDoctor text-right m-t" style="padding: 10px 0;">
				<div class="inline filterClone">
					<div class="form-group text-right" style="margin: 0;">
						<label class="inline font-thin h4">Terapia</label>
						<div class="inline">
							<select ng-disabled="selects['Drugs'].length == 1" ng-options="v.id as v.name for v in selects['Drugs']" class="form-control" ng-model="customFilter.drug" ng-change="onDrugChange()" >
								<option value="" />
							</select>
						</div>
					</div>
				</div>
				
				<div class="inline filterClone">					
					<button export-pdf="ADHERENCE_DASHBOARD_SINGLE_PATIENT" template="tpl/app/patient/export_journal.html"
						parameter-map="{'patientId': id}" class="btn btn-primary btn-download" without-charts="true"
						filename="ADERENZA-{{patient.lastName}}_{{patient.firstName}}.pdf">
						Esporta
					</button>		
				</div>
			</div>
		</div>
	</div>			
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
			<div class="col-lg-12">
						
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							
							<table id="TABLE" class="table">
								<thead>
									<tr>
										<th>Anno</th>
										<th style="width: 80px;">Mese</th>
										<th ng-if='options.usePluggymed' style="width: 300px;" class="text-center">% aderenza</th>
										<th class="text-center">Punteggio Morisky</th>
										<th class="hidden-xs hidden-sm hidden-md text-center">Compilazione diario</th>
										<th ng-if='options.usePluggymed' class="hidden-xs hidden-sm hidden-md text-center">Somministrazioni rilevate</th>
										<th class="hidden-xs hidden-sm hidden-md text-center">Punteggio soddisfazione</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td class="text-center">{{row.year}}</td>
										<td class="text-center">{{row.month | monthNumberToLabel}}</td>
										<td  ng-if='options.usePluggymed' class="" style="padding: 0;">
											<div ng-repeat="period in row.period track by $index" style="height: 47px; line-height: 47px; max-width: 100%;{{(period.adherencePercentage !== undefined ? 'color: black;' : 'padding-left: 5px;')}}{{'background-color:' + period.bgColor + ';'}} {{'width: ' + period.bgWidth + ';'}}" ng-class="{'text-center': period.adherencePercentage !== undefined}"
												ng-styles="{ 'width': '{{period.bgWidth}}'}">
												{{period.adherencePercentage ? period.adherencePercentage : period.range}}
												<i style="vertical-align: middle;" ng-if="period.warning" class="material-icons">warning</i>
											</div>
										</td>
										<td class="text-center" style="padding: 0;">
											<div ng-repeat="period in row.period track by $index" style="height: 47px; line-height: 47px; max-width: 100%;">
												{{period.moriskyScore | truncateNumber:1}}
											</div>
										</td>
										<td class="hidden-xs hidden-sm hidden-md text-center" style="padding: 0;">
											<div ng-repeat="period in row.period track by $index" style="height: 47px; line-height: 47px; max-width: 100%;">
												{{period.diaryScore | truncateNumber:1}}
											</div>
										</td>
										<td  ng-if='options.usePluggymed' class="hidden-xs hidden-sm hidden-md text-center" style="padding: 0;">
											<div ng-repeat="period in row.period track by $index" style="height: 47px; line-height: 47px; max-width: 100%;">
												{{period.totalTaken}}
											</div>
										</td>
										<td class="hidden-xs hidden-sm hidden-md text-center" style="padding: 0;">
											<div ng-repeat="period in row.period track by $index" style="height: 47px; line-height: 47px; max-width: 100%;">
												{{period.satisfactionScore | truncateNumber:1}}
											</div>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>