<div class="wrapper-sm tab-fix-margin">
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button ng-if="detail.activationStatus!='ACTIVE'" class="btn btn-default waves-effect waves-light" ng-click="activate()" title="Attiva">
				Attiva
			</button>
			<button ng-if="detail.activationStatus=='ACTIVE'" class="btn btn-default waves-effect waves-light" ng-click="terminate()" title="Disattiva">
				Disattiva
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-3" ng-if="fieldPermissions['code'].VIEW">
						<label class="control-label">Codice</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
					</div>
					<div class="form-group col-md-3" ng-if="fieldPermissions['type'].VIEW">
						<label class="control-label">Tipo</label><sup>*</sup>
						<div class="radio m-b-xs">
							<label class="checkbox-inline i-checks" ng-repeat="v in constants['PharmacyType']" ng-if="v.active || v.id === detail.type">
								<input type="checkbox" check-list="detail.type" only-one="true" value="{{v.id}}" ng-disabled="!fieldPermissions['type'].UPDATE">
								<i tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}"></i><span class="m-n" bind-html-compile="v.label"></span>
							</label>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label class="control-label">Data inserimento</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" format-date-time ng-readonly="true" tooltip="{{errors['detail.dateInsert']}}" ng-class="{error: errors['detail.dateInsert']}" ng-model="detail.dateInsert">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-3" ng-if="fieldPermissions['openingTime'].VIEW">
						<label class="control-label">Orari farmacia</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['openingTime'].UPDATE" ng-model="detail.openingTime" tooltip="{{errors['detail.openingTime']}}" ng-class="{error: errors['detail.openingTime']}">
					</div>
					<div class="form-group col-lg-12" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati di contatto</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-lg-6" ng-if="fieldPermissions['phoneNumber'].VIEW">
						<label class="control-label">Telefono</label>
						<input type="text"  id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
					</div>
					<div class="form-group col-lg-6" ng-if="fieldPermissions['faxNumber'].VIEW">
						<label class="control-label">Fax</label>
						<input type="text" id="detail.faxNumber" rows="1" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['emails'].VIEW">
						<label class="control-label">Email</label>
						<tags-input id="detail.emails" ng-model="detail.emails" disabled="!fieldPermissions['emails'].UPDATE" tooltip="{{errors['detail.emails']}}" ng-class="{error: errors['detail.emails']}" 
							placeholder="{{fieldPermissions['emails'].UPDATE ? 'Aggiungi email' : '  '}}">
					</div>
				</div>
				<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
						<label class="control-label">Note</label>
						<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['notes'].UPDATE" ng-model="detail.notes" tooltip="{{errors['detail.notes']}}" ng-class="{error: errors['detail.notes']}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note interne</label>
						<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="isInternalStaff" >
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati di attivazione</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">Si vuole prevedere la verifica della disponibilità del Farmaco?</label>
						<div class="radio m-b-none">
							<label class="i-checks m-r">
								<input type="checkbox" ng-disabled="!canUpdate" ng-true-value="true" ng-false-value="undefined" 
									ng-model="detail.checkDrugAvailability">
								<i tooltip="{{errors['detail.checkDrugAvailability']}}" ng-class="{error: errors['detail.checkDrugAvailability']}"></i>Si
							</label>
							<label class="i-checks">
								<input type="checkbox" ng-disabled="!canUpdate" ng-true-value="false" ng-false-value="undefined" 
									ng-model="detail.checkDrugAvailability">
								<i tooltip="{{errors['detail.checkDrugAvailability']}}" ng-class="{error: errors['detail.checkDrugAvailability']}"></i>No
							</label>
						</div>
					</div>	
				</div>
				<div class="row">	
					<div class="form-group col-md-6">
						<label class="control-label">Stato Attivazione</label><sup>*</sup>
						<select id="detail.activationStatus" ng-disabled="true" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.type) for v in constants['PharmacyActivationStatus']" class="form-control" 
							ng-model="detail.activationStatus" tooltip="{{errors['detail.activationStatus']}}" ng-class="{error: errors['detail.activationStatus']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-6" ng-if="detail.activationStatus!='WAITING'">
						<label class="control-label">Data di attivazione</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" format-date-time ng-readonly="true" tooltip="{{errors['detail.activationDate']}}" ng-class="{error: errors['detail.lastActivationDate']}" ng-model="detail.lastActivationDate">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="detail.activationStatus!='ACTIVE'">
						<label class="control-label">Data prossima verifica attivazione</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" format-date-time ng-readonly="true" 
								tooltip="{{errors['detail.nextVerificationDate']}}" ng-class="{error: errors['detail.nextVerificationDate']}" ng-model="detail.nextVerificationDate">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="control-label">Data ultima disattivazione</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" format-date-time ng-readonly="true" 
								tooltip="{{errors['detail.lastDeactivationDate']}}" ng-class="{error: errors['detail.lastDeactivationDate']}" ng-model="detail.lastDeactivationDate">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>				
<div class="row m-t" ng-if="fieldPermissions['customProperties'].VIEW">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Altri dati</h4>
			</div>
			<div class="panel-body" ng-include="'tpl/common/custom-properties.html'">

			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button ng-if="detail.activationStatus!='ACTIVE'" class="btn btn-default waves-effect waves-light" ng-click="activate()" title="Attiva">
				Attiva
			</button>
			<button ng-if="detail.activationStatus=='ACTIVE'" class="btn btn-default waves-effect waves-light" ng-click="terminate()" title="Disattiva">
				Disattiva
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
</div>