<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.pharmacies">Farmacie</a></li>
	<li class="active">{{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/directive/pharmacy/personal-data.html'"></div>
			</tab>
			<tab ng-if="isInternalStaff" disabled="isNew()">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" ng-if="id" entity-type="'DOCUMENT_PHARMACY'" />
			</tab>
			<tab ng-if="isInternalStaff" disabled="isNew()" select="patientTrainingSessionSelected = true">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Formazione</span>
				</tab-heading>
				<div pharmacy-training-session-list pharmacy-id="id" ng-if="id && patientTrainingSessionSelected"
					search-filters="{'PHARMACY_ID': id}" />
			</tab>
		</tabset>
	</scrollable-tabset>
</div>