<div class="wrapper-sm export" style="overflow: hidden; height: 90vh;" ng-if="pdf == undefined">	
	<div class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Questionario Morisky</div>
		<div id="QUIPERTE_QUEST_020" panel-chart="PATIENT_QUESTIONNAIRE" class="panel-body" bar-chart chart-type="PATIENT_QUESTIONNAIRE"
			filters="{'PATIENT_QUESTIONNAIRE_CODE':'QUIPERTE_QUEST_020', 'PATIENT_ID': parameterMap['patientId']}"
			key="QUIPERTE_QUEST_020" options="{colors:['#4472c4']}"  dataset="{bars: { fillColor: { colors: [{opacity:1.0},{opacity:1.0}]}}}"
			draw-callback="drawCallback" />
	</div>
	<div class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Questionario di
			rilevazione soddisfazione per il programma</div>
		<div id="QUIPERTE_QUEST_022" panel-chart="PATIENT_QUESTIONNAIRE" class="panel-body" bar-chart chart-type="PATIENT_QUESTIONNAIRE"
			filters="{'PATIENT_QUESTIONNAIRE_CODE':'QUIPERTE_QUEST_022', 'PATIENT_ID': parameterMap['patientId']}"
			key="QUIPERTE_QUEST_022" options="{colors:['#4472c4']}" dataset="{bars: { fillColor: { colors: [{opacity:1.0},{opacity:1.0}]}}}"
			draw-callback="drawCallback" />
	</div>
	<div class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Questionario
			Monitoraggio Diario</div>
		<div id="QUIPERTE_QUEST_023" panel-chart="PATIENT_QUESTIONNAIRE" class="panel-body" bar-chart chart-type="PATIENT_QUESTIONNAIRE"
			filters="{'PATIENT_QUESTIONNAIRE_CODE':'QUIPERTE_QUEST_023', 'PATIENT_ID': parameterMap['patientId']}"
			key="QUIPERTE_QUEST_023" options="{colors:['#4472c4']}" dataset="{bars: { fillColor: { colors: [{opacity:1.0},{opacity:1.0}]}}}"
			draw-callback="drawCallback" />
	</div>
	<div style="position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 2000; background: white;">
		<div class="hbox">
			<div class="col v-middle text-center">
				<i class="fa fa-circle-o-notch fa-spin" />
			</div>
		</div>
	</div>
</div>
<ng-include src="'tpl/app/pdf.html'" ng-if="pdf" />