<div ng-if="draw && !hideCharts">
<div class="wrapper-sm filterWrap">
	<div class="row">
		<div class="headerDoctor text-right m-t">
			<div class="filterClone">
				<button export-pdf="PATIENT_QUESTIONNAIRE" template="tpl/app/directive/questionnaire/export_questionnaire.html"
					search-filters="searchFilters" parameter-map ="{'patientId': userId}" ignore-labels="true"
					class="btn btn-primary btn-download" filename="QUESTIONARI–{{user.lastName}}_{{user.firstName}}.pdf" style="margin-bottom: 20px; float: right;">Esporta</button>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-sm m-t main-dashboard">	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Questionario Morisky</div>
				<div class="panel-body" bar-chart chart-type="PATIENT_QUESTIONNAIRE" key="QUIPERTE_QUEST_020"
					filters="{'PATIENT_QUESTIONNAIRE_CODE':'QUIPERTE_QUEST_020', 'PATIENT_ID': userId}"
					options="{colors:['#4472c4'], hooks: { draw: draw}}" dataset="{bars: { fillColor: { colors: [{opacity:1.0},{opacity:1.0}]}}}" />
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Questionario di
					rilevazione soddisfazione per il programma</div>
				<div id="QUIPERTE_QUEST_022" class="panel-body" bar-chart chart-type="PATIENT_QUESTIONNAIRE"
					filters="{'PATIENT_QUESTIONNAIRE_CODE':'QUIPERTE_QUEST_022', 'PATIENT_ID': userId}"
					key="QUIPERTE_QUEST_022" options="{colors:['#4472c4'], hooks: { draw: draw}}"
					dataset="{bars: { fillColor: { colors: [{opacity:1.0},{opacity:1.0}]}}}" />
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Questionario
					Monitoraggio Diario</div>
				<div id="QUIPERTE_QUEST_023" class="panel-body" bar-chart chart-type="PATIENT_QUESTIONNAIRE"
					filters="{'PATIENT_QUESTIONNAIRE_CODE':'QUIPERTE_QUEST_023', 'PATIENT_ID': userId}"
					key="QUIPERTE_QUEST_023" options="{colors:['#4472c4'], hooks: { draw: draw}}"
					dataset="{bars: { fillColor: { colors: [{opacity:1.0},{opacity:1.0}]}}}" />
			</div>
		</div>
	</div>
</div>
</div>