
<div class="wrapper-sm filterWrap">
	<div class="row">
		<div class="headerDoctor text-right m-t">
			
			<div class="filterClone">
				<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
					<span class="opened">Filtra</span><span class="closed">Chiudi</span>
				</div>
				<div class="filterPopup" ng-show="!filterPopup">

					<div ng-include="'tpl/app/directive/link/link-list-filter.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="wrapper-sm m-t main-dashboard">	
	<div class="row">
		<div class="col-xs-12">	
			<div class="panel panel-default" ng-if="showList">
				<div class="row" st-pipe="search" st-table="list">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs {{isHcp() || isPatient() ? 'table-title' : ''}}">
							<div class="inline">
								<h4 class="m-sm">Link caricati</h4>
							</div>
						</div>
						<table class="table">
							<thead>
								<tr ng-if="isSelection && isMultipleSelection">
									<th colspan="7">
										<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
											<i class="mdi-toggle-check-box"></i>
										</button>
										<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
											<i class="mdi-toggle-check-box-outline-blank"></i>
										</button>
									</th>
								</tr>
								<tr>
									<th st-sort="dateInsert">Caricato il</th>
									<th st-sort="name">Titolo</th>
									<th>Url</th>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in list" id="row.id">
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.dateInsert | formatDateTime" />
									<td ng-bind="row.title" />
									<td>
										<a href="{{row.url}}" target="_blank">{{row.url}}</a>
									</td>
								</tr>
								<tr ng-show="list !== undefined && list.length==0">
									<td colspan="7">
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
							<tfoot ng-show="list !== undefined && list.length>0">
								<tr>
									<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>