
	<div class="row" ng-if="showFilters || true">
		<div class="col-lg-12">
			<div class="panel panel-default m-n">
				<div class="panel-body">
					<form name="form" class="form-validation" novalidate ng-submit="search()">
						<div class="row">
							<div class="form-group col-lg-4">
								<label>Titolo</label>
								<input type="text" class="form-control" ng-model="searchFilters.filters.TITLE">
							</div>
							<div class="form-group col-lg-4">
								<label>Data da</label>
								<div class="input-group">
									<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.DATE_INSERT_FROM">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
											<i class="material-icons">date_range</i>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group col-lg-4">
								<label>Data a</label>
								<div class="input-group">
									<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.DATE_INSERT_TO">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
											<i class="material-icons">date_range</i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-right">
								<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
									Cerca
								</button>
								<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
									Cancella
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
