<div class="modal-header">
	<button type="button" ng-click="close()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Nucleo familiare</h3>
</div>
<div class="modal-body text-md">
	<div class="row">
		<div class="form-group col-md-8">
			<label>Paziente</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="{{relativeDetail.patient.lastName}} {{relativeDetail.patient.firstName}}">
				<span class="input-group-btn">
					<button ng-if="isNewRelative" type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" 
						user-search-modal="relativeDetail.patient" user-type="'PATIENT'" filters="{filters: {'-ID':relativeDetail.idList}}" multiple-list="false" title="Seleziona">
						<i class="material-icons">search</i>
					</button>
					<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="relativePatient.id" user-type="'PATIENT'" ng-disabled="relativeDetail.patient.id === undefined" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>
					<button ng-if="isNewRelative" type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="relativeDetail.patient == undefined" ng-click="relativeDetail.patient = undefined" title="Dettaglio">
						<i class="material-icons">clear</i>
					</button>					
				</span>		
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-8">
			<div class="input-group col-md-12">
				<label class="control-label">I pazienti hanno lo stesso indirizzo</label>
	               	<div class="checkbox-inline">
	               		<label class="i-checks m-r">
							<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="relativeDetail.hasSameAddress">
							<i tooltip="{{errors[relativeDetail.hasSameAddress]}}" ng-class="{error: errors[relativeDetail.hasSameAddress]}"></i>Si
						</label>
						<label class="i-checks">
							<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="relativeDetail.hasSameAddress">
							<i tooltip="{{errors[relativeDetail.hasSameAddress]}}" ng-class="{error: errors[relativeDetail.hasSameAddress]}"></i>No
						</label>
	               	</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12 text-right">
				<button class="btn btn-primary waves-effect waves-light" ng-click="saveRelative()" title="Salva">
					Salva
				</button>
				<button class="btn btn-default waves-effect waves-light" ng-click="undoRelative()" title="Annulla">
					Annulla
				</button>
			</div>
		</div>
	</div>
</div>
