<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Movimentazione materiali</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6" ng-if="fieldPermissions['code'].VIEW">
									<label class="control-label">Codice</label>
									<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" error-tooltip>
								</div>
								<div class="form-group col-md-6" ng-if="fieldPermissions['pickUpDeliveryDate'].VIEW">
									<label class="control-label">Data ritiro/consegna</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['pickUpDeliveryDate'].UPDATE" ng-model="detail.pickUpDeliveryDate" error-tooltip>
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['pickUpDeliveryDate'].UPDATE">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4" ng-if="fieldPermissions['status'].VIEW">
									<label class="control-label">Stato</label>
									<select id="detail.status" ng-disabled="!fieldPermissions['status'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['PatientMaterialHandlingStatus']" class="form-control" 
										ng-model="detail.status" error-tooltip>
										<option value="" />
									</select>
								</div>
								<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
									<label class="control-label">Note</label>
									<textarea id="detail.notes" rows="5" class="form-control"
										ng-disabled="!fieldPermissions['notes'].UPDATE" ng-model="detail.notes" error-tooltip/>
								</div>
								<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
									<label class="control-label">Note interne</label>
									<textarea id="detail.internalNotes" rows="5" class="form-control"
										ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" error-tooltip/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="detail.items && detail.items.length > 0">
				<div class="col-md-12">
					<div class="panel panel-default" error-tooltip="detail.items">
						<div class="row" st-table="detail.materials">
							<div class="col-sm-12">
								<div class="bg-secondary wrapper-xs">
									<div class="inline">
										<h4 class="m-sm">Materiali</h4>
									</div>
								</div>
								<table class="table">
									<thead>	
										<tr>
											<th>Nome</th>
											<th>Modello</th>
											<th>Operazione</th>
											<th>Motivo</th>
											<th>Esito</th>
											<th>In sostituzione di</th>
											<th style="width: 30px; padding: 0;" ng-if="!selection" />
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr ng-repeat="row in detail.items">
											<td ng-bind="row.material.material.name"></td>
											<td ng-bind="row.material.model"></td>
											<td ng-bind="row.operation | constantLabel: 'PatientMaterialHandlingOperation'"></td>
											<td ng-bind="row.withdrawalReason | constantLabel: 'WithdrawalReason'"></td>
											<td ng-bind="row.result | constantLabel: 'PatientMaterialHandlingResult'"></td>
											<td ng-bind="row.replacementMaterial.material.name"></td>
											<td ng-if="!selection" style="padding: 0;">
												<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="fieldPermissions['items'].UPDATE">
													<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
												     	<i class="material-icons">more_vert</i>
												    </button>
												    <ul class="dropdown-menu pull-right">
												    	<li ng-if="fieldPermissions['items'].UPDATE">
												        	<a ng-click="deleteMasterActivity($index)">
												            	<i class="material-icons">delete</i>
												            	Cancella
												            </a>
												        </li>
												    </ul>
												</div>
											</td>
										</tr>
									</tbody>
									<tbody ng-show="detail.items.length == undefined || detail.items.length==0">
										<tr>
											<td colspan="2">
												<div class="text-muted"><i>Nessun dato trovato</i></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>	       		
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>