<div class="row" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
	<div class="form-group col-md-12">
		<h4 class="b-b b-3x">Esito dei compiti previsti per questa attività</h4>
	</div>
</div>
<ul class="list-group list-group-lg m-b" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
	<li class="list-group-item no-padder m-t-sm" ng-repeat="ca in form.complementaryActivities track by $index">
		<div class="hbox wrapper-xs {{ca.required ? 'b-b b-light' : ''}}">
			<div class="col v-middle text-left">
				<div class="pull-left m-r">
					<label class="h4 bg-warning avatar thumb text-center w-full" ng-if="ca.required" style="line-height: 50px;" title="Attività obbligatoria">O</label>
					<label class="h4 bg-success avatar thumb text-center w-full" ng-if="!ca.required" style="line-height: 50px;" title="Attività facoltativa">F</label>
					<label class="h4 m-l">{{ca.name}}</label>
				</div>
			</div>
			<div class="col v-middle text-left">
				<select ng-options="v.id as v.label disable when (!v.active && v.id !== ca.status) for v in constants['ComplementaryActivityStatus'] | constantActive | constantExcludeValuesFilter:[(form.complementaryActivities[$index].approvements == undefined || form.complementaryActivities[$index].approvements.length <= 0) ? 'SKIPPED' : undefined]"
					class="form-control" ng-model="ca.status" tooltip="{{errors['form.complementaryActivities[$index].status']}}"
					ng-class="{error: errors['form.complementaryActivities[$index].status']}"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
					<option value="" disabled selected>Indicare l'esito</option>
				</select>
			</div>
			<div class="col v-middle text-right" ng-switch="ca.type">
				<button ng-switch-when="QUESTIONNAIRE_SUBMISSION" submission-date="form.date" type="button"  
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					user-questionnaire-detail-modal="form.complementaryActivities[$index].entityId" activity-id="form.id" 
					class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">live_help</i>
				</button>
				<button ng-switch-when="MATERIAL_DELIVERY" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" material-delivery-modal="form.complementaryActivities[$index].entityId"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="MATERIAL_SHIPPING" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" material-delivery-modal="form.complementaryActivities[$index].entityId"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="MATERIAL_DAMAGE" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" material-damage-modal="form.complementaryActivities[$index].entityId" type="button"
					class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">sms_failed</i>
				</button>
				<button ng-switch-when="ASSUMPTION_DETECTION" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" patient-assumption-detection-modal patient-id="form.user.id" date="form.date"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">web</i>
				</button>
				<button ng-switch-when="LEFTOVER_DRUG_DETECTION" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" patient-leftover-drugs-detection-modal patient-id="form.user.id" complementary-id="ca.id" date="form.date"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">web</i>
				</button>
				<button ng-switch-when="DRUG_PICK_UP" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" drug-pick-up-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="DRUG_DELIVERY" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" drug-delivery-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="DRUG_DISPOSAL" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" drug-disposal-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="BLOOD_SAMPLING" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" blood-sampling-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">colorize</i>
				</button>
				<button ng-switch-when="PATIENT_WEIGHT" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					patient-weight-detail patient-id="form.user.id" new-default-data="{userComplementaryActivityId: ca.id, date: form.date, patientId: form.user.id}"
					is-modal="true" type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">web</i>
				</button>
				<button ng-switch-when="DRUG_PICK_UP_DELIVERY" type="button" status="occurred"
					drug-pick-up-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="PATIENT_MATERIAL_HANDLING" type="button" status="occurred"
					patient-material-handling-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="DBS_TEST_BLOOD_SAMPLING" type="button" status="occurred"
					dried-blood-spot-test-sampling-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
					<i class="material-icons">colorize</i>
				</button>
				<button ng-switch-when="DBS_TEST_PICK_UP" type="button" status="occurred"
					dried-blood-spot-test-pick-up-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
					<i class="material-icons">colorize</i>
				</button>
				<div ng-switch-when="EXTERNAL_OBJECT">
					<ng-include src="'tpl/app/activiti/form-type/object/occurred-external-object-rows.html'" />
				</div>
			</div>
		</div>
		<div class="container-fluid b-t" ng-if="ca.type == 'DRUG_ADMINISTRATION' && ca.status == 'NOT_COMPLETED'">
			<div class="row wrapper-sm">
				<ng-include src="'tpl/app/activiti/form-type/object/drug-administration.html'" />
			</div>
		</div>
	</li>
</ul>