<div class="row" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
	<div class="col-md-12">
		<h4 class="b-b b-3x">Compiti previsti per questa attività</h4>
	</div>
</div>
<ul class="list-group list-group-lg m-b" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
	<li class="list-group-item no-padder m-t-sm" ng-repeat="ca in form.complementaryActivities track by $index">
		<div class="hbox wrapper-xs {{ca.required ? 'b-b b-light' : ''}}">
			<div class="col v-middle text-left">
				<div class="pull-left m-r">
					<label class="h4 bg-warning avatar thumb text-center w-full" ng-if="ca.required" style="line-height: 50px;" title="Attività obbligatoria">O</label>
					<label class="h4 bg-success avatar thumb text-center w-full" ng-if="!ca.required" style="line-height: 50px;" title="Attività facoltativa">F</label>
					<label class="h4 m-l">{{ca.name}}</label>
				</div>
			</div>
			<div class="col v-middle text-right" ng-if="ca.type == 'EXTERNAL_OBJECT'">
				<ng-include src="'tpl/app/activiti/form-type/object/confirmed-external-object-rows.html'" ng-if="ca.type == 'EXTERNAL_OBJECT'" />
			</div>
		</div>
		<div class="container-fluid b-t" ng-if="ca.type == 'DRUG_ADMINISTRATION' && ca.status !== undefined">
			<div class="row wrapper-sm">
				<ng-include src="'tpl/app/activiti/form-type/object/drug-administration.html'" />
			</div>
		</div>
	</li>
</ul>