<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista assunzioni</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista assunzioni</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Diario terapeutico</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown  ng-if="canInsert || canExport">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li>
						            		<a patient-id="patientId" patient-assumption-modal="''" post-fn="search" post-fn-dismiss="search">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr>
										<th st-sort="date">Data</th>
										<th st-sort="hour">Ora</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="injectionArea.name">Area</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="drug.drug.name">Farmaci</th>
										<th st-sort="status">Stato</th>
										<th style="width: 30px; padding: 0;" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" patient-id="patientId" patient-assumption-modal="row.id" post-fn="search" post-fn-dismiss="search">
										<td ng-bind="row.date | formatDate" />
										<td ng-bind="row.hour | formatTime" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.injectionArea.code + ' - ' + row.injectionArea.name" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.drug.drug.name" />
										<td ng-bind="row.status | constantLabel:'AssumptionStatus'" />
										<td style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
												ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="6" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>	   
				</div>
			</div>
		</div>
	</div>
</div>