<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Nuovi materiale</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-4">
									<label>Materiale</label>
									<ui-select ng-model="detail.material" theme="bootstrap">
						    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
						    			<ui-select-choices group-by="'group'" repeat="v in selects['Material'] | filter: $select.search">
						     				<div ng-bind-html="v.name | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
								<div class="form-group col-md-4 col-xs-12">
									<label class="control-label">Modello</label>
									<input type="text" id="detail.model" class="form-control" ng-model="detail.model">
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">In comodato</label>
									<div class="radio">
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.loanForUse">
											<i></i>Si
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detail.loanForUse">
											<i></i>No
										</label>
									</div>
								</div>
								<div class="form-group col-md-3 col-xs-12">
									<label class="control-label">Lotto</label>
									<input type="text" id="detail.batchNumber" class="form-control" ng-model="detail.batchNumber">
								</div>
								<div class="form-group col-md-3 col-xs-12">
									<label class="control-label">Seriale</label>
									<input type="text" id="detail.serialNumber" class="form-control" ng-model="detail.serialNumber">
								</div>
								<div class="form-group col-md-3 col-xs-12">
									<label class="control-label">Mac Address</label>
									<input type="text" id="detail.macAddress" class="form-control" ng-model="detail.macAddress">
								</div>
								<div class="form-group col-md-3 col-xs-12">
									<label class="control-label">Numero</label>
									<input type="text" id="detail.materialNumber" class="form-control" ng-model="detail.materialNumber">
								</div>
								<div class="form-group col-md-12">
									<label class="control-label">Note</label>
									<textarea id="detail.notes" rows="5" class="form-control" ng-model="detail.notes" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-primary waves-effect waves-light" ng-click="modalItemComponent.close()" title="Ok">
						Ok
					</button>
					<button class="btn btn-default waves-effect waves-light" ng-click="modalItemComponent.dismiss()" title="Annulla">
						Annulla
					</button>
				</div>
			</div>    	
		</tab>
	</tabset>
</div>