<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Materiale da ritirare</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Materiale</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{detail.material.material.name}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" patient-material-detail is-modal="true"
												detail-id="detail.material.id" ng-disabled="detail.material == undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Motivo ritiro</label>
									<select id="detail.withdrawalReason" class="form-control" ng-model="detail.withdrawalReason" ng-disabled="true"
										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.withdrawalReason) for v in constants['WithdrawalReasonForm']">
										<option value="" />
									</select>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Richiesta sostituzione?</label>
									<div>
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined"
												ng-model="detail.requestReplacement" ng-disabled="true">
											<i></i>Si
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined"
												ng-model="detail.requestReplacement" ng-disabled="true">
											<i></i>No
										</label>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Ritiro effettuato?</label>
									<div>
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.withdrawalDone">
											<i></i>Si
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detail.withdrawalDone">
											<i></i>No
										</label>
									</div>
								</div>
								<div class="col-md-12" ng-if="detail.requestReplacement">
									<div class="row">
										<div class="form-group col-md-12">
											<h4 class="b-b b-3x">Materiale sostitutivo</h4>
										</div>
										<div class="form-group col-md-4">
											<label>Materiale</label>
											<ui-select ng-model="detail.replacementMaterial.material" theme="bootstrap" ng-disabled="true">
								    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
								    			<ui-select-choices group-by="'group'" repeat="v in selects['Material'] | filter: $select.search">
								     				<div ng-bind-html="v.name | highlight: $select.search" />
								    			</ui-select-choices>
								    		</ui-select>
										</div>
										<div class="form-group col-md-4 col-xs-12">
											<label class="control-label">Modello</label>
											<input type="text" class="form-control" ng-model="detail.replacementMaterial.model">
										</div>
										<div class="form-group col-md-4">
											<label class="control-label">In comodato</label>
											<div class="radio">
												<label class="i-checks m-r">
													<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.replacementMaterial.loanForUse">
													<i></i>Si
												</label>
												<label class="i-checks">
													<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detail.replacementMaterial.loanForUse">
													<i></i>No
												</label>
											</div>
										</div>
										<div class="form-group col-md-3 col-xs-12">
											<label class="control-label">Lotto</label>
											<input type="text" id="detail.batchNumber" class="form-control" ng-model="detail.replacementMaterial.batchNumber">
										</div>
										<div class="form-group col-md-3 col-xs-12">
											<label class="control-label">Seriale</label>
											<input type="text" id="detail.serialNumber" class="form-control" ng-model="detail.replacementMaterial.serialNumber">
										</div>
										<div class="form-group col-md-3 col-xs-12">
											<label class="control-label">Mac Address</label>
											<input type="text" id="detail.macAddress" class="form-control" ng-model="detail.replacementMaterial.macAddress">
										</div>
										<div class="form-group col-md-3 col-xs-12">
											<label class="control-label">Numero</label>
											<input type="text" id="detail.materialNumber" class="form-control" ng-model="detail.replacementMaterial.materialNumber">
										</div>
										<div class="form-group col-md-12">
											<label class="control-label">Note</label>
											<textarea id="detail.notes" rows="5" class="form-control" ng-model="detail.replacementMaterial.notes" />
										</div>
										<div class="form-group col-md-12">
											<label class="control-label">Consegna effettuata?</label>
											<div>
												<label class="i-checks m-r">
													<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.replacementMaterial.deliveredDone">
													<i></i>Si
												</label>
												<label class="i-checks">
													<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detail.replacementMaterial.deliveredDone">
													<i></i>No
												</label>
											</div>
										</div>
									</div>
									<div class="row" ng-if="detail.replacementMaterial.userMaterials && detail.replacementMaterial.userMaterials.length > 0">
										<div class="col-md-12">
											<div class="panel panel-default">
												<div class="row" st-table="detail.replacementMaterial.userMaterials">
													<div class="col-sm-12">
														<div class="bg-secondary wrapper-xs">
															<div class="inline">
																<h4 class="m-sm">Materiali</h4>
															</div>
															<div class="btn-group dropdown pull-right" dropdown>
													        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
													         		<i class="material-icons">view_list</i>
													    		</button>
													        	<ul class="dropdown-menu pull-right">
													            	<li ng-if="canInsert">
													            		<a ng-click="editReplacementUserMaterial()">
													            			<i class="material-icons">add</i>
													            			<span>Nuovo</span>
													            		</a>
													            	</li>
													        	</ul>
													    	</div>
													    </div>
														<table class="table">		
															<thead>
																<tr>
																	<th>Nome</th>
																	<th>Modello</th>
																	<th>In comodato?</th>
																</tr>
															</thead>
															<tbody class="bg-white">
																<tr ng-repeat="rowUserMaterial in detail.replacementMaterial.userMaterials" ng-click="editReplacementUserMaterial($index)">
																	<td ng-bind="rowUserMaterial.material.name" />
																	<td ng-bind="rowUserMaterial.model" />
																	<td ng-bind="rowUserMaterial.loanForUse | formatBool" />
																</tr>
															</tbody>
															<tbody ng-show="detail.replacementMaterial.userMaterials == undefined || detail.replacementMaterial.userMaterials.length==0">
																<tr>
																	<td colspan="2">
																		<div class="text-muted"><i>Nessun dato trovato</i></div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>	       		
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-primary waves-effect waves-light" ng-click="modalItem.close()" title="Ok">
						Ok
					</button>
					<button class="btn btn-default waves-effect waves-light" ng-click="modalItem.dismiss()" title="Annulla">
						Annulla
					</button>
				</div>
			</div>    	
		</tab>
	</tabset>
</div>