<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label">{{prop.name}}&nbsp; <span ng-show="prop.required">*</span></label>
	<div class="input-group">
		<input type="text" class="form-control" placeholder="{{prop.placeholder}}" av-format-date="prop.options" ng-readonly="true" ng-disabled="!prop.writable" ng-model="prop.value" tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}">
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-disabled="!prop.writable"><i class="glyphicon glyphicon-calendar"></i></button>
		</span>
	</div>
</div>