<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label"><span av-bind-html-compile="prop.name"></span> <span ng-show="prop.required">*</span></label>
	<input type="password" class="form-control" ng-disabled="!prop.writable" ng-model="prop.value" tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}">
</div>