<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label" ng-if="prop.width != 12 || (prop.width == 12 && prop.name !== undefined && prop.name !== '')">{{prop.name}}&nbsp; <span ng-show="prop.required">*</span></label>
	<ui-select id="{{prop.id}}" ng-model="prop.value" multiple theme="bootstrap" ng-disabled="!prop.writable" tooltip="{{errors[prop.id]}}" class="{{errors[prop.id] ? 'error' : ''}}">
		<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$item.group}}</strong> {{$item.name}}</ui-select-match>
		<ui-select-choices group-by="'group'" repeat="v.id as v in prop.enumValues | filter: $select.search">
			<div ng-bind-html="v.name | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>
</div>