<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Ritiro farmaco</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
<div class="modal-body">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Dettagli">
				<tab-heading>
					<i class="material-icons">pin_drop</i>
					<span>Dettagli</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
	 			<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading scrollspy">
								<h4>Dati di ritiro del farmaco</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4">
										<label class="control-label">Paziente</label>
										<div class="input-group">
											<input value="{{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{detail.patient.firstName}}"
												tooltip="{{errors['detail.patient']}}" ng-class="{error: errors['detail.patient']}" type="text"
												class="form-control" ng-disabled="true"> 
												<span class="input-group-btn">
												<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.patient == undefined"
													user-modal="detail.patient.id" user-type="detail.patient.type" multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Farmacia di riferimento</label>
										<div class="input-group">
											<input value="{{detail.pharmacy.name}}" tooltip="{{errors['detail.pharmacy']}}" ng-class="{error: errors['detail.pharmacy']}" type="text"
												class="form-control" ng-disabled="true"> 
												<span class="input-group-btn">
												<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.pharmacy == undefined"
													pharmacy-modal="detail.pharmacy.id" post-fn="search" post-fn-dismiss="search">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" >
										<label class="control-label">Responsabile</label>
										<div class="input-group">
											<input value="{{detail.owner.title | constantLabel:'UserTitle'}} {{detail.owner.lastName}} {{detail.owner.firstName}}"
												tooltip="{{errors['detail.owner']}}" ng-class="{error: errors['detail.owner']}" type="text"
												class="form-control" ng-disabled="true"> 
												<span class="input-group-btn">
												<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.owner == undefined"
													user-modal="detail.owner.id" user-type="detail.owner.type" multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['pickUpDate'].UPDATE">
										<label class="control-label">Data ritiro</label>
										<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.pickUpDate" 
											tooltip="{{errors['detail.pickUpDate']}}" ng-class="{error: errors['detail.pickUpDate']}">
									</div>
									<div class="form-group col-md-8">
										<label class="control-label">Codice ritiro</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE"
											ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
										<label class="control-label">Note</label>
										<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['notes'].UPDATE"
											ng-model="detail.notes" tooltip="{{errors['detail.notes']}}" ng-class="{error: errors['detail.notes']}" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
										<label class="control-label">Note Interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Luogo di ritiro</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-12">
										<label class="control-label">Luogo incontro</label>
										<select ng-options="v.id as v.label disable when (!v.active && v.id !== form.locationType) for v in constants['MeetingLocation']" class="form-control" 
											ng-model="detail.locationType" tooltip="{{errors['detail.locationType']}}" ng-class="{error: errors['detail.locationType']}" ng-disabled="true">
											<option value=""></option>
										</select>
									</div>
								</div>
								<div class="row" address-input="detail.address" errors="errors" ng-disabled="true" default-country-code="IT" />
							</div>
						</div>
					</div>
				</div>
				<div class="row m-t" ng-if="fieldPermissions['items'].VIEW">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="row" st-table="detail.items">
								<div class="col-sm-12">
									<div class="bg-secondary wrapper-xs">
										<div class="inline">
											<h4 class="m-sm">Farmaci da ritirare</h4>
										</div>
										<div class="btn-group dropdown pull-right" dropdown ng-if="canInsert">
											<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
												<i class="material-icons">view_list</i>
											</button>
											<ul class="dropdown-menu pull-right">
								            	<li ng-if="canInsert">
								            		<a drug-pick-up-item-modal="''" drug-pick-up="detail">
								            			<i class="material-icons">add</i>
								            			<span>Nuovo</span>
								            		</a>
								            	</li>
							        		</ul>
										</div>
									</div>
									<table class="table" id="detail.items" tooltip="{{errors['detail.items']}}" ng-class="{error: errors['detail.items']}">	
										<thead>
											<tr>
												<th>Nome</th>
												<th>Quantità</th>
												<th>Data scadenza</th>
												<th style="width: 30px; padding: 0;" />
											</tr>
										</thead>
										<tbody class="bg-white">
											<tr ng-repeat="row in detail.items track by $index" drug-pick-up-item-modal="row.id" drug-pick-up="detail" item-index="$index">
												<td ng-bind="row.drug.name" />
												<td ng-bind="row.collectedQuantity" />
												<td ng-bind="row.drugExpiringDate | formatDate" />
												<td style="padding: 0;">
													<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="fieldPermissions['items'].UPDATE">
											        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
											         		<i class="material-icons">more_vert</i>
											    		</button>
											    		<ul class="dropdown-menu pull-right">
											            	<li ng-if="fieldPermissions['items'].UPDATE">
											            		<a ng-click="removeItem($index)">
											            			<i class="material-icons">delete</i>
											            			Cancella
											            		</a>
											            	</li>
											            </ul>
											    	</div>
											    </td>					
											</tr>
										</tbody>
										<tbody ng-show="detail.items == undefined || detail.items == 0">
											<tr>
												<td colspan="3">
													<div class="text-muted"><i>Nessun dato trovato</i></div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>