							<div class="col-lg-12">
								
								<div class="panel panel-default m-n">
									<div class="panel-body">
										<form name="form" class="form-validation" novalidate ng-submit="search()">
											<div class="row">
												<div class="form-group col-md-4">
													<label>Da data evento</label>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="searchFilters.filters.DATE_FROM"
															format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}"
															ng-readonly="true">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label>A data evento</label>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="searchFilters.filters.DATE_TO"
															format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}"
															ng-readonly="true">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label class="control-label">Tipo Evento</label>
													<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.EVENT_TYPE) for v in constants['PharmacoVigilanceEventType']" class="form-control" ng-model="searchFilters.filters.EVENT_TYPE" >
														<option value="" />
													</select>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-md-4">
													<label>Da data raccolta segnalazione</label>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="searchFilters.filters.DATE_EVENT_NOTIFICATION_FROM"
															format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}"
															ng-readonly="true">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label>A data raccolta segnalazione</label>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="searchFilters.filters.DATE_EVENT_NOTIFICATION_TO"
															format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}"
															ng-readonly="true">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label class="control-label">Stato Evento</label>
													<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['PharmacoVigilanceEventStatus']" class="form-control" ng-model="searchFilters.filters.STATUS" >
														<option value="" />
													</select>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-md-4">
													<label>Da data notifica al Cliente</label>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="searchFilters.filters.DATE_CUSTOMER_NOTIFICATION_FROM"
															format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}"
															ng-readonly="true">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label>A data notifica al Cliente</label>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="searchFilters.filters.DATE_CUSTOMER_NOTIFICATION_TO"
															format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}"
															ng-readonly="true">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												
												<div class="form-group col-md-4">
													<label>Paziente</label>
													<div class="input-group">
														<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
														<span class="input-group-btn">
															<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient" user-type="'PATIENT'" multiple-list="false" title="Seleziona">
																<i class="material-icons">search</i>
															</button>
															<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id" user-type="'PATIENT'" ng-disabled="objectFilters.patient.id === undefined" title="Dettaglio">
																<i class="material-icons">person</i>
															</button>
															<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined" ng-click="objectFilters.patient = undefined" title="Dettaglio">
																<i class="material-icons">clear</i>
															</button>					
														</span>		
													</div>
												</div>
												
												<!--  
												<div class="form-group col-md-4">
													<label>Paziente</label> 
													<ui-select ng-model="searchFilters.filters.PATIENT_ID" theme="bootstrap" ng-disabled="patientId !== undefined">
														<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.lastName}} {{$select.selected.firstName}}</ui-select-match>
													    	<ui-select-choices repeat="v.id as v in selects['Patient'] | filter: $select.search">
													     	<div ng-bind-html="(v.lastName + ' ' + v.firstName) | highlight: $select.search" />
													    </ui-select-choices>
													</ui-select>
												</div>
												-->
											</div>
											<div class="row">
												<div class="form-group col-md-6">
													<label>Codice</label>
													<input type="text" class="form-control" ng-model="searchFilters.filters.CODE"/>
												</div>
												<div class="form-group col-md-6">
													<label class="control-label">Tipo Segnalazione</label>
													<ui-select ng-model="searchFilters.filters.REPORT_TYPE" multiple theme="bootstrap" close-on-select="false">
														<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.label}}</ui-select-match>
													    	<ui-select-choices repeat="v.id as v in constants['PharmacoVigilanceEventReportType'] | filter: $select.search">
													     	<div ng-bind-html="v.label | highlight: $select.search" />
													    </ui-select-choices>
													</ui-select>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 text-right">
													<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
														Cerca
													</button>
													<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
														Cancella
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>