<div class="wrapper-sm export" style="overflow: hidden; height: 90vh;" ng-if="pdf == undefined">	
	<div id="PATIENT_ADHERENCE" panel-chart="PATIENT_ADHERENCE" class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Aderenza pazienti</div>
		<div class="panel-body" pie-chart chart-type="PATIENT_ADHERENCE" filters="filters"
			options="{colors:['#0DA409', '#78EA74','#F2DD0F','#ED7708','#F20A0A'],series:{percentage:true}}" refresh="false"
			draw-callback="drawCallback" />
	</div>
	<div id="PATIENT_SEX" panel-chart="PATIENT_SEX" class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Pazienti per sesso</div>
		<div class="panel-body" pie-chart chart-type="PATIENT_SEX" filters="filters" refresh="false"
			options="{colors:['#4FC3F7', '#F5B5D3'],series:{percentage:true}}" draw-callback="drawCallback" />
	</div>
	<div id="PATIENT_AGE" panel-chart="PATIENT_AGE" class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Pazienti per fasce d'et&agrave;</div>
		<div class="panel-body" pie-chart chart-type="PATIENT_AGE" filters="filters" refresh="false"
			options="{series:{percentage:true}}" draw-callback="drawCallback" />
	</div>
	<div id="PATIENT_STATUS" panel-chart="PATIENT_STATUS" class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Pazienti per stato</div>
		<div class="panel-body" pie-chart chart-type="PATIENT_STATUS" filters="filters" refresh="false"
			options="{colors:['#00C853', '#FFEA00', '#FF3D00'],series:{percentage:true}}" draw-callback="drawCallback" />
	</div>
	<div id="PATIENT_THERAPY" panel-chart="PATIENT_THERAPY" class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Pazienti per terapia</div>
		<div class="panel-body" pie-chart chart-type="PATIENT_THERAPY" filters="filters" refresh="false"
			options="{series:{percentage:true}}" draw-callback="drawCallback" />
	</div>
	<div id="PATIENT_ACCESSION_DATE" panel-chart="PATIENT_ACCESSION_DATE" class="panel panel-default" style="width: 790px;">
		<div class="panel-heading font-bold">Adesioni pazienti per mese</div>
		<div class="panel-body " line-chart chart-type="PATIENT_ACCESSION_DATE" filters="filters" refresh="false"
			draw-callback="drawCallback" />
	</div>
	<div style="position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 2000; background: white;">
		<div class="hbox">
			<div class="col v-middle text-center">
				<i class="fa fa-circle-o-notch fa-spin" />
			</div>
		</div>
	</div>
</div>
<ng-include src="'tpl/app/pdf.html'" ng-if="pdf" />