<div class="wrapper-sm" ng-if="showList">
	<div class="row">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="updateState()" title="Aggiorna">
				Aggiorna
			</button>
		</div>
	</div>
</div>
<div class="wrapper-sm" ng-if="showList == undefined">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>
				PluggyMed non collegato
			</h2>
		</div>
	</div>
</div>
<div class="wrapper-sm" ng-if="showList == false">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>
				Caricamento dati in corso
				<i class="fa fa-spin fa-gear" />
			</h2>
		</div>
	</div>
</div>
<div class="wrapper-sm" ng-if="showList">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default m-n">
				<div class="panel-body">
					<form name="form" class="form-validation" novalidate ng-submit="search()">
						<div class="row">
							<div class="form-group col-md-4">
								<label class="control-label">Data</label>
								<div class="input-group">
									<input type="text" class="form-control" format-date ng-readonly="true" ng-model="searchFilters.filters.DATE">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
											<i class="material-icons">date_range</i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-right">
								<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
									Cerca
								</button>
								<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
									Cancella
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-sm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" ng-if="showList">
				<div class="row" st-pipe="search" st-table="list">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Rilevazioni pervenute</h4>
							</div>
						</div>
						
						<table class="table">
							<thead>
								<tr>
									<th st-sort="date" st-sort="date" st-sort-default="reverse">Data</th>
									<th class="hidden-xs hidden-sm text-center" st-sort="taken">Prese</th>
									<th class="hidden-xs hidden-sm text-center" st-sort="remaining">Rimanenti</th>
									<th class="text-center" st-sort="type">Tipo rilevazione</th>
									<th class="text-center" st-sort="totalTaken">Totali prese</th>
									<th class="hidden-xs hidden-sm hidden-md text-center" st-sort="changedBlister">Cambio blister</th>
									<th ng-if="isInternalStaff()" class="hidden-xs hidden-sm hidden-md text-center">Stato</th>
									<th style="width: 30px; padding: 0;"></th>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in list" ng-click="edit(row.id)">
									<td ng-bind="row.date | formatDateTime" />
									<td class="hidden-xs hidden-sm text-center" ng-bind="row.taken" />
									<td class="hidden-xs hidden-sm text-center" ng-bind="row.remaining" />
									<td class="text-center" ng-bind="row.type | constantLabel:'PhuturemedStateType'" />
									<td class="text-center" ng-bind="row.totalTaken" />
									<td class="hidden-xs hidden-sm hidden-md text-center">
										<label class="i-checks">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.changedBlister">
											<i />
										</label>
									</td>
									<td ng-if="isInternalStaff()" class="text-center" ng-bind="row.status | constantLabel:'PhuturemedStateStatus'" />
									<td ng-if="!selection && isInternalStaff()" style="padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
								        		<li ng-if="row.status=='IGNORED' && isInternalStaff()">
								            		<a ng-click="activate(row.id)">
								            			<i class="material-icons">check</i>
								            			Attiva
								            		</a>
								            	</li>
								        		<li ng-if="row.status=='ACTIVE' && isInternalStaff()">
								            		<a ng-click="ignore(row.id)">
								            			<i class="material-icons">clear</i>
								            			Ignora
								            		</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>
								</tr>
							</tbody>
							<tbody ng-show="list == undefined || list.length==0">
								<tr>
									<td colspan="6" >
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
							<tfoot ng-show="list != undefined && list.length > 0">
								<tr>
									<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
								</tr>
							</tfoot>						
						</table>
					</div>
				</div>	  
			</div>
		</div>
	</div>
</div>