<div class="modal-header" ng-if="popup" ng-switch on="type">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 ng-switch-when="todo" class="modal-title">Lista attività 'Da completare'</h3>
	<h3 ng-switch-when="not-assigned" class="modal-title">Lista attività 'In coda'</h3>
	<h3 ng-switch-when="assigned-to-others" class="modal-title">Lista attività 'In carico ad altri'</h3>
	<h3 ng-switch-when="other-user-task">Lista attività utente</h3>
	<h3 ng-switch-default class="modal-title">Lista attività</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-body-notfooter'}}">
	<div class="wrapper-sm" ng-show="type != 'other-user-task'">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<div class="row">
							<div class="form-group col-md-4">
								<label>Codice attività</label>
								<input type="text" class="form-control" ng-model="searchFilters.filters.USER_ACTIVITY_CODE">
							</div>
							<div class="form-group col-md-4">
								<label>Nome attività</label>
								<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
							</div>
							<div class="form-group col-md-4">
								<label>Descrizione attività</label>
								<input type="text" class="form-control" ng-model="searchFilters.filters.DESCRIPTION">
							</div>
							<div class="form-group col-md-2">
								<label>Data da</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-readonly="true" ng-model="searchFilters.filters.DUE_DATE_FROM"
										format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
											<i class="material-icons">date_range</i>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group col-md-2">
								<label>Data a</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-readonly="true" ng-model="searchFilters.filters.DUE_DATE_TO"
										format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
											<i class="material-icons">date_range</i>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label>Tipo attività</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.TYPE) for v in constants['MasterActivityType'] | constantActive"
									class="form-control" ng-model="searchFilters.filters.ACTIVITY_TYPE">
									<option value=""></option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label>Tipo Utente Rif.</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.USER_TYPE) for v in constants['ServiceRecipientType'] | constantActive"
									class="form-control" ng-model="searchFilters.filters.USER_TYPE">
									<option value=""></option>
								</select>
							</div>
							<div class="form-group col-md-4" ng-show="type=='not-assigned'">
								<label>Operatore IA preferito</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.preferredInternalStaff.lastName}} {{objectFilters.preferredInternalStaff.firstName}}">
									<span class="input-group-btn">
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.preferredInternalStaff"
											user-type="'INTERNAL_STAFF'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.PREFERRED_INTERNAL_STAFF_USER_ID">
											<i class="material-icons">search</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.preferredInternalStaff.id" user-type="'INTERNAL_STAFF'"
											ng-disabled="objectFilters.preferredInternalStaff === undefined" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.preferredInternalStaff == undefined"
											ng-click="objectFilters.preferredInternalStaff = undefined; searchFilters.filters.PREFERRED_INTERNAL_STAFF_USER_ID = undefined;" title="Dettaglio">
											<i class="material-icons">clear</i>
										</button>					
									</span>		
								</div>
							</div>
							<div class="form-group col-md-4" ng-if="serviceActivityGroups.length > 0">
								<label class="control-label">Gruppo attività / Occorrenza</label>
								<div class="input-group">
									<select ng-options="v.code as v.name for v in serviceActivityGroups" class="form-control" ng-model="searchFilters.filters.SERVICE_ACTIVITY_GROUP_CODE">
										<option value=""></option>
									</select>
									<span class="input-group-btn with-select" >
										<select class="btn btn-default btn-sm" ng-model="searchFilters.filters.ACTIVITY_GROUP_CODE" 
											ng-disabled="activityGroups.length == 0" ng-options="v.groupFilterKey as v.occurrence for v in activityGroups" >
											<option value=""></option>			    				
										</select>
									</span>
								</div>
							</div>
							<div class="form-group col-md-4" ng-if="loggedUser.viewPermissions.PATIENT">
								<label>Paziente</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
									<span class="input-group-btn">
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient"
											user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.ACTIVITY_PATIENT_ID">
											<i class="material-icons">search</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id" user-type="'PATIENT'"
											ng-disabled="objectFilters.patient === undefined" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined"
											ng-click="objectFilters.patient = undefined; searchFilters.filters.ACTIVITY_PATIENT_ID = undefined;" title="Dettaglio">
											<i class="material-icons">clear</i>
										</button>					
									</span>		
								</div>
							</div>
							<div class="form-group col-md-4">
								<label>Medico</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.hcp.lastName}} {{objectFilters.hcp.firstName}}">
									<span class="input-group-btn">
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.hcp" user-type="'HCP'"
											multiple-list="false" title="Seleziona" user-id="searchFilters.filters.ACTIVITY_HCP_ID">
											<i class="material-icons">search</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.hcp.id"
											user-type="'HCP'" ng-disabled="objectFilters.hcp === undefined" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.hcp == undefined"
											ng-click="objectFilters.hcp = undefined; searchFilters.filters.ACTIVITY_HCP_ID = undefined;" title="Dettaglio">
											<i class="material-icons">clear</i>
										</button>					
									</span>		
								</div>
							</div>
							<div class="form-group col-md-4" ng-show="type=='assigned-to-others'">
								<label>Assegnate a</label>
								<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.ASSIGNEE_USER_TYPE) for v in constants['ActivityOwnerType']" class="form-control" ng-model="searchFilters.filters.ASSIGNEE_USER_TYPE">
									<option value=""></option>
								</select>
							</div>
							<div class="form-group col-md-4" ng-show="type=='assigned-to-others'">
								<label>Operatore sanitario</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.supplier.lastName}} {{objectFilters.supplier.firstName}}">
									<span class="input-group-btn">
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.supplier" user-type="'SUPPLIER'"
											multiple-list="false" title="Seleziona">
											<i class="material-icons">search</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.supplier.id" user-type="'SUPPLIER'"
											ng-disabled="objectFilters.supplier === undefined" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.supplier == undefined"
											ng-click="objectFilters.supplier = undefined" title="Dettaglio">
											<i class="material-icons">clear</i>
										</button>					
									</span>		
								</div>
							</div>
							<div class="form-group col-md-4" ng-show="type=='assigned-to-others'">
								<label>Personale IA</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.internalStaff.lastName}} {{objectFilters.internalStaff.firstName}}">
									<span class="input-group-btn">
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.internalStaff"
											user-type="'INTERNAL_STAFF'" multiple-list="false" title="Seleziona">
											<i class="material-icons">search</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.internalStaff.id"
											user-type="'INTERNAL_STAFF'" ng-disabled="objectFilters.internalStaff === undefined" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.internalStaff == undefined"
											ng-click="objectFilters.internalStaff = undefined" title="Dettaglio">
											<i class="material-icons">clear</i>
										</button>					
									</span>		
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-right">
								<button class="btn btn-primary waves-effect waves-light" ng-click="search()" title="Cerca">
									Cerca
								</button>
								<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
									Cancella
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Attività</h4>
								</div>
							</div>
							<table class="table">		
								<thead>
									<tr>
										<th st-sort="PRIORITY" style="width: 5%">Priorità</th>
										<th st-sort="CREATE_TIME" style="width: 8%">Creazione</th>
										<th st-sort="DUE_DATE" style="width: 10%">Data Attività</th>
										<th style="width: 10%" ng-if="type != 'other-user-task'">Utente di Rif.</th>
										<th style="width: 10%">Tipo utente Rif.</th>
										<th st-sort="USER_ACTIVITY_CODE" style="width: 10%">Codice Attività</th>
										<th st-sort="NAME" colspan="2">Attività</th>
										<th style="width: 15%" ng-if="type=='other-user-task'">Gruppo</th>
										<th st-sort="ASSIGNEE" style="width: 15%" ng-if="type=='assigned-to-others' || type=='other-user-task'">Assegnata a</th>
										<th style="width: 30px; padding: 0;" ng-if="type=='assigned-to-others' || type=='other-user-task'" />
									</tr>
								</thead>
								<tbody class="bg-white">
<!-- 								ng-click="$state.go('app.task', { id: row.id }) -->
									<tr ng-repeat="row in list" task-detail="row.id" popup="type=='other-user-task'"  post-fn="reloadTasksList">
										<td style="padding: 15px;">
											<span class="pull-left m-r label bg-danger" ng-if="row.priority >= 50">&nbsp;</span>
											<span class="pull-left m-r label bg-warning" ng-if="row.priority >= 25 && row.priority < 50">&nbsp;</span>
											<span class="pull-left m-r label bg-info" ng-if="row.priority < 25">&nbsp;</span>
										</td>
										<td style="padding: 15px;">{{ row.createTime | formatDateTime }}</td>
										<td style="padding: 15px;">{{ row.dueDate | formatDateTime }}</td>
										<td style="padding: 15px;" style="width: 10%" ng-if="type != 'other-user-task'" >{{ row.userName }}</td>
										<td style="padding: 15px;" style="width: 10%" ng-bind="row.userType | constantLabel:'UserType'" />
										<td style="padding: 15px;">{{ row.userActivityCode }} </td>
										<td style="padding: 15px;" colspan="2" >
											<div><a href class="text-md" style="cursor: default;">{{row.name}}</a></div>
											<div class="text-base m-t-xs" ng-bind-html="row.description"></div>
										</td>
										<td style="padding: 15px;" style="width: 10%" ng-if="type == 'other-user-task'">
											<span ng-if="row.assignee !== undefined && row.assignee == loggedUser.nickName">Da completare</span>
											<span ng-if="row.assignee == undefined">In coda</span>
											<span ng-if="row.assignee !== undefined && row.assignee != loggedUser.nickName">In carico ad altri</span>
										</td>
										<td style="padding: 15px;" style="width: 8%" ng-if="type=='assigned-to-others' || type=='other-user-task'">{{ row.assigneeUserName }}</td>
										<td ng-if="(type=='assigned-to-others' || type=='other-user-task') && !isPersonified()" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" 
												ng-if="type=='assigned-to-others' || (type=='other-user-task' && (row.assignee !== undefined && row.assignee != loggedUser.nickName))">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li>
									            		<a ng-click="impersonateUserFromOtherTaskList(row.assignee)">
									            			<i class="material-icons">person</i>
									            			Impersonifica
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="9">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="9" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>