<!-- Item template -->
<div as-sortable-item-handle>
    <div class="row">
        <div class="col-sm-10">
            <!--<span class="btn-link"><a data-no-drag target=_top href="https://github.com/a5hik/ng-sortable">test no-drag href</a></span>-->
            <span class="card-title">{{card.title}}</span>
        </div>
        <div class="col-sm-2">
            <a data-no-drag class=" removeCard pull-right btn btn-xs" ng-click="removeCard(column, card)"><span
                    class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
</div>
