
<div class="wrapper-sm filterWrap">
	<div class="row">
		<!-- Se operatore o supplier includi i filtri -->
		<div ng-if="loggedUser.type!='HCP' && loggedUser.type!='PATIENT' && !isHcp() && !isPatient()">
			<div class="row">
				<div ng-include="'tpl/directives/document/document-list-filter.html'"></div>
			</div>
			<div class="text-right m-t"> <!-- MOD MATTEO tolta classe headerDoctor -->
				<div class="" ng-if="canInsert"><!-- MOD MATTEO tolta classe filterClone -->
					<button class="btn m-t-md btn-primary btn-upload waves-effect waves-light" ng-click="updaloadFileOK=!updaloadFileOK" title="Invia richiesta" ng-class="updaloadFileOK ? 'closeStyle' : ''">
						<span ng-if="updaloadFileOK">CHIUDI UPLOADER</span> 
						<span ng-if="!updaloadFileOK">Carica documento</span> 
					</button>
	
					<div class="filterPopup long" ng-show="!updaloadFileOK">
	
						<div ng-include="'tpl/directives/document/uploader.html'"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Se medico o paziente mostra pulsante filtro -->
		<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='HCP' || loggedUser.type=='PATIENT' || isHcp() || isPatient()">
			<div class="inline" ng-if="canInsert">
				<button class="btn  btn-primary btn-upload waves-effect waves-light" ng-click="updaloadFileOK=!updaloadFileOK" title="Invia richiesta" ng-class="updaloadFileOK ? 'closeStyle' : ''">
					<span ng-if="updaloadFileOK">CHIUDI UPLOADER</span> 
					<span ng-if="!updaloadFileOK">Carica documento</span> 
				</button>

				<div class="filterPopup long" ng-show="!updaloadFileOK">

					<div ng-include="'tpl/directives/document/uploader.html'"></div>
				</div>
			</div>
			<div class="filterClone inline">
				<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
					<span class="opened">Filtra</span><span class="closed">Chiudi</span>
				</div>
				<div class="filterPopup tiny" ng-show="!filterPopup">
					<div class="row">
						<div ng-include="'tpl/directives/document/document-list-filter.html'"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="wrapper-sm m-t main-dashboard">	
	<div class="row">
		<div class="col-xs-12">	
			<div class="panel panel-default" ng-if="showList">
				<div class="row" st-pipe="search" st-table="list">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs {{isHcp() || isPatient() ? 'table-title' : ''}}">
							<div class="inline">
								<h4 class="m-sm">Documenti caricati</h4>
							</div>
						</div>
						<table class="table">
							<thead>
								<tr ng-if="isSelection && isMultipleSelection">
									<th colspan="6">
										<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
											<i class="mdi-toggle-check-box"></i>
										</button>
										<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
											<i class="mdi-toggle-check-box-outline-blank"></i>
										</button>
									</th>
								</tr>
								<tr>
									<th class="hidden-xs hidden-sm" >Categoria</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="o.dateInsert">Caricato il</th>
									<th st-sort="o.name">Nome</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="o.type">Tipo</th>
									<th ng-if="isInternalStaff()">Cross PSP</th>
									<th style="width: 30px; padding: 0;"></th>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in list" document-viewer id="row.id" owner-id="row.ownerId" filename="row.name" action="'auto'">
									<td class="hidden-xs hidden-sm">
										<span ng-repeat="c in row.categories">{{c.name + (c.program ? ' [' + c.program.name + ']' : '')}} {{$last ? '' : ', '}}</span>
									</td>
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.dateInsert | formatDateTime" />
									<td ng-bind="row.name" />
									<td ng-bind="row.type | constantLabel:'DocumentType'" />
									<td ng-bind="row.crossProgram | formatBool" ng-if="isInternalStaff()">{{row.crossProgram | formatBool}}{{row.program ? ' [' + row.program.name + ']' : ''}}</td>
									<td ng-if="!selection" style="padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
								            	<li>
								            		<a ng-click="edit(row.id)">
								            			<i class="material-icons">person</i>
								            			Info file
								            		</a>
								            	</li>
								            	<li>
								            		<a document-viewer title="row.fileName" id="row.id" owner-id="row.ownerId" filename="row.name" action="'auto'">
								            			<i class="material-icons">file_download</i>
								            			Scarica
								            		</a>
								            	</li>
								            	<li ng-if="permissions[row.id].DELETE">
								            		<a document-viewer title="row.fileName" id="row.id" owner-id="row.ownerId" filename="row.name" 
										    			action="'delete'" callback-fn="loadDocuments()">
									            		<i class="material-icons">delete</i>
								    	        		Cancella
								        	    	</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>
								</tr>
								<tr ng-show="list !== undefined && list.length==0">
									<td colspan="6">
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
							<tfoot ng-show="list !== undefined && list.length>0">
								<tr>
									<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<div class="row" ng-if="isSelection && isMultipleSelection">
					<div class="col-lg-12 text-right custom-button-modal">
						<button class="md-btn custom-button" ng-click="confirmSelection()" title="Conferma" md-ink-ripple>
							<i class="mdi-navigation-check i-24"></i> Conferma
						</button>
						<button class="md-btn custom-button" ng-click="undoSelection()" title="Annulla" md-ink-ripple>
							<i class="mdi-content-clear i-24 m-r-xs"></i> Annulla
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>