<div class="col-lg-12 uploader">
	<div class="panel panel-default">
		<form role="form" id="docsForm" novalidate ng-if="!isIE9" class="panel-body">	
			<div class="col-lg-12 form-group">
				<div ng-show="uploader.isHTML5" class="m-b-md hidden-mobile" >
					<div nv-file-drop="" uploader="uploader" >
						<div  nv-file-over="" style="height: 250px;" uploader="uploader" class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b m-t" over-class="b-danger">
							<img src="img/upload.png" style="max-height: 80%;">
							<br/>
							<p class="m-t-lg m-b-lg"><strong>Trascina qui i files per caricarli</strong></p>
						</div>
					</div>
				</div>
				<label class="control-label">Carica File</label>
				<input ui-jq="filestyle" class="filestyle" type="file" nv-file-select="" uploader="uploader" multiple data-icon="false" data-buttonName="btn btn-default btn-sm waves-effect waves-light">
			</div>	
			<div class="col-lg-12 form-group" ng-show="uploader.queue != undefined && uploader.queue.length>0">
				<table class="table bg-white-only b-a uploader-table">
					<thead>
						<tr>
							<th>File</th>
							<th style="width: 380px;">Categoria</th>
							<th style="width: 200px;">Nome</th>
							<th class="hidden-xs" style="width: 100px;" ng-show="uploader.isHTML5">Dim.</th>
							<th class="hidden-xs" style="width: 50px;" ng-show="uploader.isHTML5">&nbsp;</th>
							<th>Stato</th>
							<th style="width: 110px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td>
								<strong>{{ item.file.name }}</strong>
							</td>
							<td>
								<ui-select ng-model="item.categories" multiple theme="bootstrap" tooltip="{{errors['item_'+$index+'.categories']}}" close-on-select="false" 
									class="form-control input-sm" ng-class="{error: errors['item_'+$index+'.categories']}" ng-change="errors['item_'+$index+'.categories'] = undefined">
									<ui-select-match placeholder="Seleziona Categoria" allow-clear="true"><strong>{{$item.name + ($item.program ? ' [' + $item.program.name + ']' : '')}}</strong></ui-select-match>
									<ui-select-choices repeat="c.id as c in categoriesForUpload | filter: $select.search">
										<div ng-bind-html="c.name + (c.program ? ' [' + c.program.name + ']' : '') | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</td>
							<td>
								<input id="{{'item_'+$index+'.name'}}" class="form-control input-sm" ng-model="item.name"  tooltip="{{errors['item_'+$index+'.name']}}"  ng-class="{error: errors['item_'+$index+'.name']}" ng-change="errors['item_'+$index+'.name'] = undefined" />
							</td>
							<td class="hidden-xs" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
							<td class="hidden-xs" ng-show="uploader.isHTML5">
								<div class="progress progress-sm m-b-none m-t-xs">
									<div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
								</div>
							</td>
							<td class="text-center">
								<span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
								<span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
								<span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
							</td>
							<td nowrap>
								<button type="button" title="Carica" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-click="uploader.verifyAndUploadItem(item,$index)" ng-hide="item.isReady || item.isUploading || item.isSuccess">
									<i class="material-icons">file_upload</i>
								</button>
								<button type="button" title="Rimuovi" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-click="item.remove()">
									<i class="material-icons">delete</i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<p>Caricamento:</p>
					<div class="progress bg-light dker" style="">
						<div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</div>
				<button type="button" class="btn btn-default waves-effect waves-light" ng-click="uploader.verifyAndUploadAll()" ng-hide="!uploader.getNotUploadedItems().length">
					<i class="material-icons">file_upload</i>
					Carica tutti
				</button>
				<button type="button" class="btn btn-default waves-effect waves-light" ng-click="uploader.clearQueue()" ng-hide="!uploader.queue.length">
					<i class="material-icons">delete</i>
					Rimuovi tutti
				</button>
			</div>
		</form>
		<div ng-if="isIE9" class="alert ng-isolate-scope alert-warning alert-dismissable">
			<p class="text-center">Utilizzando Internet Explorer 9 non è possibile caircare i files sul server.</p>
		</div>
	</div>
</div>