
<div class="row">
	<div class="form-group col-md-12 { highlight('includedInReports') ? 'has-warning' : '' }}" ng-if="fieldPermissions['products'].VIEW">
		<label class="control-label ">Includere nei report?</label> <sup>*</sup>
		<div class="checkbox-inline">
			<label class="i-checks m-r">
				<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.includedInReports">
				<i tooltip="{{errors['detail.products['+$index+'].includedInReports']}}" ng-class="{error: errors['detail.products['+$index+'].includedInReports']}"></i>Si
			</label>
			<label class="i-checks">
				<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.includedInReports">
				<i tooltip="{{errors['detail.products['+$index+'].includedInReports']}}" ng-class="{error: errors['detail.products['+$index+'].includedInReports']}"></i>No
			</label>
		</div>
	</div>
</div>
<div class="row" ng-if="!p.associatedDrug">
	<div class="form-group col-md-4 {{ highlight('therapyId') ? 'has-warning' : '' }}">
		<label class="control-label">Terapia</label> <sup>*</sup>
		<select id="{{'p['+$index+'].therapy'}}" ng-change="onChangeTherapyIdFn(p)" ng-disabled="!fieldPermissions['products'].UPDATE" ng-options="t.id as t.name for t in detail.patient.therapies" class="form-control" ng-model="p.therapyId" tooltip="{{errors['detail.products['+$index+'].therapyId']}}" ng-class="{error: errors['detail.products['+$index+'].therapyId']}">
			<option value="">Seleziona Terapia</option>
		</select>
	</div>
	<div class="form-group col-md-4 {{ highlight('therapyStartDate') ? 'has-warning' : '' }}">
		<label class="control-label">Data di inizio terapia</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="true" ng-model="p.therapyStartDate">
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['products'].UPDATE">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-4 {{ highlight('diseaseId') ? 'has-warning' : '' }}">
		<label class="control-label">Patologia</label> <sup>*</sup>
		<select id="{{'p['+$index+'].diseaseId'}}" ng-disabled="!fieldPermissions['products'].UPDATE" ng-options="m.id as m.name for m in detail.patient.diseases" class="form-control" ng-model="p.diseaseId" tooltip="{{errors['detail.products['+$index+'].diseaseId']}}" ng-class="{error: errors['detail.products['+$index+'].diseaseId']}">
			<option value="">Seleziona Patologia</option>
		</select>
	</div>	
</div>
<div class="row">	
	<div class="form-group col-md-6 {{ highlight('drugId') ? 'has-warning' : '' }}" ng-if="p.associatedDrug==undefined || !p.associatedDrug">
		<label class="control-label">Farmaco sospetto</label> <sup>*</sup>
		<select id="{{'p['+$index+'].drugId'}}" ng-change="onChangeDrugIdFn(p)" ng-disabled="!fieldPermissions['products'].UPDATE" ng-options="d.id as d.drug.name for d in p.therapy.drugs" class="form-control" ng-model="p.drugId" tooltip="{{errors['detail.products['+$index+'].drugId']}}" ng-class="{error: errors['detail.products['+$index+'].drugId']}">
			<option value="">Seleziona Farmaco</option>
		</select>
	</div>	
	
	<div class="form-group col-md-6 {{ highlight('drugName') ? 'has-warning' : '' }}" ng-if="p.associatedDrug">
		<label class="control-label">Farmaco</label> <sup>*</sup>
		<input type="text" id="p.drugName" class="form-control" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugName" tooltip="{{errors['detail.products['+$index+'].drugName']}}" ng-class="{error: errors['detail.products['+$index+'].drugName']}">
	</div>
	
	<div class="form-group col-md-6 {{ highlight('lotNumber') ? 'has-warning' : '' }}">
		<label class="control-label">Lotto</label> <sup>*</sup>
		<input type="text" id="p.lotNumber" class="form-control" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.lotNumber" tooltip="{{errors['detail.products['+$index+'].lotNumber']}}" ng-class="{error: errors['detail.products['+$index+'].lotNumber']}">
	</div>
</div>
<div class="row">	
	<div class="form-group col-md-4 {{ highlight('drugUsageStartTime') ? 'has-warning' : '' }}">
		<label class="control-label">Durata dell'uso dal</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugUsageStartTime" tooltip="{{errors['detail.products['+$index+'].drugUsageStartTime']}}" ng-class="{error: errors['detail.products['+$index+'].drugUsageStartTime']}">
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['products'].UPDATE">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-4 {{ highlight('drugUsageEndTime') ? 'has-warning' : '' }}">
		<label class="control-label">Durata dell'uso al</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugUsageEndTime" tooltip="{{errors['detail.products['+$index+'].drugUsageStartTime']}}" ng-class="{error: errors['detail.products['+$index+'].drugUsageEndTime']}">
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['products'].UPDATE">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-4 {{ highlight('dosageMethod') ? 'has-warning' : '' }}">
		<label class="control-label">Via di somministrazione</label>
		<input type="text" ng-disabled="!fieldPermissions['products'].UPDATE" class="form-control" ng-model="p.dosageMethod" tooltip="{{errors['detail.products['+$index+'].dosageMethod']}}" ng-class="{error: errors['detail.products['+$index+'].dosageMethod']}">
	</div>
</div>
<div class="row">		
	<div class="form-group col-md-4 {{ highlight('dosage') ? 'has-warning' : '' }}">
		<label class="control-label">Dosaggio</label>
		<input type="number" class="form-control" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.dosage" tooltip="{{errors['detail.products['+$index+'].dosage']}}" ng-class="{error: errors['detail.products['+$index+'].dosage']}">
	</div>
	<div class="form-group col-md-4 {{ highlight('dosageUnit') ? 'has-warning' : '' }}">
		<label class="control-label">Unità di misura</label>
		<input type="text" class="form-control" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.dosageUnit" tooltip="{{errors['detail.products['+$index+'].dosageUnit']}}" ng-class="{error: errors['detail.products['+$index+'].dosageUnit']}">
	</div>
	<div class="form-group col-md-4 {{ highlight('frequency') ? 'has-warning' : '' }}">
		<label class="control-label">Frequenza</label>
		<div class="input-group">
			<span class="input-group-btn">
				<button style="height: 34px !important" type="button" class="btn btn-default waves-effect waves-light" style="cursor: default !important">Ogni</button>
			</span>
			<input type="text" id="p.frequency" class="form-control" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.frequency" 
			tooltip="{{errors['detail.products['+$index+'].frequency']}}" ng-class="{error: errors['detail.products['+$index+'].frequency']}">
			<span class="input-group-btn with-select">
			
				<select class="btn btn-default" style="height: 34px !important" ng-model="p.frequencyUnit" ng-disabled="!fieldPermissions['products'].UPDATE" 
				tooltip="{{errors['detail.products['+$index+'].frequencyUnit']}}" ng-class="{error: errors['detail.products['+$index+'].frequency']}" 
				ng-change="errors['detail.products['+$index+'].frequency'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== p.frequencyUnit) for v in constants['TimeUnit']" >
					<option value="">Seleziona unità di tempo</option>			    				
				</select>
			</span>
		</div>
	</div>
</div>
<div class="row">		
	<div class="form-group col-md-12 {{ highlight('drugUsageReason') ? 'has-warning' : '' }}">
		<label class="control-label">Indicazioni o altro motivo per cui il farmaco è stato usato</label>
		<textarea class="form-control" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugUsageReason" tooltip="{{errors['detail.products['+$index+'].drugUsageReason']}}" ng-class="{error: errors['detail.products['+$index+'].drugUsageReason']}"></textarea>
	</div>
</div>	
<div class="row">
	<div class="form-group col-md-6 {{ highlight('drugSuspended') ? 'has-warning' : '' }}" ng-if="fieldPermissions['products'].VIEW">
		<label class="control-label">Il Farmaco è stato sospeso?</label>
		<div class="checkbox-inline">
			<label class="i-checks m-r">
				<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugSuspended">
				<i tooltip="{{errors['detail.products['+$index+'].drugSuspended']}}" ng-class="{error: errors['detail.products['+$index+'].drugSuspended']}"></i>Si
			</label>
			<label class="i-checks">
				<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugSuspended">
				<i tooltip="{{errors['detail.products['+$index+'].drugSuspended']}}" ng-class="{error: errors['detail.products['+$index+'].drugSuspended']}"></i>No
			</label>
		</div>
	</div>
	<div class="form-group col-md-6 {{ highlight('reliefAfterDrugSuspended') ? 'has-warning' : '' }}" ng-if="fieldPermissions['products'].VIEW">
		<label class="control-label">La reazione è migliorata dopo la sospensione?</label>
		<div class="checkbox-inline">
			<label class="i-checks m-r">
				<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.reliefAfterDrugSuspended">
				<i tooltip="{{errors['detail.products['+$index+'].reliefAfterDrugSuspended']}}" ng-class="{error: errors['detail.products['+$index+'].reliefAfterDrugSuspended']}"></i>Si
			</label>
			<label class="i-checks">
				<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.reliefAfterDrugSuspended">
				<i tooltip="{{errors['detail.products['+$index+'].reliefAfterDrugSuspended']}}" ng-class="{error: errors['detail.products['+$index+'].reliefAfterDrugSuspended']}"></i>No
			</label>
		</div>
	</div>
	<div class="form-group col-md-6 {{ highlight('drugResumed') ? 'has-warning' : '' }}" ng-if="fieldPermissions['products'].VIEW">
		<label class="control-label">Il Farmaco è stato ripreso?</label>
		<div class="checkbox-inline">
			<label class="i-checks m-r">
				<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugResumed">
				<i tooltip="{{errors['detail.products['+$index+'].drugResumed']}}" ng-class="{error: errors['detail.products['+$index+'].drugResumed']}"></i>Si
			</label>
			<label class="i-checks">
				<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.drugResumed">
				<i tooltip="{{errors['detail.products['+$index+'].drugResumed']}}" ng-class="{error: errors['detail.products['+$index+'].drugResumed']}"></i>No
			</label>
		</div>
	</div>
	<div class="form-group col-md-6 {{ highlight('adrAfterResume') ? 'has-warning' : '' }}" ng-if="fieldPermissions['products'].VIEW">
		<label class="control-label">Sono ricomparsi sintomi dopo la risomministrazione?</label>
		<div class="checkbox-inline">
			<label class="i-checks m-r">
				<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.adrAfterResume">
				<i tooltip="{{errors['detail.products['+$index+'].adrAfterResume']}}" ng-class="{error: errors['detail.products['+$index+'].adrAfterResume']}"></i>Si
			</label>
			<label class="i-checks">
				<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['products'].UPDATE" ng-model="p.adrAfterResume">
				<i tooltip="{{errors['detail.products['+$index+'].adrAfterResume']}}" ng-class="{error: errors['detail.products['+$index+'].adrAfterResume']}"></i>No
			</label>
		</div>
	</div>
</div>
				