<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.eventType | constantLabel:'PharmacoVigilanceEventType'}} {{detail.code}}</h3>
</div>
<div class="{{!popup? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Dati Evento">
				<tab-heading>
					<i class="material-icons">report_problem</i>
					<span>Dati Evento</span>
				</tab-heading>
				<div ng-include="'tpl/app/directive/pharmaco-vigilance/event-data.html'"></div>
			</tab>
			<tab disabled="isNew()">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" ng-if="id" entity-type="'DOCUMENT_PHARMACO_VIGILANCE'" />
			</tab>
			<tab heading="Follow-Up" ng-if="detail.eventType=='EVENT'" disabled="isNew()">
				<tab-heading>
					<i class="material-icons">format_list_numbered</i>
					<span>Follow-Up</span>
				</tab-heading>
				<div ng-include="'tpl/app/directive/pharmaco-vigilance/event-follow-ups.html'"></div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>