<div class="modal-header bg-secondary">
	<button type="button" ng-click="cancel()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Generazione Forms Farmaco Vigilanza</h3>
</div>
<div class="modal-body text-md modal-with-footer">
	<div class="row">
		<div class="form-group col-md-12">
			Tipi di Form {{action=='generate' ? 'generabili' : 'scaricabili'}} per questo evento:
		</div>
	</div>
	<div class="row">	
		<div class="form-group col-md-12">
			<table class="table bg-white-only b-a">
				<tr ng-repeat="(id,template) in templates">
					
					<td>	
						{{ template.label }}
					</td>
					<td>
					
						<button ng-if="action=='generate'" class="pull-right btn btn-icon btn-default btn-xs waves-effect waves-light" ng-click="generateForm(detail.id,id)" title="Genera Form">
							<i class="material-icons">assignment</i>
						</button>
					
						<button ng-if="action=='download'" class="pull-right btn btn-icon btn-default waves-effect waves-light" ng-click="downloadTemplate(detail.id,id)" title="Scarica Template">
							<i class="material-icons">file_download</i>
						</button>
					</td>
				</tr>	
			</table>
		</div>
	</div>
	<div class="row" ng-if="action=='generate' && showWait">
		<div class="form-group col-md-12">
			<span class="text-center"><i class="fa fa-spin fa-spinner fw"></i> Generazione form in corso...</span>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default waves-effect waves-light" ng-click="cancel()" title="Chiudi">
		Chiudi
	</button>
</div>		