<div class="row">
	<div class="col-sm-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva" ng-disabled="!permissions.UPDATE">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla" ng-disabled="!permissions.UPDATE">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione</label>
						<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
					</div>
					<div class="form-group col-md-12" ng-if="detail.documentTypes !== undefined && detail.documentTypes.length > 0">
						<label class="control-label">Tipi documento</label>
						<div class="m-b-xs">
							<label class="i-checks m-r-md" ng-repeat="n in detail.documentTypes" ng-if="n != 'DOCUMENT_TRAINING_REQUEST' || detail.program.portalId === 'omnisource'">
								<input type="checkbox" ng-click="changeEntityType(n)" ng-model="entityTypesEnabled[n]" permission-update>
								<i></i><span class="m-n" bind-html-compile="n | constantLabel: 'DataTypeName'"></span>
							</label>
						</div>
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note interne</label>
						<textarea rows="5" class="form-control" ng-model="detail.internalNotes" error-tooltip permission-update></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t" ng-if="detail.documentTypes !== undefined && detail.documentTypes.length > 0">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="row" st-table="detail.notificationConfs">
				<div class="col-sm-12">
					<div class="bg-secondary wrapper-xs">
						<div class="inline">
							<h4 class="m-sm">Notifica Upload Documenti</h4>
						</div>
						<div class="btn-group dropdown pull-right" dropdown ng-if="fieldPermissions['name'].UPDATE">
				        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
				         		<i class="material-icons">view_list</i>
				    		</button>
				        	<ul class="dropdown-menu pull-right">
				            	<li ng-if="fieldPermissions['notificationConfs'].UPDATE">
				            		<a ng-click="addNotification()">
				            			<i class="material-icons">add</i>
				            			<span>Nuovo</span>
				            		</a>
				            	</li>
				        	</ul>
				    	</div>
				    </div>
					<table class="table">		
						<thead>		
							<tr>
								<th>Tipo Documento</th>
								<th>Tipo</th>
								<th>Metodo</th>
								<th>Destinatario</th>
								<th>Delay Time</th>
								<th>Time Unit</th>
								<th style="width: 30px; padding: 0;" ng-if="!selection" />
							</tr>
						</thead>
						<tbody class="bg-white">
							<tr ng-repeat="row in detail.notificationConfs">
								<td ng-bind="row.entityType | constantLabel: 'DataTypeName'"></td>
								<td ng-bind="row.code | constantLabel: 'DocumentCategoryNotificationCode'"></td>
								<td ng-bind="row.type"></td>
								<td ng-bind="row.recipient | constantLabel: 'DocumentCategoryRecipientType'"></td>
								<td ng-bind="row.time"></td>
								<td ng-bind="row.timeUnit | constantLabel: 'TimeUnit'"></td>
								<td ng-if="!selection" style="padding: 0;">
									<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
										<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									     	<i class="material-icons">more_vert</i>
									    </button>
									    <ul class="dropdown-menu pull-right">
									    	<li ng-if="fieldPermissions['notificationConfs'].UPDATE">
									        	<a ng-click="deleteNotification($index)">
									            	<i class="material-icons">delete</i>
									            	Cancella
									            </a>
									        </li>
									    </ul>
									</div>
								</td>
							</tr>
						</tbody>
						<tbody ng-show="detail.notificationConfs.length == undefined || detail.notificationConfs.length==0">
							<tr>
								<td colspan="6">
									<div class="text-muted"><i>Nessun dato trovato</i></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t" ng-if="entityTypes !== undefined && entityTypes.length > 0">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Permessi</h4>
			</div>
			<div class="panel-body">
				<tabset>
					<tab ng-repeat="entityType in entityTypes">
						<tab-heading>
							<i class="material-icons">person</i>
							<span class="hidden-xs hidden-sm hidden-md" ng-bind="entityType | constantLabel: 'DataTypeName'" />
						</tab-heading>
						<div class="row">
							<div class="col-sm-12">
								<table class="table">		
									<thead>
										<tr>
											<th>Nome</th>
											<th class="text-center">Visualizzazione</th>
											<th class="text-center">Aggiornamento</th>
											<th class="text-center">Cancellazione</th>
										</tr>
									</thead>
									<tbody class="bg-white" ng-repeat="userType in constants['UserType']">
										<tr class="b-t b-4x">
											<td ng-if="userType.properties['roles'] === undefined || userType.properties['roles'].length <= 1" ng-bind="userType.label" />
											<td ng-if="userType.properties['roles'] !== undefined && userType.properties['roles'].length > 1" ng-bind="userType.label + ' - Tutti i ruoli'" />
											<td class="text-center" ng-repeat="operation in constants['DocumentCategoryPermission']">
												<label class="i-checks">
													<input type="checkbox" ng-model="detailPermission[entityType][userType.id][operation.id]">
													<i />
												</label>
											</td>
										</tr>
										<tr ng-if="userType.properties['roles'] && userType.properties['roles'].length > 1" ng-repeat="role in userType.properties['roles']">
											<td ng-bind="userType.label + ' - ' + (role | constantLabel: 'UserRole')" style="padding-left: 40px;"/>
											<td class="text-center" ng-repeat="operation in constants['DocumentCategoryPermission']">
												<label class="i-checks">
													<input type="checkbox" ng-model="detailPermission[entityType][userType.id][role][operation.id]">
													<i />
												</label>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva" ng-disabled="!permissions.UPDATE">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla" ng-disabled="!permissions.UPDATE">
				Annulla
			</button>
		</div>
	</div>
</div>