<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="wrapper-sm">
	<tabset class="tab-container">
		<tab class="tab-border">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div ng-include="'tpl/directives/document-category/document-category-data.html'"></div>
		</tab>
	</tabset>
</div>