<div class="row">
	<div ng-repeat="property in form.userActivityCustomProperties" ng-switch="property.type">
		<div class="form-group col-md-4" ng-switch-when="DATE">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<div class="input-group">
				<input type="text" class="form-control" format-date ng-readonly="true" id="{{'form.userActivityCustomProperties_'+$index}}" tooltip="{{errors['form.userActivityCustomProperties_'+$index]}}"
					ng-class="{error: errors['form.userActivityCustomProperties_'+$index]}" ng-model="property.value" 
					ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
						ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-4" ng-switch-when="DATETIME">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<div class="input-group">
				<input id="{{'form.userActivityCustomProperties_'+$index}}" tooltip="{{errors['form.userActivityCustomProperties_'+$index]}}"
					ng-class="{error: errors['form.userActivityCustomProperties_'+$index]}" type="text" class="form-control"
					format-date-time readonly="true" ng-model="property.value" 
					ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
						ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-4" ng-switch-when="INTEGER">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<input id="{{'form.userActivityCustomProperties_'+$index}}" tooltip="{{errors['form.userActivityCustomProperties_'+$index]}}"
				ng-class="{error: errors['form.userActivityCustomProperties_'+$index]}" type="number" step="1" class="form-control"
				ng-model="property.value" ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable">
		</div>
		<div class="form-group col-md-4" ng-switch-when="DECIMAL">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<input id="{{'form.userActivityCustomProperties_'+$index}}" tooltip="{{errors['form.userActivityCustomProperties_'+$index]}}"
				ng-class="{error: errors['form.userActivityCustomProperties_'+$index]}" type="number" step="0.01" class="form-control"
				ng-model="property.value" 
				ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable">
		</div>
		<div class="form-group col-md-4" ng-switch-when="BOOLEAN">
			{{property.name}}
			<sup ng-if="property.mandatory == true">*</sup>
			<div class="radio">
				<label class="i-checks" >
					<input id="{{'form.userActivityCustomProperties_'+$index}}" type="checkbox" tooltip="{{errors['form.userActivityCustomProperties_'+$index]}}"
						ng-class="{error: errors['form.userActivityCustomProperties_'+$index]}" ng-true-value="true" ng-false-value="false"
					 	ng-model="property.value" 
					 	ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable" />
					<i></i>
				</label>
			</div>
		</div>
		<div class="form-group col-md-4" ng-switch-when="LIST_OF_VALUE">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<select id="{{'form.userActivityCustomProperties_'+$index}}" ng-model="property.value" class="form-control"
				ng-options="v.code as v.label disable when (v.status != 'ACTIVE' && v.code !== property.value) for v in property.choices"
				tooltip="{{errors['form.userActivityCustomProperties_'+$index]}}" ng-class="{error: errors['form.userActivityCustomProperties_'+$index]}"
				ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable" >
				<option value="" />
			</select>
		</div>
		<div class="form-group col-md-4" ng-switch-when="STRING">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<input id="{{'form.userActivityCustomProperties_'+$index}}" tooltip="{{errors['form.userActivityCustomProperties_'+$index]}}" 
				g-class="{error: errors['form.userActivityCustomProperties_'+$index]}" type="text" class="form-control" ng-model="property.value"
				ng-disabled="(detail.assignee==undefined || detail.assignee!=loggedUser.nickName) || !form.userActivityCustomPropertiesEditable" >
		</div>
	</div>					
</div>