<div class="col-md-12" ng-if="prop.value" ng-init="form = prop.value">
	<label class="control-label" ng-if="!form">Errore in fase di caricamento dei dati</label>
	<div class="row" ng-if="form.id==undefined">
		<div class="form-group col-md-12 m-t m-b">
			<label class="control-label">Questa Farmacia è stata rimossa dal Programma, pertanto questa attività non è più valida. Premere "Cancella Attività" per eliminarla.</label>
		</div>
	</div>
	<div ng-if="form.id!=undefined">
		<div class="row">
			<div class="form-group col-md-6" ng-if="fieldPermissions['code'].VIEW">
				<label class="control-label">Codice Farmacia</label>
				<textarea class="form-control" ng-disabled="true" ng-model="form.code"
					tooltip="{{errors['form.code']}}" ng-class="{error: errors['form.code']}"></textarea>
			</div>
			<div class="form-group col-md-6" ng-if="fieldPermissions['type'].VIEW">
				<label class="control-label">Tipo</label><sup>*</sup>
				<div class="radio m-b-xs">
					<label class="checkbox-inline i-checks" ng-repeat="v in constants['PharmacyType']" ng-if="v.active || v.id === form.type">
						<input type="checkbox" check-list="form.type" only-one="true" value="{{v.id}}" ng-disabled="true">
						<i tooltip="{{errors['form.type']}}" ng-class="{error: errors['form.type']}"></i><span class="m-n" bind-html-compile="v.label"></span>
					</label>
				</div>
			</div>
		
			<div class="form-group col-md-12">
				<label class="control-label">Nome</label>
				<input type="text" class="form-control" ng-disabled="true" ng-model="form.name"
					tooltip="{{errors['form.name']}}" ng-class="{error: errors['form.name']}">
			</div>
		</div>
		<div class="row">	
			<div class="form-group col-md-6">
				<label class="control-label">Telefono</label>
				<input type="text"  id="form.phoneNumber" class="form-control" ng-disabled="true" ng-model="form.phoneNumber" tooltip="{{errors['form.phoneNumber']}}" ng-class="{error: errors['form.phoneNumber']}">
			</div>
			
			<div class="form-group col-md-6">
				<label class="control-label">Fax</label>
				<input type="text" id="form.faxNumber" rows="1" class="form-control" ng-disabled="true" ng-model="form.faxNumber" tooltip="{{errors['form.faxNumber']}}" ng-class="{error: errors['form.faxNumber']}">
			</div>
			<div class="form-group col-md-12">
				<label class="control-label">Email</label>
				<tags-input id="form.emails" ng-model="form.emails" disabled="true">
			</div>
		</div>			
		<div class="row" address-input="form.address" ng-disabled="true" default-country-code="IT" />
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Note</label>
				<textarea id="form.notes" rows="4" class="form-control" ng-disabled="true" ng-model="form.notes" tooltip="{{errors['form.notes']}}" ng-class="{error: errors['from.notes']}"></textarea>
			</div>
		</div>	
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Si vuole prevedere la verifica della disponibilità del Farmaco?</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined"
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
							ng-model="form.checkDrugAvailability">
						<i tooltip="{{errors['form.checkDrugAvailability']}}" ng-class="{error: errors['form.checkDrugAvailability']}"></i>Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" 
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
							ng-model="form.checkDrugAvailability">
						<i tooltip="{{errors['form.checkDrugAvailability']}}" ng-class="{error: errors['form.checkDrugAvailability']}"></i>No
					</label>
				</div>
			</div>		
			<div class="form-group col-md-6">
				<label class="control-label">Attivare la farmacia?</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined"
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
							ng-model="form.activate">
						<i tooltip="{{errors['form.activate']}}" ng-class="{error: errors['form.activate']}"></i>Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" 
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
							ng-model="form.activate">
						<i tooltip="{{errors['form.activate']}}" ng-class="{error: errors['form.activate']}"></i>No
					</label>
				</div>
			</div>			
			<div class="form-group col-md-6" ng-if="form.activate!=undefined && form.activate">
				<label class="control-label">Data di attivazione</label>
				<div class="input-group">
					<input type="text" class="form-control" format-date-time ng-readonly="true"
						tooltip="{{errors['form.activationDate']}}" ng-class="{error: errors['form.activationDate']}" ng-model="form.activationDate">
					<span class="input-group-btn">
						<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
							<i class="material-icons">date_range</i>
						</button>
					</span>
				</div>
			</div>
			<div class="form-group col-md-6" ng-if="form.activate!=undefined && !form.activate">
				<label class="control-label">Data prossima verifica attivazione</label>
				<div class="input-group">
					<input type="text" class="form-control" format-date-time ng-readonly="true" 
						tooltip="{{errors['form.nextVerificationDate']}}" ng-class="{error: errors['form.nextVerificationDate']}" ng-model="form.nextVerificationDate">
					<span class="input-group-btn">
						<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
							<i class="material-icons">date_range</i>
						</button>
					</span>
				</div>
			</div>	
		</div>	
	</div>	
</div>