<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">PluggyMed {{detail.serialNumber}}</h3>
</div>
<div class="modal-body">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Dettagli">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Dettagli</span>
				</tab-heading>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4">
										<label class="control-label">Serial Number</label>
										<input type="text" id="detail.serialNumber" class="form-control" ng-model="detail.serialNumber" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.serialNumber']}" ng-disabled="!isNew()">
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Paziente</label><sup>*</sup>
										<div class="input-group">
											<input id="detail.patient" type="text" class="form-control" ng-disabled="true" value="{{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{detail.patient.firstName}}" tooltip="{{errors['detail.patient']}}" ng-class="{error: errors['detail.patient']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.patient"
													user-type="'PATIENT'" filters="patientSearchFilters" multiple-list="false" title="Seleziona" ng-if="isNew()">
													<i class="material-icons">search</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.patient.id" user-type="detail.patient.type"
													ng-disabled="detail.patient == undefined" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.patient == undefined" ng-if="isNew()" ng-click="detail.patient = undefined"
													title="Dettaglio">
													<i class="material-icons">clear</i>
												</button>					
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4" >
										<label class="control-label">Data effettiva consegna device</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.startDate" tooltip="{{errors['detail.startDate']}}" ng-class="{error: errors['detail.startDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="!isNew()">
										<label class="control-label">Pin</label>
										<input type="text" id="detail.pin" class="form-control" ng-model="detail.pin" tooltip="{{errors['detail.pin']}}" ng-class="{error: errors['detail.pin']}" ng-disabled="detail.status != 'ADDED'">
									</div>
									<div class="form-group col-md-6" ng-if="detail.status == 'ADDED'">
										<label class="control-label">Data scadenza pin</label>
										<input type="text" class="form-control" value="{{detail.pinExpirationDate | formatDateTime}}" disabled="true">
									</div>
									<div class="form-group col-md-6" ng-if="!isNew()">
										<label class="control-label">Stato</label>
										<input type="text" id="detail.status" class="form-control" value="{{ detail.status | constantLabel:'PhuturemedStatus' }}" ng-disabled="true">
									</div>
									<div class="form-group col-md-6" ng-if="detail.status == 'VERIFIED'">
										<label class="control-label">Data verifica</label>
										<input type="text" id="detail.verifiedDate" class="form-control" value="{{ detail.verifiedDate | formatDateTime }}" ng-disabled="true" />
									</div>
									<div class="form-group col-md-6" ng-if="detail.status == 'UNPAIRED'">
										<label class="control-label">Data disaccopiazione</label>
										<input type="text" id="detail.verifiedDate" class="form-control" value="{{ detail.unpairedDate | formatDateTime }}" ng-disabled="true" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label class="control-label">Note Interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Dettagli">
				<tab-heading>
					<i class="material-icons">content_paste</i>
					<span>Stati blister</span>
				</tab-heading>
				<div phuturemed-states="id" />
			</tab>
		</tabset>
	</scrollable-tabset>
</div>