<toaster-container toaster-options="{{toasterOptions}}"></toaster-container>
<div class="app-header navbar">
	<!-- navbar header -->
	<div class="navbar-header {{app.settings.navbarHeaderColor}}">
		<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
			<i class="material-icons">settings</i>
		</button>
		<!-- brand -->
		<a href="#/" class="navbar-brand text-lt" style="background: #fff; vertical-align: middle;" ng-if="!app.settings.hideIALogo">
			<div style="width: 59%; float: left;" ng-if="!app.settings.asideFolded && !app.settings.invertLogos">
				<img src="img/logo_IA.png" alt="" class="img-responsive hidden-xs">
			</div>     
			<div style="width: 39%; float: left;" ng-if="!app.settings.asideFolded && !app.settings.invertLogos">
				<img src="img/logo.png" alt="" class="img-responsive hidden-xs">
			</div>
			<div style="width: 59%; float: left;" ng-if="!app.settings.asideFolded && app.settings.invertLogos">
				<img src="img/logo.png" alt="" class="img-responsive hidden-xs">
			</div>
			<div style="width: 39%; float: left;" ng-if="!app.settings.asideFolded && app.settings.invertLogos">
				<img src="img/logo_IA.png" alt="" class="img-responsive hidden-xs">
			</div>     
			<img ng-src="{{'img/'+ app.settings.logoSmall}}" alt="" ng-if="app.settings.logoSmall && app.settings.asideFolded">
			<img ng-src="{{'img/'+ app.settings.logoSmall}}" class="hidden-sm hidden-md hidden-lg" alt="" ng-if="app.settings.logoSmall && !app.settings.asideFolded">
			<img src="img/logo_small.png" alt="" ng-if="!app.settings.logoSmall && app.settings.asideFolded">
			<img src="img/logo_small.png" class="hidden-sm hidden-md hidden-lg" alt="" ng-if="!app.settings.logoSmall && !app.settings.asideFolded">
		</a>
		<a href="#/" class="navbar-brand text-lt" ng-if="app.settings.hideIALogo" style="background: #fff;">
			<img src="img/logo.png" alt="" class="hidden-xs" ng-if="!app.settings.asideFolded">
			<img src="img/logo_small.png" alt="" ng-if="app.settings.asideFolded">
			<img src="img/logo_small.png" class="hidden-sm hidden-md hidden-lg" alt="" ng-if="!app.settings.asideFolded">
		</a>
		<!-- / brand -->
	</div>
	<!-- / navbar header -->

	<!-- navbar collapse -->
	<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
		<!-- nabar right -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown hidden-sm" is-open="lang.isopen" dropdown ng-if="false">
				<a href class="dropdown-toggle" dropdown-toggle>
					{{selectLang}}
					<i class="material-icons" style="vertical-align: middle;">keyboard_arrow_down</i>
				</a>
				<!-- dropdown -->
				<ul class="dropdown-menu animated fadeInRight w">
					<li ng-repeat="(langKey, label) in langs">
						<a ng-click="setLang(langKey, $event)" href>{{label}}</a>
					</li>
				</ul>
				<!-- / dropdown -->
			</li>
			<li class="hidden-xs">
				<a ui-fullscreen />
			</li>
			<li class="dropdown" dropdown>
				<a href class="dropdown-toggle clear" dropdown-toggle>
					<span class="hidden-sm hidden-md">{{loggedUser.title | constantLabel: 'UserTitle' }} {{loggedUser.lastName}} {{loggedUser.firstName}}</span>
					<i class="material-icons" style="vertical-align: middle;">keyboard_arrow_down</i>
				</a>
				<!-- dropdown -->
				<ul class="dropdown-menu animated fadeInRight w">
					<li ng-if="userPortals !== undefined && userPortals.length > 1">
						<a ui-sref="portals">Cambia Portale</a>
					</li>
					<li ng-if="loggedUser.originalUserId != null && loggedUser.originalUserId != undefined">
						<a ng-click="unimpersonate(user.id)">Termina personificazione</a>
					</li>
					<li>
						<a ui-sref="access.logout">Logout</a>
					</li>
				</ul>
				<!-- / dropdown -->
			</li>
		</ul>
		<!-- / navbar right -->
	</div>
	<!-- / navbar collapse -->
</div>
<div class="container m-t-xl" ng-init="app.settings.container = false;" ng-cloak >
	<div class="row text-center">	
		<div class="col-md-6" ng-repeat="program in programs" ng-if="programs.length > 0">
			<div class="panel b-a" style="height: 325px;" ng-click="redirectTo(program.url)">   		
				<div class="panel-body">
					<img ng-src="{{program.logoUrl}}" alt="" class="img-responsive" style="height: 150px; margin: auto;">
				</div>
				<div class="panel-footer text-center no-padder">
					<div class="h1 font-thin h1 m-t">{{program.name}}</div>			
					<div class="text-muted text-md m-t">{{program.description}}</div>
				</div>			
			</div>
		</div>
		<div ng-if="programs.length <= 0">
			<div class="h1 font-thin h1 m-b">Attualmente non risulta iscritto ad alcun programma</div>
		</div>
	</div>			
</div>