<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title">Notifiche e messaggi</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<!-- Se operatore o supplier includi i filtri -->
			<div ng-include="'tpl/app/directive/communication-message/communication-messages-filter.html'" ng-if="loggedUser.type!='PATIENT' && loggedUser.type!='HCP'"></div>
			
			<!-- Se medico o paziente mostra pulsante filtro -->
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='PATIENT' || loggedUser.type=='HCP'">
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/directive/communication-message/communication-messages-filter.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
	<div class="wrapper-sm m-t main-dashboard">	
		<div class="row">
			<div class="col-xs-12">		
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{ loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Messaggi</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle >
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>

						    </div>
							<table class="table">
								<thead>
									<tr>
										<th class="hidden-xs hidden-sm" style="width: 30px; padding: 0;" />
										<th width="130px" st-sort="sentDate" st-sort-default="reverse">Data invio</th>
										<th>Messaggio</th>
										<th width="200px" class="hidden-xs hidden-sm hidden-md" st-sort="type">Tipo</th>
										<th class="hidden-xs hidden-sm hidden-md" style="width: 30px; padding: 0;" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<!-- <tr ng-repeat="row in list" communication-message-modal="row.id"
										ng-style="row.hasBeenRead === false ? {'background-color': '#f2f2f2'}:''"> -->
									<tr ng-repeat="row in list" ng-style="row.hasBeenRead === false ? {'background-color': '#f2f2f2'}:''">
										<td class="hidden-xs hidden-sm">
											<i class="material-icons" >{{row.hasBeenRead ? 'drafts' : 'markunread'}}</i>											 
										</td>
										<td>{{ row.sentDate | formatDate }}</td>
										<td class="text-ellipsis" style="max-width: 1px; display: table-cell;">
											<b>{{row.title}}</b><br>
											<small>{{row.plainTextMessage}}</small><br>
										</td>
										<td class="hidden-xs hidden-sm hidden-md">{{row.type | constantLabel: 'CommunicationMessageType'}}</td>										
										<td class="hidden-xs hidden-sm hidden-md" style="padding: 0;">
											<i class="material-icons">{{ row.senderId == loggedUser.id ? 'call_made' : 'call_received' }}</i>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length == 0">
									<tr>
										<td colspan="5" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	       		
	</div>
</div>