<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.usermessages">Lista Notifiche e messaggi</a></li>
	<li class="active">{{detail.title}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.title}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<div class="row" ng-if="canUpdate">
		<div class="col-md-12 text-right">
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
			
		</div>
	</div>
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Messaggio</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-12" ng-if="fieldPermissions['sentDate'].VIEW">
							<label class="control-label">Data ricezione</label>
							<input type="text" id="detail.sentDate" class="form-control" value="{{ detail.sentDate | formatDate }}" tooltip="{{errors['detail.sentDate']}}"
								ng-class="{error: errors['detail.sentDate']}" ng-disabled="!fieldPermissions['detail.sentDate'].UPDATE">
						</div>
						<div class="form-group col-md-12" ng-if="fieldPermissions['type'].VIEW" >
							<label class="control-label">Tipo</label>
							<input type="text" id="detail.type" class="form-control" value="{{ detail.type | constantLabel:'CommunicationMessageType'}}"
								tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']} " ng-disabled="!fieldPermissions['detail.type'].UPDATE">
						</div>
						<div class="form-group col-md-12" ng-if="fieldPermissions['title'].VIEW">
							<label class="control-label">Titolo/Oggetto</label>
							<input type="text" id="detail.title" class="form-control" ng-model="detail.title" tooltip="{{errors['detail.title']}}"
								ng-class="{error: errors['detail.title']} " ng-disabled="!fieldPermissions['title'].UPDATE">
						</div>
						<div class="form-group col-md-12" ng-if="fieldPermissions['message'].VIEW">
							<label class="control-label">Messaggio</label>
							<textarea ng-if="detail.type!='EMAIL'" id="detail.message" rows="10" class="form-control"  ng-model="detail.message"
								tooltip="{{errors['detail.message']}}" ng-class="{error: errors['detail.message']}"
								ng-disabled="!fieldPermissions['message'].UPDATE" />
							<div ng-if="detail.type=='EMAIL'" ng-bind-html="detail.htmlTextMessageWithoutLinks | to_trusted"
								class="wrapper-md" style="overflow: auto; background-color: #eee;" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="canUpdate">
		<div class="col-md-12 text-right">
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>