<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Peso</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="wrapper-sm tab-fix-margin">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right" ng-if="!isSaveButtonEnabled()">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6" ng-if="fieldPermissions['date'].VIEW">
									<label class="control-label">Data</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['date'].UPDATE" ng-model="detail.date" error-tooltip>
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['date'].UPDATE">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6" ng-if="fieldPermissions['weight'].VIEW">
									<label class="control-label">Peso</label><sup>*</sup>
									<input type="text" class="form-control" ng-disabled="!fieldPermissions['weight'].UPDATE" ng-model="detail.weight" error-tooltip>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right" ng-if="!isSaveButtonEnabled()">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			</div>
		</tab>
	</tabset>
</div>