<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}" 
	ng-if="prop.value" ng-init="form = prop.value">
	<label class="control-label"  ng-if="!form">Errore in fase di caricamento dei dati</label>
	<div class="row">
		<div class="form-group col-md-6">
			<label class="control-label">Nome <sup>*</sup></label>
			<input type="text" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
				ng-model="form.name" tooltip="{{errors['form.name']}}" ng-class="{error: errors['form.name']}">
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">Codice attività</label>
			<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE"
				ng-model="form.code" tooltip="{{errors['form.code']}}" ng-class="{error: errors['form.code']}">
		</div>
		<div class="form-group col-md-6" ng-if="form.retryIndex > 0">
			<label class="control-label">N° Tentativo</label>
			<input type="number" class="form-control" ng-disabled="true" value="{{form.retryIndex + 1}}">
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Descrizione <sup>*</sup></label>
			<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
				ng-model="form.description" tooltip="{{errors['form.description']}}" ng-class="{error: errors['form.description']}" />
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<label class="control-label">{{ form.user.type | constantLabel:'UserType' }}<sup>*</sup></label>
			<div class="input-group">
				<input type="text" class="form-control" tooltip="{{errors['form.user']}}" ng-class="{error: errors['form.user']}"
					ng-disabled="true" value="{{form.user.title | constantLabel:'UserTitle'}} {{form.user.lastName}} {{form.user.firstName}}">
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="form.user.id"
						user-type="form.user.type" multiple-list="false" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>
					<button ng-if="isInternalStaff() && !popup" class="btn btn-sm waves-effect waves-light bg-primary" 
						other-user-tasks-modal user-activity-id="form.id" popup="popup" title="Altre attività utente">
						Altre attività ({{otherUserTasks}})						
					</button>
				</span>		
			</div>
		</div>
		<div class="form-group col-md-6" ng-if="form.organizer">
			<label class="control-label">Organizzatore<sup>*</sup></label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" tooltip="{{errors['form.organizer']}}"
					value="{{form.organizer.title | constantLabel:'UserTitle'}} {{form.organizer.lastName}} {{form.organizer.firstName}}"
					ng-class="{error: errors['form.organizer']}">
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="form.organizer.id"
						user-type="form.organizer.type" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>					
				</span>		
			</div>
		</div>
	</div>
	<div class="col-md-12 m-b">
		<div class="no-radius alt">
 			<div class="list-group-item bg-secondary" style="cursor: pointer" ng-init="isCollapsedData2 = false" ng-click="isCollapsedContactData = !isCollapsedContactData">
 				<h4 class="pull-right"> 
   	 				<a><strong><i class="material-icons">keyboard_arrow_{{isCollapsedContactData ? 'down' : 'right'}}</i></strong></a>
   	 			</h4>
	      	 	<h4 class="block">
	      	 		<strong>Dati di contatto</strong>
	      	 	</h4>
     		</div>
     		<div collapse="isCollapsedContactData" class="clearfix m-b b-l b-r b-b">
     			<div class="m-t m-b col-md-12">
     				<div class="m-t m-b col-md-12">
						<div class="form-group col-md-4">
							<label class="control-label">Telefono</label>
							<input type="text" class="form-control" ng-disabled="true" ng-model="user.phoneNumber">
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">Cellulare</label>
							<input type="text" class="form-control" ng-disabled="true" ng-model="user.cellPhoneNumber">
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">Fax</label>
							<input type="text"class="form-control" ng-disabled="true" ng-model="user.faxNumber">
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Email</label>
							<input type="text" class="form-control" ng-disabled="true" ng-model="user.email">
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Contatto Skype</label>
							<input type="text" class="form-control" ng-disabled="true" ng-model="user.skypeId">
						</div>
					</div>
     			</div>
     		</div>
     	</div>
     </div>
	<div class="row">
		<div class="form-group col-md-4" ng-if="form.planningDate">
			<label class="control-label">Data prevista</label>
			<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="form.planningDate">
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Tipo attività <sup>*</sup></label>
			<div class="input-group" ng-init="editType = false">
				<select ng-options="v.id as v.label for v in constants['MasterActivityType']" class="form-control" ng-model="form.type"
					ng-disabled="!editType" tooltip="{{errors[form.type]}}" ng-class="{error: errors[form.type]}">
					<option value=""></option>
				</select>
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="editType = !editType"
						ng-disabled="loggedUser.type !== 'INTERNAL_STAFF' || detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
						<i class="material-icons">edit</i>
					</button>					
				</span>		
			</div>
		</div>
		<div class="form-group col-md-4" ng-if="form.type === 'OTHER'">
			<label class="control-label">Altro <sup>*</sup></label>
			<input type="text" class="form-control" ng-disabled="!editType" ng-model="form.otherType" tooltip="{{errors['form.otherType']}}"
				ng-class="{error: errors['form.otherType']}">
		</div>
	</div>
	
	<div class="row" ng-if="form.type === 'VIRTUAL_MEETING'">
		<div class="form-group col-md-6">
			<label class="control-label">Incontro virtuale di riferimento per l'attività</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" tooltip="{{errors['form.virtualMeeting']}}"
					value="{{form.virtualMeeting.title}}" ng-class="{error: errors['form.virtualMeeting']}">
				<span class="input-group-btn">
					<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" multiple-list="false" title="Seleziona"
						class="btn btn-icon btn-sm btn-default waves-effect waves-light" virtual-meeting-list selected-data="form.virtualMeeting" selected-id="form.virtualMeeting.id" search-filters="{ 'PARTICIPANT_ID' : form.user.id }" is-selection="true">
						<i class="material-icons">search</i>
					</button>
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" virtual-meeting-detail detail-id="form.virtualMeeting.id" detail-object="form.virtualMeeting" is-modal="true"
						ng-disabled="form.virtualMeeting.id === undefined" title="Dettaglio">
						<i class="material-icons">info</i>
					</button>
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="form.virtualMeeting = undefined" title="Rimuovi"
						ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || form.virtualMeeting.id === undefined">
						<i class="material-icons">clear</i>
					</button>					
				</span>
			</div>
			<h5 class="" style="text-align: justify;">Nel caso di attività collegata ad un altro incontro virtuale esistente selezionare l'incontro di riferimento in modo da utilizzare lo stesso link per la video chiamata.<br />In caso contrario il link all'incontro virtuale sarà generato automaticamente.<br />Per indicare durata prevista della chiamata e/o e-mail dei partecipanti accedere al dettaglio.</h5>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label" ng-if="form.virtualMeeting.link">Link</label>
			<div class="input-group" ng-if="form.virtualMeeting.link">
				<input type="text" class="form-control" ng-disabled="true" ng-model="form.virtualMeeting.link" tooltip="{{errors['form.virtualMeeting.link']}}" ng-class="{error: errors['form.virtualMeeting.link']}">
				<span class="input-group-btn">
					<button ng-disabled="form.virtualMeeting.link === undefined" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ngclipboard data-clipboard-text="{{form.virtualMeeting.link}}" ngclipboard-success="confirmLinkCopy();">
						<i class="material-icons">content_copy</i>
					</button>				
				</span>
			</div>
			<h5 class="b-b b-3x" ng-if="form.virtualMeeting.participants && form.virtualMeeting.participants.length > 0">Lista e-mail dei partecipanti</h4>
			<label class="control-label" ng-repeat-start="part in form.virtualMeeting.participants">{{ part.user.firstName }} {{ part.user.lastName }}</label>
			<input type="text" class="form-control" ng-repeat-end ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="part.email" tooltip="{{errors['form.virtualMeeting.participants[$index]']}}" ng-class="{error: errors['form.virtualMeeting.participants[$index]']}">
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-12" ng-if="form.acceptedReasons!=undefined && form.acceptedReasons.length>0">
			<label class="control-label">Motivi</label>
			<div class="m-b-xs">
				<label class="i-checks m-r-md" ng-repeat="v in constants['ActivityReason']"
					ng-if="(v.active || v.id === form.type) && form.acceptedReasons.indexOf(v.id)>=0">
					<input type="checkbox" check-list="form.reasons"  value="{{v.id}}"
						ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" />
					<i tooltip="{{errors['form.reasons']}}" ng-class="{error: errors['form.reasons']}" />
					<span class="m-n" bind-html-compile="v.label" />
				</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-4">
			<label ng-if="!form.drugPickUpDelivery" class="control-label">Data/ora attività <sup>*</sup></label>
			<label ng-if="form.drugPickUpDelivery" class="control-label">Data/ora consegna farmaco <sup>*</sup></label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="form.date"
					tooltip="{{errors['form.date']}}" ng-class="{error: errors['form.date']}"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					ng-change="changeDate()">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!prop.writable">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-4" ng-if="form.user.type == 'PATIENT' && form.preferredDayOfWeekEnabled">
			<label class="control-label">Giorno preferito per attività</label>
			<input type="text" class="form-control" value="{{form.userPreferredDayOfWeek | constantLabel: 'DayOfWeek'}}" tooltip="{{errors['form.user']}}" ng-class="{error: errors['form.user']}" ng-disabled="true" >
		</div>
		<div class="form-group col-md-4" ng-if="form.maxDate">
			<label class="control-label">Data massima prevista</label>
			<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="form.maxDate">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-4" ng-if="form.maxDate && form.maxDate < form.date && loggedUser.type === 'INTERNAL_STAFF'">
			<label class="control-label">Motivo ritardo <sup>*</sup></label>
			<select class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
				ng-options="v.id as v.label disable when (!v.active && v.id !== form.maxDateFailedReason) for v in constants['ActivityMaxDateFailedReason']"
				ng-model="form.maxDateFailedReason" tooltip="{{errors['form.maxDateFailedReason']}}" ng-class="{error: errors['form.maxDateFailedReason']}">
				<option value="" />
			</select>
		</div>
		<div class="form-group col-md-8" ng-if="form.maxDate && form.maxDate < form.date && loggedUser.type === 'INTERNAL_STAFF'">
			<label class="control-label">Dettaglio motivo ritardo</label>
			<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
				ng-model="form.maxDateFailedReasonDetail" tooltip="{{errors['form.maxDateFailedReasonDetail']}}"
				ng-class="{error: errors['form.maxDateFailedReasonDetail']}" />
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-12 col-md-4" ng-if="loggedUser.type == 'INTERNAL_STAFF' && form.enableSuggestedDate">
			<label class="control-label">Data suggerita</label>
			<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="form.suggestedDate">
		</div>
		<div class="form-group col-xs-12 col-md-8" ng-if="loggedUser.type == 'INTERNAL_STAFF' && form.enableSuggestedDate">
			<label class="control-label">Altri suggerimenti</label>
			<textarea class="form-control" ng-readonly="true" ng-disabled="true" ng-model="form.otherSuggestions" tooltip="{{errors['form.otherSuggestions']}}" ng-class="{error: errors['form.otherSuggestions']}" />
		</div>
	</div>
	<div class="row" ng-if="form.type == 'MEETING' || form.type == 'OUTGOING_CALL' || form.type == 'OTHER' || form.type == 'VIRTUAL_MEETING'">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Gestione ordine di servizio</h4>
			<h5 class="">Indicare se è richiesto l'ordine di servizio e, in caso positivo, quante ore dopo l'invio dell'ordine scadrà se non accettato ed eventualmente quante ore dopo inviare un remind al responsabile</h5>
		</div>
		<div class="form-group col-md-3">
			<label class="control-label">Ordine di servizio richiesto<sup>*</sup></label>
			<div class="radio m-b-none">
				<label class="i-checks m-r">
					<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="form.serviceOrderRequired"
						ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
					<i tooltip="{{errors['form.serviceOrderRequired']}}" ng-class="{error: errors['form.serviceOrderRequired']}" />Si
				</label>
				<label class="i-checks">
					<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="form.serviceOrderRequired"
						ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
					<i tooltip="{{errors['form.serviceOrderRequired']}}" ng-class="{error: errors['form.serviceOrderRequired']}" />No
				</label>
			</div>
		</div>
		<div class="form-group col-md-3" ng-if="form.serviceOrderRequired">
			<label class="control-label">Scadenza (ore) <sup>*</sup></label>
			<input type="number" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" class="form-control"
				ng-model="form.serviceOrderExpiryHours" tooltip="{{errors['form.serviceOrderExpiryHours']}}"
				ng-class="{error: errors['form.serviceOrderExpiryHours']}" />
		</div>
		<div class="form-group col-md-3" ng-if="form.serviceOrderRequired">
			<label class="control-label">Remind (ore)</label>
			<input type="number" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" class="form-control"
				ng-model="form.serviceOrderReminderHours" tooltip="{{errors['form.serviceOrderReminderHours']}}"
				ng-class="{error: errors['form.serviceOrderReminderHours']}">
		</div>
	</div>
	<div class="row" ng-if="form.serviceOrderRequired || form.type == 'MEETING' || form.type == 'OUTGOING_CALL' || form.type == 'OTHER' || form.type == 'VIRTUAL_MEETING'
		|| form.type == 'SUSPENSION' || form.type == 'REACTIVATION' || form.type == 'EXIT'">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Informazioni sul responsabile dell'attività</h4>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label" >Tipologia del responsabile</label>
			<select ng-options="v.id as v.label for v in activityOwnerTypes" class="form-control"
				ng-model="form.ownerType" tooltip="{{errors['form.ownerType']}}" ng-class="{error: errors['form.ownerType']}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
				<option value="" />
			</select>
		</div>
		<div class="form-group col-md-6" ng-if="form.ownerType == 'SUPPLIER' || form.ownerType == 'SUPPLIER_MEDICAL_SUPPORT'">
			<label class="control-label">Qualifiche del responsabile</label>
			<ui-select ng-model="form.enabledQualificationIds" multiple theme="bootstrap" close-on-select="false" tooltip="{{errors['form.enabledQualificationIds.'+$index+'']}}" 
				class="{{errors['form.enabledQualificationIds.'+$index+''] ? 'error' : ''}}" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
				<ui-select-match allow-clear="true">{{$item.name}}</ui-select-match>
				<ui-select-choices repeat="v.id as v in qualifications | filter: $select.search">
					<div ng-bind-html="v.name | highlight: $select.search" />
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">Responsabile dell'attività</label><sup>*</sup>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" tooltip="{{errors['form.owner']}}"
					value="{{form.owner.title | constantLabel:'UserTitle'}} {{form.owner.lastName}} {{form.owner.firstName}}"
					ng-class="{error: errors['form.owner']}" />
				<span class="input-group-btn">
					<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || form.ownerType==undefined"  multiple-list="false" title="Seleziona" 
						class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="form.owner" user-type="form.ownerType">
						<i class="material-icons">search</i>
					</button>
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="form.owner.id" user-type="form.ownerType"
						ng-disabled="form.owner === undefined" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="form.owner = undefined" title="Dettaglio" 
						ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || form.owner == undefined">
						<i class="material-icons">clear</i>
					</button>					
				</span>		
			</div>
		</div>
		<div class="form-group col-md-6" ng-if="form.ownerType == 'SUPPLIER' || form.ownerType == 'SUPPLIER_MEDICAL_SUPPORT'">
			<label class="control-label">Qualifica del responsabile <sup>*</sup></label>
			<select ng-options="v as v.name disable when (form.owner == undefined || form.owner.qualifications == undefined || form.enabledQualificationIds.indexOf(v.id) < 0) for v in form.owner.qualifications track by v.id" class="form-control"
				ng-model="form.ownerQualification" tooltip="{{errors['form.ownerQualification']}}" ng-class="{error: errors['form.ownerQualification']}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || form.owner === undefined">
				<option value=""/>
			</select>
		</div>
	</div>
		<div class="row" ng-if="form.enableOtherParticipantsAddiction" >
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Altri partecipanti</h4>
		</div>
		<div class="form-group col-lg-12" ng-if="form.lastInternalStaffTask">
			<div class="no-border" >
				<label class="checkbox-inline i-checks" >
					<input type="checkbox" ng-model="form.additionalParticipantsNotRequired" value="{{form.additionalParticipantsNotRequired}}" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
						<i tooltip="{{errors['form.additionalParticipantsNotRequired']}}" ng-class="{error: errors['form.additionalParticipantsNotRequired']}" />
						<span class="m-n">Nessun partecipante aggiuntivo</span>
				</label>
			</div>
		</div>
		<div class="col-lg-12" >
			<div class="panel panel-default">
				<div class="row" st-table="form.otherParticipants">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Altri partecipanti</h4>
							</div>
							<div class="btn-group dropdown pull-right" dropdown ng-if="isInternalStaff()" >
					        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light"  
					        		ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					        		dropdown-toggle>
					         		<i class="material-icons">view_list</i>
					    		</button>
					        	<ul class="dropdown-menu pull-right">
					            	<li>
					            		<a ng-if="form.user.type == 'HCP'" ng-model="form.otherParticipants"
					            			user-search-modal="form.otherParticipants" object-filters="{'hcp': form.user}"  user-type="'PATIENT'" multiple-list="true" title="Aggiungi / Rimuovi" >
											<i class="material-icons">add</i>
											<span>Aggiungi / Rimuovi</span>
										</a>
										<a ng-if="form.user.type == 'PATIENT'" ng-model="form.otherParticipants"
											user-search-modal="form.otherParticipants" object-filters="{'patient': form.user}"  user-type="'HCP'" multiple-list="true" title="Aggiungi / Rimuovi" >
											<i class="material-icons">add</i>
											<span>Aggiungi / Rimuovi</span>
										</a>
					            	</li>
					        	</ul>
					    	</div>
					    </div>
						<table class="table">		
							<thead>		
								<tr>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="title">Titolo</th>
									<th st-sort="lastName">Cognome</th>
									<th st-sort="firstName">Nome</th>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in form.otherParticipants">
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.title | constantLabel: 'UserTitle'" />
									<td ng-bind="row.lastName"></td>
									<td ng-bind="row.firstName"></td>
								</tr>
							</tbody>
							<tbody ng-show="form.otherParticipants.length == undefined || form.otherParticipants.length==0">
								<tr>
									<td colspan="2">
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="row" ng-if="form.type == 'MEETING'">
		<div class="form-group col-md-12">
			<h4 ng-if="!form.drugPickUpDelivery" class="b-b b-3x">Indicazioni sul luogo dell'incontro</h4>
			<h4 ng-if="form.drugPickUpDelivery" class="b-b b-3x">Indicazioni sul luogo della consegna</h4>
		</div>
		<div class="form-group col-md-3" task-address form="form" detail="detail">
			<!-- <label class="control-label">Luogo incontro</label>
			<select ng-options="v.id as v.label disable when (!v.active && v.id !== form.locationType) for v in constants['MeetingLocation']" class="form-control" ng-model="form.locationType" tooltip="{{errors['form.locationType']}}" ng-class="{error: errors['form.locationType']}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
				<option value=""></option>
			</select> -->
		</div>
		<div class="form-group col-md-6" ng-if="form.locationType == 'OTHER'">
			<label class="control-label">Altro luogo incontro</label>
			<input type="text" id="form.locationOther" class="form-control" tooltip="{{errors['form.locationOther']}}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.locationOther"
				ng-class="{error: errors['form.locationOther']}" />
		</div>
		<!--
		<div class="form-group col-md-6" ng-if="form.locationType == 'MEDICAL_CENTER'">
			<label class="control-label">Centro Medico / Dipartimento</label>
			<div class="input-group">
				<input type="text" id="form.departmentId" class="form-control" ng-disabled="true" value="{{detail.department.medicalCenter.name}} - {{detail.department.name}}" tooltip="{{errors['detail.department']}}" ng-class="{error: errors['detail.department']}">
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" medical-center-id="detail.department.medicalCenter.id" department-modal="detail.department.id"
						 ng-disabled="!prop.writable" title="Dettaglio">
						<i class="material-icons">room</i>
					</button>
				</span>		
			</div>
		</div>
		-->
	</div>
<!-- 	<div class="row" ng-if="form.type == 'MEETING'" data-ng-include="'tpl/app/activiti/form-type/object/address.html'"> -->
<!-- 	</div> -->
	<div class="row" ng-if="form.type == 'MEETING'" >
		<div address-input="form.address"  default-country-code="IT" ></div>
	</div>
	<div class="row" ng-if="form.type == 'EMAIL'">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Informazioni sull'invio dell'email</h4>
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Destinatario</label>
			<input type="text" id="form.messageTo" class="form-control" tooltip="{{errors['form.messageTo']}}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.messageTo"
				ng-class="{error: errors['form.messageTo']}" />
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Destinatario Cc</label>
			<input type="text" id="form.messageCc" class="form-control" ng-model="form.messageCc" tooltip="{{errors['form.messageCc']}}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-class="{error: errors['form.messageCc']}">
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Destinatario Ccn</label>
			<input type="text" id="form.messageCcn" class="form-control" tooltip="{{errors['form.messageCcn']}}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.messageCcn"
				ng-class="{error: errors['form.messageCcn']}">
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Oggetto</label>
			<input type="text" id="form.subject" class="form-control" tooltip="{{errors['form.subject']}}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.subject"
				ng-class="{error: errors['form.subject']}">
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Messaggio</label>
			<textarea rows="6" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
				ng-model="form.message" tooltip="{{errors['form.message']}}" ng-class="{error: errors['form.message']}" />
		</div>
	</div>
	<div class="row" ng-if="form.type == 'SMS'">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Informazioni sull'invio del messaggio SMS</h4>
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Destinatario</label>
			<input type="text" id="form.messageTo" class="form-control" tooltip="{{errors['form.messageTo']}}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.messageTo"
				ng-class="{error: errors['form.messageTo']}">
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Messaggio</label>
			<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
				ng-model="form.message" tooltip="{{errors['form.message']}}" ng-class="{error: errors['form.message']}" />
		</div>
	</div>
	<div class="row" ng-if="form.type=='USER_SUSPENSION' || form.type=='USER_REACTIVATION' || form.type=='USER_EXIT'">
		<div class="form-group col-md-4">
			<label class="control-label">
				E' stata richiesta {{ form.type=='USER_SUSPENSION' ? 'la sospensione' : form.type=='USER_REACTIVATION' ? 'la riattivazione' : 'l\'uscita dal Programma' }} del {{form.user.type | constantLabel:'UserType'}} a decorrere dal
			</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date ng-readonly="true" ng-model="form.changeStatusRequestDate"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					tooltip="{{errors['form.changeStatusRequestDate']}}" ng-class="{error: errors['form.changeStatusRequestDate']}" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
						ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-4" ng-if="form.type=='USER_EXIT'">
			<label class="control-label">Motivo di uscita dal programma</label>
			<select id="form.changeStatusRequestReason" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-options="v.id as v.label disable when (!v.active && v.id !== form.changeStatusRequestReason) for v in constants['UserChangeStatusReason']" class="form-control" ng-model="form.changeStatusRequestReason" 
				tooltip="{{errors['form.changeStatusRequestReason']}}" ng-class="{error: errors['form.changeStatusRequestReason']}">
				<option value="" />
			</select>
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">
				Note relative alla richiesta di {{ form.type=='USER_SUSPENSION' ? 'sospensione' : form.type=='USER_REACTIVATION' ? 'riattivazione' : 'uscita dal Programma' }}
			</label>
			<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
				ng-model="form.changeStatusRequestNotes" tooltip="{{errors['form.changeStatusRequestNotes']}}"
				ng-class="{error: errors['form.changeStatusRequestNotes']}" />
		</div>
	</div>
	<div class="row" ng-if="form.verification !== undefined && form.verification !== 'MANDATORY'"> 
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Indicare se si vuole verificare l'attività</h4>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Confermare verifica attività?</label>
			<div class="radio m-b-none">
				<label class="i-checks m-r">
					<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.verifiable">
					<i tooltip="{{errors['form.verifiable']}}" ng-class="{error: errors['form.verifiable']}"></i>Si
				</label>
				<label class="i-checks">
					<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.verifiable">
					<i tooltip="{{errors['form.verifiable']}}" ng-class="{error: errors['form.verifiable']}"></i>No
				</label>
			</div>
		</div>
	</div>
	<div class="row" ng-if="form.stageOfCompletionType !== undefined"> 
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Indicare se si vuole la fase di completamento</h4>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Fase di completamento</label>
			<div class="radio m-b-none">
				<label class="i-checks m-r">
					<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="form.stageOfCompletionType == 'YES' || form.stageOfCompletionType == 'NO'" ng-model="form.stageOfCompletion">
					<i tooltip="{{errors['form.stageOfCompletion']}}" ng-class="{error: errors['form.stageOfCompletion']}"></i>Si
				</label>
				<label class="i-checks">
					<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="form.stageOfCompletionType == 'YES' || form.stageOfCompletionType == 'NO'" ng-model="form.stageOfCompletion">
					<i tooltip="{{errors['form.stageOfCompletion']}}" ng-class="{error: errors['form.stageOfCompletion']}"></i>No
				</label>
			</div>
		</div>
	</div>
	<div class="row" ng-if="detail.assignee === loggedUser.nickName">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Documenti</h4>
		</div>
	</div>
	<div class="row" ng-if="detail.assignee === loggedUser.nickName">
		<div class="form-group col-md-6">
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="Vedi / Carica documenti {{form.user.type == 'PATIENT' ? 'paziente' : 'medico'}}">
				<span class="input-group-btn">
					<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" documents-modal="form.user.id" entity-type="form.user.type == 'PATIENT' ? 'DOCUMENT_PATIENT' : 'DOCUMENT_HCP'">
						<i class="material-icons">file_upload</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-6">
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="Vedi / Carica documenti attività">
				<span class="input-group-btn">
					<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" documents-modal="form.id" entity-type="form.user.type == 'PATIENT' ? 'DOCUMENT_PATIENT_ACTIVITY' : 'DOCUMENT_HCP_ACTIVITY'">
						<i class="material-icons">file_upload</i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row m-t" ng-if="form.userActivityCustomProperties !== undefined && form.userActivityCustomProperties.length > 0">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Altri dati</h4>
				</div>
				<div class="panel-body">
					<div ng-include="'tpl/app/activiti/form-type/object/custom-properties.html'" />
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'tpl/app/activiti/form-type/object/planned/user-complementary-activities.html'" />
	<div ng-include="'tpl/app/activiti/form-type/object/user-activity-depending-activities.html'" />
	<div ng-include="'tpl/app/activiti/form-type/object/user-activity-depending-services.html'" />
</div>