<div class="row" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
	<div class="col-md-12">
		<h4 class="b-b b-3x">Compiti previsti per questa attività</h4>
	</div>
</div>
<ul class="list-group list-group-lg m-b" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
	<li class="list-group-item no-padder m-t-sm" ng-repeat="ca in form.complementaryActivities track by $index">
		<div class="hbox wrapper-xs {{ca.required ? 'b-b b-light' : ''}}">
			<div class="col v-middle text-left">
				<div class="pull-left m-r">
					<label class="h4 bg-warning avatar thumb text-center w-full" ng-if="ca.required" style="line-height: 50px;" title="Attività obbligatoria">O</label>
					<label class="h4 bg-success avatar thumb text-center w-full" ng-if="!ca.required" style="line-height: 50px;" title="Attività facoltativa">F</label>
					<label class="h4 m-l">{{ca.name}}</label>
				</div>
			</div>
			<div class="col v-middle text-left" ng-if="loggedUser.type === 'INTERNAL_STAFF' && ca.type !== 'DRUG_ADMINISTRATION'">
				<label class="control-label">Seleziona per includere</label>
				<div class="checkbox-inline">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="ca.include"
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
						<i tooltip="{{errors['form.complementaryActivities[$index].include']}}"
							ng-class="{error: errors['form.complementaryActivities[$index].include']}" />Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="ca.include"
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
						<i tooltip="{{errors['form.complementaryActivities[$index].include']}}"
							ng-class="{error: errors['form.complementaryActivities[$index].include']}" />No
					</label>
				</div>
				<questionnaire-complementary-activity-warning-label id="ca.confEntityId" user-type="form.user.type" ng-if="ca.type=='QUESTIONNAIRE_SUBMISSION'"></questionnaire-complementary-activity-warning-label>
				<!--  label ng-if="ca.type=='QUESTIONNAIRE_SUBMISSION'"><sub><i>Se l'attività non viene inclusa non sarà creato nemmeno il questionario ad essa collegato e pertanto il destinatario
				non potrà compilarlo</i></sub></label -->
			</div>
			<div class="col v-middle text-right" ng-switch="ca.type">
				<button ng-switch-when="MATERIAL_DELIVERY" activiti-form="form"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" 
					material-delivery-modal="form.complementaryActivities[$index].entityId" type="button"
					class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="MATERIAL_SHIPPING" activiti-form="form"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" 
					material-delivery-modal="form.complementaryActivities[$index].entityId" type="button"
					class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="DRUG_PICK_UP" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" drug-pick-up-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="DRUG_DELIVERY" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" drug-delivery-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="DRUG_DISPOSAL" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" drug-disposal-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="BLOOD_SAMPLING" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					activiti-form="form" blood_sampling-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id"
					type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
					<i class="material-icons">colorize</i>
				</button>
				<button ng-switch-when="DRUG_PICK_UP_DELIVERY" type="button" status="planned"
					drug-pick-up-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
					<i class="material-icons">local_shipping</i>
				</button>
				<button ng-switch-when="PATIENT_MATERIAL_HANDLING" type="button" status="planned"
					patient-material-handling-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
					<i class="material-icons">local_shipping</i>
				</button>
<!-- in questa fase non va compilato nulla dall'operatore perciò non do nemmeno la possibilità di aprire il dettaglio -->
<!--				<button ng-switch-when="DBS_TEST_BLOOD_SAMPLING" type="button" status="planned"
					dried-blood-spot-test-sampling-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
 					<i class="material-icons">colorize</i>
				</button>
 -->
				<button ng-switch-when="DBS_TEST_PICK_UP" type="button" status="planned"
					dried-blood-spot-test-pick-up-user-complementary-form  activity-form="form" complementary-form="ca"
					ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right">
					<i class="material-icons">colorize</i>
				</button>
				<div ng-switch-when="EXTERNAL_OBJECT">
					<ng-include src="'tpl/app/activiti/form-type/object/planned-external-object-rows.html'" />
				</div>
			</div>
		</div>
	</li>
</ul>
