<div class="wrapper-sm tab-fix-margin">
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['type'].VIEW">
						<label class="control-label">Tipo</label><sup>*</sup>
						<div class="radio m-b-xs">
							<label class="checkbox-inline i-checks" ng-repeat="v in constants['CustomerType']" ng-if="v.active || v.id === detail.type">
								<input type="checkbox" check-list="detail.type" only-one="true" value="{{v.id}}" ng-disabled="!fieldPermissions['type'].UPDATE">
								<i tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}"></i><span class="m-n" bind-html-compile="v.label"></span>
							</label>
						</div>
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Ragione sociale</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione</label>
						<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
					</div>
					<div class="form-group  col-md-6" ng-if="fieldPermissions['vatNumber'].VIEW && detail.type !== 'PERSON'">
						<label class="control-label">Partita IVA <sup>*</sup></label>
						<input type="text" id="detail.vatNumber" class="form-control" ng-disabled="!fieldPermissions['vatNumber'].UPDATE" ng-model="detail.vatNumber" tooltip="{{errors['detail.vatNumber']}}" ng-class="{error: errors['detail.vatNumber']}">
					</div>
					<div class="form-group  col-md-6" ng-if="fieldPermissions['fiscalCode'].VIEW">
						<label class="control-label">Codice Fiscale <sup>*</sup></label>
						<input type="text" id="detail.fiscalCode" class="form-control" ng-disabled="!fieldPermissions['fiscalCode'].UPDATE" ng-model="detail.fiscalCode" tooltip="{{errors['detail.fiscalCode']}}" ng-class="{error: errors['detail.fiscalCode']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati di contatto</h4>
			</div>
			<div class="panel-body">
				<div class="row" ng-if="fieldPermissions['preferredContacts'].VIEW"> <!-- DATI CONTATTI PER COMUNICAZIONI -->
					<div class="form-group col-lg-6">
					    <label class="control-label">Metodi di comunicazione</label>
						<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
			              <label class="control-label">{{contactUser.label}}</label>
			               	<div class="checkbox-inline">
			               		<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>No
								</label>
			               	</div>
			            </div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['phoneNumber'].VIEW">
						<label class="control-label">Tefefono</label>
						<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['faxNumber'].VIEW">
						<label class="control-label">Fax</label>
						<input type="text" id="detail.faxNumber" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['skypeId'].VIEW">
						<label class="control-label">Contatto Skype</label>
						<input type="text" id="detail.skypeId" class="form-control" ng-disabled="!fieldPermissions['skypeId'].UPDATE" ng-model="detail.skypeId" tooltip="{{errors['detail.skypeId']}}" ng-class="{error: errors['detail.skypeId']}">
					</div>
				</div>
				<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note Interne</label>
						<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading"> 
				<h4 ng-if="detail.type !== 'PERSON'">Dati della persona di riferimento</h4>
				<h4 ng-if="detail.type === 'PERSON'">Dati personali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeLastName'].VIEW">
						<label class="control-label">Cognome</label>
						<input type="text" id="detail.representativeLastName" class="form-control" ng-disabled="!fieldPermissions['representativeLastName'].UPDATE" ng-model="detail.representativeLastName" tooltip="{{errors['detail.representativeLastName']}}" ng-class="{error: errors['detail.representativeLastName']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeFirstName'].VIEW">
						<label class="control-label">Nome</label>
						<input type="text" id="detail.representativeFirstName" class="form-control" ng-disabled="!fieldPermissions['representativeFirstName'].UPDATE" ng-model="detail.representativeFirstName" tooltip="{{errors['detail.representativeFirstName']}}" ng-class="{error: errors['detail.representativeFirstName']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativePhoneNumber'].VIEW">
						<label class="control-label">Telefono</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativePhoneNumber'].UPDATE" ng-model="detail.representativePhoneNumber" tooltip="{{errors['detail.representativePhoneNumber']}}" ng-class="{error: errors['detail.representativePhoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeFaxNumber'].VIEW">
						<label class="control-label">Fax</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeFaxNumber'].UPDATE" ng-model="detail.representativeFaxNumber" tooltip="{{errors['detail.representativeFaxNumber']}}" ng-class="{error: errors['detail.representativeFaxNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeCellPhoneNumber'].VIEW">
						<label class="control-label">Cellulare</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeCellPhoneNumber'].UPDATE" ng-model="detail.representativeCellPhoneNumber" tooltip="{{errors['detail.representativeCellPhoneNumber']}}" ng-class="{error: errors['detail.representativeCellPhoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeEmail'].VIEW">
						<label class="control-label">Email</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeEmail'].UPDATE" ng-model="detail.representativeEmail" tooltip="{{errors['detail.representativeEmail']}}" ng-class="{error: errors['detail.representativeEmail']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
</div>