<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Dati Test DBS</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Paziente</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{detail.patient.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.patient.id" user-type="'PATIENT'"
												ng-disabled="detail.patient == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
							
								<div class="form-group col-md-6">
									<label class="control-label">Responsabile prelievo</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.bloodSamplingOwner.title | constantLabel:'UserTitle'}} {{detail.bloodSamplingOwner.lastName}} {{detail.bloodSamplingOwner.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.bloodSamplingOwner.id" user-type="detail.bloodSamplingOwner.type"
												ng-disabled="detail.bloodSamplingOwner == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								
								<div class="form-group col-md-6">
									<label class="control-label">Data/ora prelievo</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.bloodSamplingDate" 
											tooltip="{{errors['detail.bloodSamplingDate']}}" ng-class="{error: errors['detail.bloodSamplingDate']}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								
								<div class="form-group col-md-6">
									<label class="control-label">Luogo del prelievo</label>
									<select id="detail.bloodSamplingLocation" ng-disabled="true" 
										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.bloodSamplingLocation) for v in constants['DriedBloodSpotTestSamplingLocation']" class="form-control" 
										ng-model="detail.bloodSamplingLocation" 
										tooltip="{{errors['detail.bloodSamplingLocation']}}" ng-class="{error: errors['detail.bloodSamplingLocation']}">
										<option value="" />
									</select>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-md-12">
									<h4 class="b-b b-3x">Indicazioni sul luogo del prelievo</h4>
								</div>
							</div>
							<div class="row" address-input="detail.address" ng-disabled="true" default-country-code="IT" />
							
						</div>
					</div>
					
				</div>
			</div>
<!-- 			<div class="row"> -->
<!-- 				<div class="col-xs-12 text-right"> -->
<!-- 					<button class="btn btn-primary waves-effect waves-light" ng-click="modal.close()" title="Ok"> -->
<!-- 						Ok -->
<!-- 					</button> -->
<!-- 					<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla"> -->
<!-- 						Annulla -->
<!-- 					</button> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</tab>
	</tabset>
</div>
	
	