<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Dati Test DBS</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-lg-4">
							<label class="control-label">Data/ora prelievo</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.bloodSamplingDate" ng-disabled="true" >
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-lg-4" >
							<label class="control-label">Numero cartina</label>
							<input type="text" id="detail.paperCardSerialNumber" class="form-control" ng-model="detail.paperCardSerialNumber" ng-disabled="true">
						</div>
						<div class="form-group col-lg-4">
							<label class="control-label">Data/ora ritiro</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.pickUpDate" >
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="false">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="modal.close()" title="Ok">
				Ok
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>	