<div class="row">
	<div class="form-group col-md-8">
		<label class="control-label">Nome</label>
		<input type="text" id="drug.drug.name" ng-disabled="true" class="form-control" ng-model="drug.drug.name" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.drug.name']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.drug.name']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Dispositivo</label>
		<select id="drug.deviceType_id" class="form-control" ng-model="drug.selectedDeviceType.id" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.selectedDeviceType_id']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.selectedDeviceType_id']}" ng-options="type.id as type.name for type in deviceTypes"
			ng-disabled="!isInternalStaff()">
			<option value="">Seleziona un dispostivo</option>
		</select>
		
	</div>
	<div class="form-group col-md-12">
		<label class="control-label">Descrizione</label>
		<textarea id="drug.drug.description" rows="5" class="form-control" ng-disabled="true" ng-model="drug.drug.description" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.drug.description']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.drug.description']}"/>
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Dosaggio</label>
		<input type="text" id="drug.expectedDosage" class="form-control" ng-disabled="!isTherapyEditable[therapyIndex]" ng-model="drug.expectedDosage" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.expectedDosage']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.expectedDosage']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Unità di misura</label>
		<input type="text" id="drug.expectedDosageUnit" class="form-control" ng-disabled="!isTherapyEditable[therapyIndex]" ng-model="drug.expectedDosageUnit" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.expectedDosageUnit']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.expectedDosageUnit']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Metodo di somministrazione</label>
		<input type="text" id="drug.expectedDosageMethod" ng-disabled="!isTherapyEditable[therapyIndex]" class="form-control" ng-model="drug.expectedDosageMethod" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.expectedDosageMethod']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.expectedDosageMethod']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Assunzioni al giorno</label><sup>*</sup>
		<input id="drug.dailyAssumptionNumber" type="text" ng-model="drug.dailyAssumptionNumber" class="form-control" ng-disabled="!isTherapyEditable[therapyIndex]"
			 ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.dailyAssumptionNumber']}" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.dailyAssumptionNumber']}}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Durata</label>
		<div class="input-group">
			<input id="drug.duration" type="text" ng-model="drug.duration" 
				ng-disabled="!isTherapyEditable[therapyIndex]" class="form-control" 
				tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.duration']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.duration']}">
			<span class="input-group-btn with-select" >
				<select class="btn btn-default btn-sm" ng-model="drug.durationUnit" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.durationUnit']}}" 
					ng-disabled="!isTherapyEditable[therapyIndex]" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.durationUnit']}" ng-change="errors['drug_'+$index+'_therapy_'+therapyIndex+'.durationUnit'] = undefined" 
					ng-options="v.id as v.label disable when (!v.active && v.id !== drug.durationUnit) for v in constants['TherapyDurationUnit']" >
					<option value="">Seleziona unità di tempo</option>			    				
				</select>
			</span>
		</div>
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Frequenza somministrazioni</label>
		<div class="input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default btn-sm waves-effect waves-light" style="cursor: default !important">Ogni</button>
			</span>
			<input type="text" id="drug.assumptionFrequency" class="form-control" ng-disabled="!isTherapyEditable[therapyIndex]" ng-model="drug.assumptionFrequency" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.assumptionFrequency']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.assumptionFrequency']}">
			<span class="input-group-btn with-select" >
				<select class="btn btn-default btn-sm" ng-disabled="!isTherapyEditable[therapyIndex]" ng-model="drug.assumptionFrequencyUnit" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.assumptionFrequencyUnit']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.assumptionFrequencyUnit']}" 
				ng-change="errors['drug_'+$index+'_therapy_'+therapyIndex+'.assumptionFrequencyUnit'] = undefined" 
				ng-options="v.id as v.label disable when (!v.active && v.id !== drug.assumptionFrequencyUnit) for v in constants['AssumptionFrequencyUnit']" >
					<option value="">Seleziona unità di tempo</option>			    				
				</select>
			</span>
		</div>
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Giorni tolleranza terapia</label>
		<input type="number" id="drug.toleranceDays" class="form-control" ng-model="drug.toleranceDays" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.toleranceDays']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.toleranceDays']}">
	</div>
</div>
<div class="row"> 
	<h4 class="m-l">Orari di somministrazione</h4>
	<div class="form-group col-md-6" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10] track by $index" ng-init="drugIndex=$parent.$index" ng-if="drug.dailyAssumptionNumber > $index">
 		<label class="control-label">Somministrazione {{1+$index}}</label>
		<fieldset>
			<div class="input-group">
				<input type="text" class="form-control" format-time readonly="true" ng-model="drug.assumptionHours[$index]" 
					tooltip="{{'drug_'+drugIndex+'_therapy_'+therapyIndex+'.assumptionHour_'+$index}}" 
					ng-class="{error: errors['drug_'+drugIndex+'_therapy_'+therapyIndex+'.assumptionHour_'+$index]}" 
					ng-change="errors['drug_'+drugIndex+'_therapy_'+therapyIndex+'.assumptionHour_'+$index] = ''"
					ng-disabled="!isInternalStaff()">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!isInternalStaff()">
						<i class="material-icons">update</i>
					</button>
				</span>
			</div>
		</fieldset>	
   	</div>
</div>