<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Visita medica</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['status'].VIEW">
										<label class="control-label">Stato</label>
										<select class="form-control" ng-disabled="!fieldPermissions['status'].UPDATE" ng-model="detail.status" tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}" 
											ng-change="errors['detail.status'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['MedicalExaminationStatus']" >
											<option value="">Seleziona lo stato</option>			    				
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['date'].VIEW">
										<label class="control-label">Data</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date readonly="true" ng-model="detail.date" tooltip="{{errors['detail.date']}}" ng-class="{error: errors['detail.date']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['date'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['hour'].VIEW">
										<label class="control-label">Ora</label>
										<div class="input-group">
											<input type="text" class="form-control" format-time readonly="true" ng-model="detail.hour" tooltip="{{errors['detail.hour']}}" ng-class="{error: errors['detail.hour']}" ng-change="errors['detai.hour'] = ''">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="fieldPermissions['hour'].UPDATE">
													<i class="material-icons">update</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
										<label class="control-label">Note</label>
										<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['notes'].UPDATE" ng-model="detail.notes" tooltip="{{errors['detail.notes']}}" ng-class="{error: errors['detail.notes']}"></textarea>			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>