<div class="modal-header" ng-if="popup">
	<button type="button"  ng-click="modal.dismiss()" class="close">
		<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.lastName}} {{detail.firstName}}</h3>
</div>
<div class="{{!popup ? 'm-t wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<div user-panel user-id="id"
		activate-fn="confirmActivate" suspend-fn="suspend" terminate-fn="terminate"
		permissions="permissions" field-permissions="fieldPermissions"
		start-fn="startMasterActivity"  />
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container" ng-if="!isHcp() && !isPatient()">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/patient/personal-data.html'" />
			</tab>
			<tab heading="Utenti" disabled="isNew()">
				<tab-heading>
					<i class="material-icons">people</i>
					<span>Caregivers/Tutori</span>
				</tab-heading>
				<div ng-include="'tpl/app/patient/patient-users.html'" />
			</tab>
			<tab disabled="isNew()" ng-show="!isLogistic()" >
				<tab-heading>
					<i class="material-icons">fitness_center</i>
					<span>Terapie</span>
				</tab-heading>
				<div ng-include="'tpl/app/patient/therapies.html'" />
			</tab>
			<tab disabled="isNew()" ng-show="!isPatient() && !isLogistic()">
				<tab-heading>
					<i class="material-icons">web</i>
					<span>Diario</span>
				</tab-heading>
				<div quiperte-diary="id" ng-show="!isLogistic()" />
			</tab>
			<tab disabled="isNew()" ng-show="!isSupplier() && !isHcp() && !isPatient() && !isLogistic() && loggedUser.type!='SUPPLIER' && loggedUser.type!='PATIENT' && loggedUser.type!='HCP' && loggedUser.type!='LOGISTIC'" select="userServiceRenderer = true">
				<tab-heading>
					<i class="material-icons">settings</i>
					<span>Servizi</span>
				</tab-heading>
				<div ng-if="userServiceRenderer" user-services user-id="id" />
			</tab>
			<tab disabled="isNew()" select="userActivityRenderer = true">
				<tab-heading>
					<i class="material-icons">directions_run</i>
					<span>Attività</span>
				</tab-heading>
				<div ng-if="userActivityRenderer" user-activities user-id="id" />
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.DRIED_BLOOD_SPOT_TEST && loggedUser.type!='PATIENT' && loggedUser.type!='HCP'" select="userDBSRenderer = true">
				<tab-heading>
					<i class="material-icons">bubble_chart</i>
					<span>Test DBS</span>
				</tab-heading>
				<div ng-if="userDBSRenderer" dried-blood-spot-test-list search-filters="{'PATIENT_ID':id}" hide-patient-filter="true"/>
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.BLOOD_DRAWING_CENTER && loggedUser.type!='PATIENT' && loggedUser.type!='HCP'" select="bloodDrawingCenterRenderer = true">
				<tab-heading>
					<i class="material-icons">local_hospital</i>
					<span>Centri Prelievi</span>
				</tab-heading>
				<div ng-if="bloodDrawingCenterRenderer" patient-blood-drawing-centers-list="id" />
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.PHARMACY" select="pharmacyRenderer = true">
				<tab-heading>
					<i class="material-icons">local_pharmacy</i>
					<span>Farmacie</span>
				</tab-heading>
				<div ng-if="pharmacyRenderer"  patient-pharmacies-list="id" />
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.MATERIAL_DELIVERY && loggedUser.type!='PATIENT' && loggedUser.type!='HCP'" select="materialDeliveryRenderer = true">
				<tab-heading>
					<i class="material-icons">local_shipping</i>
					<span>Consegne / Spedizioni</span>
				</tab-heading>
				<div ng-if="materialDeliveryRenderer" material-deliveries-list="id" />
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.id != id" select="documentRenderer = true">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" ng-if="id && documentRenderer" entity-type="'DOCUMENT_PATIENT'" />
			</tab>
			<tab disabled="isNew()" ng-show="!isPatient() && !isLogistic()" select="userQuestionnaireRenderer = true">
				<tab-heading>
					<i class="material-icons">live_help</i>
					<span>Questionari</span>
				</tab-heading>
				<div ng-if="userQuestionnaireRenderer" user-questionnaire-list="id"></div>
			</tab>
			<tab disabled="isNew()" ng-show="isInternalStaff()" select="communicationMessagesRenderer = true">
				<tab-heading>
					<i class="material-icons">notifications</i>
					<span>Notifiche</span>
				</tab-heading>
				<div ng-if="communicationMessagesRenderer" communication-messages-list="id"></div>
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.PHARMACO_VIGILANCE_EVENT" select="pharmacoVigilanceRenderer = true">
				<tab-heading>
					<i class="material-icons">report_problem</i>
					<span>Farmacovigilanza</span>
				</tab-heading>
				<div ng-if="pharmacoVigilanceRenderer" pharmaco-vigilance-event-list patient-id="id" ></div>
			</tab>
		</tabset>
		<tabset class="tab-container" ng-if="isHcp()">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/patient/personal-data.html'" />
			</tab>
			<tab heading="Utenti" disabled="isNew()">
				<tab-heading>
					<i class="material-icons">people</i>
					<span>Caregivers/Tutori</span>
				</tab-heading>
				<div ng-include="'tpl/app/patient/patient-users.html'" />
			</tab>
			<tab disabled="isNew()" >
				<tab-heading>
					<i class="material-icons">fitness_center</i>
					<span>Terapia</span>
				</tab-heading>
				<div ng-include="'tpl/app/patient/hcp-custom-patient-therapies.html'" />
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.PATIENT_ASSUMPTION">
				<tab-heading>
					<i class="material-icons">web</i>
					<span>Diario</span>
				</tab-heading>
				<div quiperte-diary="id" />
			</tab>
			<tab disabled="isNew()" select="userActivityRenderer = true">
				<tab-heading>
					<i class="material-icons">directions_run</i>
					<span>Attività</span>
				</tab-heading>
				<div ng-if="userActivityRenderer" user-event-list related-user-id="id" />
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.PHARMACO_VIGILANCE_EVENT" select="pharmacoVigilanceRenderer = true">
				<tab-heading>
					<i class="material-icons">report_problem</i>
					<span>Farmacovigilanza</span>
				</tab-heading>
				<div ng-if="pharmacoVigilanceRenderer" pharmaco-vigilance-event-list patient-id="id" ></div>
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.id != id" select="documentRenderer = true">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" ng-if="id && documentRenderer" entity-type="'DOCUMENT_PATIENT'" />
			</tab>
			<tab disabled="isNew()" ng-show="loggedUser.viewPermissions.PHARMACY" select="pharmacyRenderer = true">
				<tab-heading>
					<i class="material-icons">local_pharmacy</i>
					<span>Farmacie</span>
				</tab-heading>
				<div ng-if="pharmacyRenderer" patient-pharmacies-list="id" />
			</tab>
			<tab disabled="isNew()" ng-show="!isPatient() && !isLogistic()" select="userQuestionnaireRenderer = true">
				<tab-heading>
					<i class="material-icons">live_help</i>
					<span>Questionari</span>
				</tab-heading>
				<div ng-if="userQuestionnaireRenderer" user-questionnaire-list="id"></div>
			</tab>
		</tabset>
		<tabset class="tab-container" ng-if="isPatient()">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/patient/personal-data.html'" />
			</tab>
		</tabset>
	</scrollable-tabset>
</div>