<div class="col-lg-12">
 				<div class="panel panel-default m-n">
 					<div class="panel-body">
 						<form name="form" class="form-validation" novalidate ng-submit="search()">
 							<div class="row">
								<div class="form-group col-lg-3">
									<label>Cognome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
								</div>
								<div class="form-group col-lg-3">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
								</div>
								<div class="form-group col-lg-3">
									<label>Sesso</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.SEX) for v in constants['Sex']"
										class="form-control" ng-model="searchFilters.filters.SEX">
										<option value=""></option>
									</select>
								</div>
								<div class="form-group col-lg-3">
									<label>Stato</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['UserStatus'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.STATUS">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="row">	
								<div class="form-group col-lg-3" region-select="searchFilters.filters.COUNTY" province="searchFilters.filters.PROVINCE" />
								<div class="form-group col-lg-3" province-select="searchFilters.filters.PROVINCE" region="searchFilters.filters.COUNTY" />
								<div class="form-group col-lg-3" ng-if="!isDelegateHcp && !isHcp()">
									<label>Medico prescrittore</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.hcp.lastName}} {{objectFilters.hcp.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.hcp"
												user-type="'HCP'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.HCP_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.hcp.id" user-type="'HCP'" ng-disabled="objectFilters.hcp.id === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.hcp == undefined" ng-click="objectFilters.hcp = undefined; searchFilters.filters.HCP_ID = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-lg-3" ng-if="isDelegateHcp && !isHcp()">
									<label>Medico prescrittore/delegato</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.hcp.lastName}} {{objectFilters.hcp.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.hcp"
												user-type="'HCP'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.DELEGATE_HCP_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.hcp.id" user-type="'HCP'" ng-disabled="objectFilters.hcp.id === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.hcp == undefined" ng-click="objectFilters.hcp = undefined; searchFilters.filters.DELEGATE_HCP_ID = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-lg-3" ng-if="selects['Disease'] && selects['Disease'].length > 1">
									<label>Patologia</label>
									<ui-select multiple ng-model="searchFilters.filters.DISEASE_ID" theme="bootstrap">
										<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.name}}</ui-select-match>
									    	<ui-select-choices repeat="v.id as v in selects['Disease'] | filter: $select.search">
									     	<div ng-bind-html="v.name | highlight: $select.search" />
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="row">	
								<div class="form-group col-lg-6" ng-if="!isHcp()">
									<label>Centro medico/dipartimento</label>
									<ui-select multiple ng-model="searchFilters.filters.DEPARTMENT_ID" theme="bootstrap">
										<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.medicalCenter.name}} - {{$item.name}}</ui-select-match>
									    	<ui-select-choices repeat="v.id as v in selects['Department'] | filter: $select.search">
									     	<div ng-bind-html="(v.medicalCenter.name + ' - ' + v.name) | highlight: $select.search" />
									    </ui-select-choices>
									</ui-select>
								</div>
								<div class="form-group col-lg-6" ng-if="selects['Therapy'] && selects['Therapy'].length > 1">
									<label>Terapia</label>
									<ui-select multiple ng-model="searchFilters.filters.THERAPY_ID" theme="bootstrap">
										<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.name}}</ui-select-match>
									    	<ui-select-choices repeat="v.id as v in selects['Therapy'] | filter: $select.search">
									     	<div ng-bind-html="(v.name) | highlight: $select.search" />
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="row">	
								<div class="form-group col-lg-3">
									<label class="control-label">Da data adesione</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_FROM" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-3">
									<label class="control-label">A data adesione</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_TO" > 
											<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-3" ng-if="!isHcp()">
									<label class="control-label">Da data ricezione modulo</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.RECEIVEMODULE_FROM" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-3" ng-if="!isHcp()">
									<label class="control-label">A data ricezione modulo</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.RECEIVEMODULE_TO" > 
											<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row" ng-if="canInvite">
								<div class="form-group col-lg-4">
									<label>Data ultimo invito A</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.LAST_INVITATION_DATE_TO">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-4 text-center">
									<label class="control-label">Invitabile</label>
									<div class="input-group col-md-12">
										<div class="checkbox-inline">
											<label class="i-checks m-r">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.TO_INVITE">
												<i></i>Si
											</label>
											<label class="i-checks">
												<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.TO_INVITE">
												<i></i>No
											</label>
										</div>
									</div>
								</div>
								<div class="form-group col-lg-4 text-center">
									<label class="control-label">Registrato</label>
									<div class="input-group col-md-12">
										<div class="checkbox-inline">
											<label class="i-checks m-r">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.REGISTERED">
												<i></i>Si
											</label>
											<label class="i-checks">
												<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.REGISTERED">
												<i></i>No
											</label>
										</div>
									</div>
								</div>
							</div>
 							<div class="row">
 								<div class="col-lg-12 text-right">
 									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
 										Cerca
 									</button>
 									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
 										Cancella
 									</button>
 								</div>
 							</div>
 						</form>
 					</div>
 				</div>
 			</div>