<div class="wrapper-sm tab-fix-margin">
	<div class="row" ng-if="canUpdate">
		<div class="col-md-12">
			<div class="text-right">
				<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
					Salva
				</button>
				<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
					Annulla
				</button>
			</div>
		</div>
	</div>
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Dati principali</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-2" ng-if="fieldPermissions['title'].VIEW">
							<label class="control-label">Titolo</label>
							<select id="detail.title" ng-disabled="!fieldPermissions['title'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.title) for v in constants['UserTitle']" class="form-control" ng-model="detail.title" tooltip="{{errors['detail.title']}}" ng-class="{error: errors['detail.title']}">
								<option value="" />
							</select>
						</div>
						<div class="form-group col-md-5" ng-if="fieldPermissions['lastName'].VIEW">
							<label class="control-label">Cognome</label><sup>*</sup>
							<input type="text" id="detail.lastName" class="form-control" ng-disabled="!fieldPermissions['lastName'].UPDATE" ng-model="detail.lastName" tooltip="{{errors['detail.lastName']}}" ng-class="{error: errors['detail.lastName']}">
						</div>
						<div class="form-group col-md-5" ng-if="fieldPermissions['firstName'].VIEW">
							<label class="control-label">Nome</label><sup>*</sup>
							<input type="text" id="detail.firstName" class="form-control" ng-disabled="!fieldPermissions['firstName'].UPDATE" ng-model="detail.firstName" tooltip="{{errors['detail.firstName']}}" ng-class="{error: errors['detail.firstName']}">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-4" ng-if="fieldPermissions['code'].VIEW">
							<label class="control-label">Codice</label>
							<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['consuntiveCode'].VIEW">
							<label class="control-label">Codice Consuntivo</label>
							<input type="text" class="form-control" ng-disabled="!fieldPermissions['consuntiveCode'].UPDATE" ng-model="detail.consuntiveCode" tooltip="{{errors['detail.consuntiveCode']}}" ng-class="{error: errors['detail.consuntiveCode']}">
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['nickName'].VIEW">
							<label class="control-label">Nome utente</label>
							<input type="text" class="form-control" ng-disabled="!fieldPermissions['nickName'].UPDATE" ng-model="detail.nickName" tooltip="{{errors['detail.nickName']}}" ng-class="{error: errors['detail.nickName']}">
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['role'].VIEW">
							<label class="control-label">Ruolo</label><sup>*</sup>
							<select id="detail.role" ng-disabled="!fieldPermissions['role'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.role) for v in constants['UserRole']" class="form-control" ng-model="detail.role" tooltip="{{errors['detail.role']}}" ng-class="{error: errors['detail.role']}">
								<option value="" />
							</select>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['sex'].VIEW">
							<label class="control-label">Sesso</label><sup>*</sup>
							<select id="detail.sex" ng-disabled="!fieldPermissions['sex'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.sex) for v in (constants['Sex'] | constantAcceptedValuesFilter:['MALE','FEMALE'])" class="form-control" ng-model="detail.sex" tooltip="{{errors['detail.sex']}}" ng-class="{error: errors['detail.sex']}">
								<option value="" />
							</select>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['nationality'].VIEW">
							<label class="control-label">Nazionalità</label>
							<div class="form-control" disabled="!fieldPermissions['nationality'].UPDATE" input-class="form-control" entity-autocomplete input-model="detail.nationality" source-list="selects['Nationalities']" title-field="name" search-field="name" placeholder="Nazionalità" />
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['birthDate'].VIEW">
							<label class="control-label">Data di Nascita</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['birthDate'].UPDATE" ng-model="detail.birthDate" tooltip="{{errors['detail.birthDate']}}" ng-class="{error: errors['detail.birthDate']}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['birthDate'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['hcp'].VIEW">
							<label class="control-label">Medico prescrittore</label><sup>*</sup>
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="true" value="{{detail.hcp.title | constantLabel:'HcpTitle'}} {{detail.hcp.lastName}} {{detail.hcp.firstName}}" tooltip="{{errors['detail.hcpId']}}" ng-class="{error: errors['detail.hcpId']}">
								<span class="input-group-btn">
									<button ng-if="fieldPermissions['hcp'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.hcp" 
										user-type="'HCP'" multiple-list="false" title="Seleziona">
										<i class="material-icons">search</i>
									</button>
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" hcp-modal="detail.hcp.id"  ng-disabled="detail.hcp == undefined || isPatient()"
										multiple-list="false" title="Dettaglio">
										<i class="material-icons">person</i>
									</button>
									<button ng-if="fieldPermissions['hcp'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.hcp == undefined" ng-click="detail.hcp = undefined"
										title="Dettaglio">
										<i class="material-icons">clear</i>
									</button>					
								</span>		
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['preferredInternalStaffUser'].VIEW">
							<label class="control-label">Operatore IA preferito</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="true" value="{{detail.preferredInternalStaffUser.title | constantLabel:'UserTitle'}} {{detail.preferredInternalStaffUser.lastName}} {{detail.preferredInternalStaffUser.firstName}}" tooltip="{{errors['detail.preferredInternalStaffUserId']}}" ng-class="{error: errors['detail.preferredInternalStaffUserId']}">
								<span class="input-group-btn">
									<button ng-if="fieldPermissions['preferredInternalStaffUser'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.preferredInternalStaffUser" 
										user-type="'INTERNAL_STAFF'" multiple-list="false" title="Seleziona">
										<i class="material-icons">search</i>
									</button>
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-type="'INTERNAL_STAFF'" user-modal="detail.preferredInternalStaffUser.id" ng-disabled="detail.preferredInternalStaffUser == undefined"
										multiple-list="false" title="Dettaglio">
										<i class="material-icons">person</i>
									</button>
									<button ng-if="fieldPermissions['preferredInternalStaffUser'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.preferredInternalStaffUser == undefined" ng-click="detail.preferredInternalStaffUser = undefined"
										title="Dettaglio">
										<i class="material-icons">clear</i>
									</button>					
								</span>		
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['fiscalCode'].VIEW">
							<label class="control-label">Codice Fiscale</label>
							<input type="text" class="form-control" ng-disabled="!fieldPermissions['fiscalCode'].UPDATE" ng-model="detail.fiscalCode" tooltip="{{errors['detail.fiscalCode']}}" ng-class="{error: errors['detail.fiscalCode']}">
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['dateInsert'].VIEW">
							<label class="control-label">Data di inserimento</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="true" ng-model="detail.dateInsert">
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
							<label class="control-label">Note interne</label>
							<textarea id="detail.internalNotes" rows="5" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="fieldPermissions['delegateHcps'].VIEW">
		<div class="col-lg-12" >
			<div class="panel panel-default">
				<div class="row" st-table="detail.delegateHcps">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Medici delegati</h4>
							</div>
							<div class="btn-group dropdown pull-right" dropdown ng-if="fieldPermissions['delegateHcps'].UPDATE" >
					        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light"  
					        		dropdown-toggle>
					         		<i class="material-icons">view_list</i>
					    		</button>
					        	<ul class="dropdown-menu pull-right">
					            	<li>
										<a ng-model="detail.delegateHcps"
											hcp-list is-modal="true" is-selection="true" is-multiple-selection="true" selected-data="detail.delegateHcps"  
											ng-init="filters={'-ID':detail.hcp.id}" post-confirm-selection-fn="saveSelection" search-filters="filters" title="Aggiungi / Rimuovi" >
											<i class="material-icons">add</i>
											<span>Aggiungi / Rimuovi</span>
										</a>
					            	</li>
					        	</ul>
					    	</div>
					    </div>
						<table class="table">		
							<thead>		
								<tr>
									<th class="hidden-xs hidden-sm hidden-md">Titolo</th>
									<th>Cognome</th>
									<th>Nome</th>
									<th>Centro/dipartimento</th>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in detail.delegateHcps">
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.title | constantLabel: 'UserTitle'" />
									<td ng-bind="row.lastName"></td>
									<td ng-bind="row.firstName"></td>
									<td ng-bind="row.department.medicalCenter.name + ' - ' + row.department.name 
										+ ' - ' + row.department.address.city + ' - ' + '(' + row.department.address.province + ')'"></td>
								</tr>
							</tbody>
							<tbody ng-show="detail.delegateHcps.length == undefined || detail.delegateHcps.length==0">
								<tr>
									<td colspan="4">
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="row" ng-if="fieldPermissions['diseases'].VIEW">
		<div class="col-lg-12" >
			<div class="panel panel-default">
				<div class="row" st-table="detail.diseases">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Patologia</h4>
							</div>
							<div class="btn-group dropdown pull-right" dropdown ng-if="fieldPermissions['diseases'].UPDATE">
					        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
					         		<i class="material-icons">view_list</i>
					    		</button>
					        	<ul class="dropdown-menu pull-right">
					            	<li>
					            		<a disease-search-modal="detail.diseases" pre-fn="" post-fn="">
					            			<i class="material-icons">add</i>
					            			<span>Aggiungi / Rimuovi</span>
					            		</a>
					            	</li>
					        	</ul>
					    	</div>
					    </div>
						<table class="table">		
							<thead>		
								<tr>
									<th st-sort="name">Nome</th>
									<th st-sort="name">Descrizione</th>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in detail.diseases">
									<td ng-bind="row.name"></td>
									<td ng-bind="row.description"></td>
								</tr>
							</tbody>
							<tbody ng-show="detail.diseases.length == undefined || detail.diseases.length==0">
								<tr>
									<td colspan="2">
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Dati di contatto</h4>
				</div>
				<div class="panel-body">
					<div class="row" ng-if="fieldPermissions['preferredContacts'].VIEW"> <!-- DATI CONTATTI PER COMUNICAZIONI -->
						<div class="form-group col-lg-12">
						    <label class="control-label">Metodi di comunicazione</label>
							<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
				              <label class="control-label">{{contactUser.label}}</label>
				               	<div class="checkbox-inline">
				               		<label class="i-checks m-r">
										<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
										<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>Si
									</label>
									<label class="i-checks">
										<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
										<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>No
									</label>
				               	</div>
				            </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-4" ng-if="fieldPermissions['phoneNumber'].VIEW">
							<label class="control-label">Telefono</label>
							<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['cellPhoneNumber'].VIEW">
							<label class="control-label">Cellulare</label>
							<input type="text" id="detail.cellPhoneNumber" class="form-control" ng-disabled="!fieldPermissions['cellPhoneNumber'].UPDATE" ng-model="detail.cellPhoneNumber" tooltip="{{errors['detail.cellPhoneNumber']}}" ng-class="{error: errors['detail.cellPhoneNumber']}">
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['faxNumber'].VIEW">
							<label class="control-label">Fax</label>
							<input type="text" id="detail.faxNumber" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
						</div>
						<div class="form-group col-md-6" ng-if="fieldPermissions['email'].VIEW">
							<label class="control-label">Email</label>
							<input type="text" id="detail.email" class="form-control" ng-disabled="!fieldPermissions['email'].UPDATE" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
						</div>
						<div class="form-group col-md-6" ng-if="fieldPermissions['skypeId'].VIEW">
							<label class="control-label">Contatto Skype</label>
							<input type="text" id="detail.skypeId" class="form-control" ng-disabled="!fieldPermissions['skypeId'].UPDATE" ng-model="detail.skypeId" tooltip="{{errors['detail.skypeId']}}" ng-class="{error: errors['detail.skypeId']}">
						</div>
					</div>
					<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
					<div class="row" ng-if ="!isNew()">
						<div class="form-group col-md-6">
							<label class="control-label">Delegato 1</label>
							<div class="input-group" tooltip="{{errors['delegate.delegate1']}}" ng-class="{error: errors['delegate.delegate1']}">
								<input id="delegate.delegate1" type="text" class="form-control" ng-disabled="true" value="{{delegate.delegate1.title | constantLabel:'UserTitle'}} {{delegate.delegate1.lastName}} {{delegate.delegate1.firstName}}">
								<span class="input-group-btn">
									<button ng-if="canUpdate" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="delegate.delegate1" 
										user-type="'PATIENT_USER'" patient-id="detail.id" multiple-list="false" title="Seleziona" filters="{filters: { 'PATIENT_ID' : detail.id }}">
										<i class="material-icons">search</i>
									</button>
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="delegate.delegate1.id" user-type="delegate.delegate1.type"
										title="Dettaglio" ng-disabled="delegate.delegate1 == undefined">
										<i class="material-icons">person</i>
									</button>
									<button ng-if="canUpdate" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="delegate.delegate1 = undefined"
										title="Pulisci" ng-disabled="delegate.delegate1 == undefined">
										<i class="material-icons">clear</i>
									</button>
								</span>		
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Delegato 2</label>
							<div class="input-group" tooltip="{{errors['delegate.delegate2']}}" ng-class="{error: errors['delegate.delegate2']}">
								<input id="delegate.delegate2" type="text" class="form-control" ng-disabled="true" value="{{delegate.delegate2.title | constantLabel:'UserTitle'}} {{delegate.delegate2.lastName}} {{delegate.delegate2.firstName}}">
								<span class="input-group-btn">
									<button ng-if="canUpdate" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="delegate.delegate2" 
										user-type="'PATIENT_USER'" patient-id="detail.id" multiple-list="false" title="Seleziona" filters="{filters: { 'PATIENT_ID' : detail.id }}">
										<i class="material-icons">search</i>
									</button>
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="delegate.delegate2.id" user-type="delegate.delegate2.type"
										title="Dettaglio" ng-disabled="delegate.delegate2 == undefined">
										<i class="material-icons">person</i>
									</button>
									<button ng-if="canUpdate" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="delegate.delegate2 = undefined"
										title="Pulisci" ng-disabled="delegate.delegate2 == undefined">
										<i class="material-icons">clear</i>
									</button>
								</span>		
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="control-label">Caregiver</label>
							<div class="input-group" tooltip="{{errors['caregivers.caregiver1']}}" ng-class="{error: errors['caregivers.caregiver1']}">
								<input id="caregivers.caregiver1" type="text" class="form-control" ng-disabled="true" value="{{caregivers.caregiver1.title | constantLabel:'UserTitle'}} {{caregivers.caregiver1.lastName}} {{caregivers.caregiver1.firstName}}">
								<span class="input-group-btn">
									<button ng-if="canUpdate && detail.id" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="caregivers.caregiver1" 
										user-type="'PATIENT_USER'" multiple-list="false" title="Seleziona" filters="{filters: { 'PATIENT_ID' : detail.id }}">
										<i class="material-icons">search</i>
									</button>
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="caregivers.caregiver1.id" user-type="caregivers.caregiver1.type"
										title="Dettaglio" ng-disabled="caregivers.caregiver1 == undefined">
										<i class="material-icons">person</i>
									</button>
									<button ng-if="canUpdate" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="caregivers.caregiver1 = undefined"
										title="Pulisci" ng-disabled="caregivers.caregiver1 == undefined">
										<i class="material-icons">clear</i>
									</button>
								</span>		
							</div>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['remindTherapyExpiryTypes'].VIEW">
						<div class="form-group col-md-6">
						    <label class="control-label">Tipo remind scadenza terapia</label>
							<div >
				              <label class="i-checks" ng-repeat="remindTherapyExpiryType in constants['RemindTherapyExpiryType']" style="margin-right: 20px;">
				                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="remindTherapyExpiryTypes[remindTherapyExpiryType.id]" ng-disabled="!fieldPermissions['remindTherapyExpiryTypes'].UPDATE">
				                <i tooltip="{{errors['detail.remindTherapyExpiryTypes']}}" ng-class="{error: errors['detail.remindTherapyExpiryTypes']}"></i>
				                {{remindTherapyExpiryType.label}}
				              </label>
				            </div>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['remindAssumptionTypes'].VIEW">
						<div class="form-group col-md-6">
						    <label class="control-label">Tipo remind terapia</label>
							<div >
				              <label class="i-checks" ng-repeat="remindType in constants['RemindAssumptionType']" style="margin-right: 20px;" ng-if="remindType.active">
				                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="remindAssumptionTypes[remindType.id]" ng-disabled="!fieldPermissions['remindAssumptionTypes'].UPDATE">
				                <i tooltip="{{errors['detail.remindAssumptionTypes']}}" ng-class="{error: errors['detail.remindAssumptionTypes']}"></i>
				                {{remindType.label}}
				              </label>
				            </div>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['preferredContactMethods'].VIEW"> <!-- DATI CONTATTI -->
						<div class="form-group col-md-12">
						    <label class="control-label">Metodi di contatto</label>
							<div >
				              <label class="i-checks" ng-repeat="contact in constants['PreferredContactMethod']" style="margin-right: 20px;">
				                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="contactMethods[contact.id]" ng-disabled="!fieldPermissions['preferredContactMethods'].UPDATE">
				                <i></i>
				                {{contact.label}}
				              </label>
				            </div>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['preferredTimeSlots'].VIEW">
						<div class="form-group col-md-5">
					 		<label class="control-label" >Fasce orarie</label>
					 		<button ng-click="addSlot()" class="btn btn-sm btn-default pull-right waves-effect waves-light"
					 			ng-disabled="!fieldPermissions['preferredTimeSlots'].UPDATE">
						 		Aggiungi</button>
					 	</div>
					</div>
				 	<div class="row" ng-repeat="solt in detail.preferredTimeSlots" ng-if="fieldPermissions['preferredTimeSlots'].VIEW">
						<div class="form-group col-md-3">
							<label class="control-label">Dalle</label>
							<div class="input-group">
								<input  tooltip="{{errors['detail.preferredTimeSlots_'+$index+'_from']}}" ng-class="{error: errors['detail.preferredTimeSlots_'+$index+'_from']}" type="text" class="form-control" format-time ng-readonly="true" ng-disabled="" ng-model="detail.preferredTimeSlots[$index].from" tooltip="{{errors['detail.birthDate']}}" ng-class="{error: errors['detail.birthDate']}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['preferredTimeSlots'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-md-3">
							<label class="control-label">Alle</label>
							<div class="input-group">
								<input  tooltip="{{errors['detail.preferredTimeSlots_'+$index+'_to']}}" ng-class="{error: errors['detail.preferredTimeSlots_'+$index+'_to']}" type="text" class="form-control" format-time ng-readonly="true"  ng-model="detail.preferredTimeSlots[$index].to" tooltip="{{errors['detail.birthDate']}}" ng-class="{error: errors['detail.birthDate']}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['preferredTimeSlots'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
									
								</span>
							</div>
						</div>
						<div class="form-group col-md-1" ng-if="fieldPermissions['preferredTimeSlots'].UPDATE">
							<label class="control-label">&nbsp;</label>
							<div class="input-group">
			 				<button ng-click="removeSlot($index) "type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canUpdate">
										<i class="material-icons">clear</i>
							</button>
							</div>
			 			</div>
					</div>
					<div class="row" ng-if="fieldPermissions['preferredDayOfWeek'].VIEW">
						<div class="form-group col-md-6">
							<label class="control-label">Giorno preferito per attività</label>
							<select id="detail.preferredDayOfWeek" ng-disabled="!fieldPermissions['preferredDayOfWeek'].UPDATE" 
								ng-options="v.id as v.label disable when (!v.active && v.id !== detail.preferredDayOfWeek) for v in constants['DayOfWeek']" class="form-control" ng-model="detail.preferredDayOfWeek" 
								tooltip="{{errors['detail.preferredDayOfWeek']}}" ng-class="{error: errors['detail.preferredDayOfWeek']}">
								<option value="" />
							</select>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Dati adesione al programma</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-4" ng-if="fieldPermissions['enrollmentDate'].VIEW">
							<label class="control-label">Data di adesione</label><sup>*</sup>
							<div class="input-group">
								<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['enrollmentDate'].UPDATE" ng-model="detail.enrollmentDate" tooltip="{{errors['detail.enrollmentDate']}}" ng-class="{error: errors['detail.enrollmentDate']}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['enrollmentDate'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['receiveModuleDate'].VIEW">
							<label class="control-label">Data ricezione modulo</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['receiveModuleDate'].UPDATE" ng-model="detail.receiveModuleDate" tooltip="{{errors['detail.receiveModuleDate']}}" ng-class="{error: errors['detail.receiveModuleDate']}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['receiveModuleDate'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Consenso al trattamento dei dati personali</label><sup>*</sup>
							<div class="form-control no-border">
								<div class="input-group col-md-12" ng-if="fieldPermissions['privacyEnrollment'].VIEW">
									<label class="control-label">Per l'adesione al Programma</label>
									<div class="checkbox-inline">
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['privacyEnrollment'].UPDATE" ng-model="detail.privacyEnrollment">
											<i tooltip="{{errors['detail.privacyEnrollment']}}" ng-class="{error: errors['detail.privacyEnrollment']}"></i>Si
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['privacyEnrollment'].UPDATE" ng-model="detail.privacyEnrollment">
											<i tooltip="{{errors['detail.privacyEnrollment']}}" ng-class="{error: errors['detail.privacyEnrollment']}"></i>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-control no-border" ng-if="detail.approvals && fieldPermissions['approvals'].VIEW" ng-repeat="property in detail.approvals track by $index">
								<div class="input-group col-md-12">
									<label class="control-label">{{property.label}}</label>
									<div class="checkbox-inline">
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['approvals'].UPDATE" ng-model="property.value">
											<i tooltip="{{errors['detail.approvals_'+$index]}}" ng-class="{error: errors['detail.approvals_'+$index]}"></i>{{property.labelYes}}
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['approvals'].UPDATE" ng-model="property.value">
											<i tooltip="{{errors['detail.approvals_'+$index]}}" ng-class="{error: errors['detail.approvals_'+$index]}"></i>{{property.labelNo}}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['medicalSupportService'].VIEW">
						<div class="form-group col-lg-3">
							<label ng-if="!isHcp()" class="control-label">Servizio MDS</label>
							<label ng-if="isHcp()" class="control-label">Medico del Servizio</label>
							<div class="checkbox-inline">
								<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" 
										ng-model="detail.medicalSupportService" ng-disabled="!fieldPermissions['medicalSupportService'].UPDATE">
									<i></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" 
										ng-model="detail.medicalSupportService" ng-disabled="!fieldPermissions['medicalSupportService'].UPDATE">
									<i></i>No
								</label>
							</div>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['testDBSService'].VIEW">
						<div class="form-group col-lg-3">
							<label class="control-label">Servizio test DBS</label>
							<div class="checkbox-inline">
								<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" 
										ng-model="detail.testDBSService" ng-disabled="!fieldPermissions['testDBSService'].UPDATE">
									<i></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" 
										ng-model="detail.testDBSService" ng-disabled="!fieldPermissions['testDBSService'].UPDATE">
									<i></i>No
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t" ng-if="fieldPermissions['customProperties'].VIEW && haveOtherData()">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Altri dati</h4>
				</div>
				<div class="panel-body" ng-include="'tpl/common/custom-properties.html'" />
			</div>
		</div>
	</div>		
	
	<div ng-include="'tpl/app/patient/personal-data-custom.html'"></div>
			
	<div class="row" ng-if="loggedUser.type=='InternalStaff' && fieldPermissions['internalNotes'].VIEW">
		<div class="form-group col-md-12">
			<label class="control-label">Note Interne</label>
			<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
		</div>
	</div>
	<div class="row" ng-if="canUpdate">
		<div class="col-md-12">
			<div class="text-right">
				<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
					Salva
				</button>
				<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
					Annulla
				</button>
			</div>
		</div>
	</div>
</div>