<div class="wrapper-sm tab-fix-margin">
	<div class="row">
		<div class="form-group col col-md-12 text-right">
			<div ng-if="canInsertTherapy">
				<button class="btn btn-primary waves-effect waves-light" patient-therapy-search-modal="patientTherapies" patient-id="id" pre-fn="" 
					title="Seleziona Tipo di Terapia" post-fn="addNewTherapy">
					Aggiungi</button>
			</div>
		</div>	
	</div>
	<div class="row m-t-md m-b-md">
		<div class="col col-md-12" ng-repeat="therapy in patientTherapies" >
			<div class="no-radius alt">
	 			<div class="list-group-item bg-secondary" style="cursor: pointer" ng-init="isCollapsed[$index] = (therapy.id === undefined ? false : true)" ng-click="isCollapsed[$index] = !isCollapsed[$index]">
	 				<h4 class="pull-right"> 
	   	 				<a><strong><i class="material-icons">keyboard_arrow_{{isCollapsed[$index] ? 'down' : 'right'}}</i></strong></a>
	   	 			</h4>
		      	 	<h4 class="block">
		      	 		<strong>{{ therapy.therapy.name }}</strong><span class="m-r m-l pull-right">{{therapy.therapy.status | constantLabel:'TherapyStatus'}}</span>
		      	 	</h4>
	     		</div>
	     		<div collapse="isCollapsed[$index]" class="clearfix m-b b-l b-r b-b">
	      			<div class="m-t m-b col-md-12" ng-include="'tpl/app/patient/therapy-data.html'"></div>
				</div>	
			</div>
		</div>
	</div>
</div>