<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista test DBS</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm" ng-if="(isHcp() || loggedUser.type=='HCP') && (uiSettings==undefined || uiSettings.enableSearchFilterCollapse.indexOf(loggedUser.type)<0)">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<div class="col-xs-12 col-lg-5" >
							<div class="row row-sm text-center">
								<div class="col-xs-6" >
									<div class="block panel padder-v bg-primary item">
										<a patient-dbs-test-request post-fn="search">
											<i class="fa fa-plus"  />
											<span class="font-bold">Richiedi test DBS</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<!-- mostra filtri -->
			<div ng-include="'tpl/app/directive/patientdbstestactivity/patient-dbs-test-activity-list-filter.html'" ng-if="uiSettings==undefined || uiSettings.enableSearchFilterCollapse.indexOf(loggedUser.type)<0"></div>
			
			<!-- mostra pulsante filtro -->
			<div class="headerDoctor text-right m-t" ng-if="uiSettings!=undefined && uiSettings.enableSearchFilterCollapse.indexOf(loggedUser.type)>=0">
				
				<div class="inline" ng-if="isHcp() || loggedUser.type=='HCP'">
					<button patient-dbs-test-request post-fn="search" class="btn  btn-primary waves-effect waves-light"  title="Richiedi Test DBS">
						<span>Richiedi test DBS</span> 
					</button>
				</div>
				
				<div class="filterClone inline">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/directive/patientdbstestactivity/patient-dbs-test-activity-list-filter.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{ loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Test DBS</h4>
								</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th st-sort="o.user.lastName">Paziente</th>
										<th st-sort="allTestDbsActivities.date">Data prelievo</th>
										<th class="hidden-xs hidden-sm hidden-md">Numero cartina</th>
										<th class="hidden-xs hidden-sm hidden-md"  st-sort="allTestDbsActivities.status">Stato</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" >
										<td ng-bind="row.patient.fullName" />
										<td ng-bind="row.date | formatDateTime" />
										<td ng-bind="row.paperCardSerialNumber" class="hidden-xs hidden-sm hidden-md" />
										<td ng-bind="row.status | constantLabel: 'PatientDbsTestActivityStatus'" class="hidden-xs hidden-sm hidden-md" />
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="2">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>