<div class="modal-header {{dialogStyle}}">
	<button type="button" ng-click="modal.dismiss();undoPatientDbsTestRequest()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Richiedi Test DBS</h3>
</div>
<div class="modal-body text-md modal-with-footer">
	<div class="row">
		<div class="form-group col-md-12">
			<label>Paziente</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="{{selectedPatient.lastName}} {{selectedPatient.firstName}}">
				<span class="input-group-btn">
					<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="selectedPatient"
						user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="selectedPatient.id" 
						filters="{filters: {'TEST_DBS_SERVICE_ACTIVE':true}}" >
						<i class="material-icons">search</i>
					</button>
					<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="selectedPatient.id" user-type="'PATIENT'" ng-disabled="selectedPatient === undefined" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>
					<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="selectedPatient == undefined" ng-click="selectedPatient = undefined;" title="Dettaglio">
						<i class="material-icons">clear</i>
					</button>					
				</span>		
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<label class="control-label">Confermi la richiesta di un Test DBS per il paziente selezionato?</label>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default waves-effect waves-light" ng-click="confirm()" title="Continua" ng-disabled="selectedPatient == undefined || execute">
		Continua
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla"  ng-disabled="execute">
		Annulla
	</button>
</div>