<div class="wrapper bg-light lter b-b" ng-show="processDefinition.startFormDefined">
	<div class="wrapper">
		<h2 class="m-n">{{processDefinition.name}}</h2>
	</div>
	<div class="row" ng-if="processDefinition.description">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<p ng-bind-html="processDefinition.description"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<form role="form" id="searchForm" novalidate>
					<div class="panel-heading font-bold">Completa il modulo riportato di seguito per procedere con l'attività</div>
					<div class="panel-body b-t">
						<div class="padder">
							<button type="button" class="btn btn-info" ng-click="startProcess()">Salva <span>Procedi</span></button>
							<button type="button" class="btn btn-default" ng-click="cancel()"><i class="fa fa-close fw"></i> <span>Annulla</span></button>
							<button type="button" class="btn btn-default pull-right" ng-if="processDefinition.form.helpButton !== undefined" ng-click="help()"><i class="fa fa-question fw"></i> <span>Help</span></button>
						</div>
					</div>
					<div class="panel-body b-t">
						<div ng-repeat="prop in processDefinition.form.formProperties track by $index" ng-if="prop.readable && prop.isVisible()" data-ng-include="prop.htmlTemplate || 'tpl/activiti-form-type/default.html'">
						</div>
					</div>
					<div class="panel-body">
						<div class="padder">(*) I campi contrassegnati con * sono obbligatori</div>
					</div>
					<div class="panel-body b-t">
						<div class="padder">
							<button type="button" class="btn btn-info" ng-click="startProcess()">Salva <span>Procedi</span></button>
							<button type="button" class="btn btn-default" ng-click="cancel()"><i class="fa fa-close fw"></i> <span>Annulla</span></button>
							<button type="button" class="btn btn-default pull-right" ng-if="processDefinition.form.helpButton !== undefined" ng-click="help()"><i class="fa fa-question fw"></i> <span>Help</span></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<img style="width: 100%" alt="" ng-src="{{processDefinition.image.contentUrl}}">
				</div>
			</div>
		</div>
	</div>
	-->
</div>