<ul class="breadcrumb bg-white b-a m-n" ng-if="!isModal">
	<li><a ui-sref="app.dried-blood-spot-test-list">Lista Test DBS</a></li>
	<li class="active">Test DBS</li>
</ul>
<div dried-blood-spot-test-detail detail-id="id" show-title="true"></div>