<ul class="breadcrumb bg-white b-a m-n">
	<li><a ui-sref="app.dried-blood-spot-test-list">Lista Test DBS</a></li>
</ul>
<!--<div class="m-t-xxl" dried-blood-spot-test-list filter-store-key="dried-blood-spot-test-list" />-->
<div dried-blood-spot-test-list detail-view="'app.dried-blood-spot-test-detail'" filter-store-key="dried-blood-spot-test-list"></div>