<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista ritiro per smaltimento farmaci</a></li>
</ul>
<div class="m-t-xxl" drug-disposal-list filter-store-key="drug-disposal-list" />