<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista malfunzionamenti/rotture</a></li>
</ul>
<div class="m-t-xxl" material-damage-list filter-store-key="material-damage-list" />