<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista attività 'In carico ad altri'</a></li>
</ul>
<div class="m-t-xxl" task-list type="'assigned-to-others'" filter-store-key="task-assigned-to-others-list" />