<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.virtual-meeting-list">Lista incontri virtuali</a></li>
</ul>
<div class="" virtual-meeting-list detail-view="'app.virtual-meeting-detail'" filter-store-key="virtual-meeting-list" />