.btn {
    height: 40px;
    line-height: 40px !important;
    padding: 0 2rem;
    &.btn-icon {
    	width: 40px;
    }
    &.btn-xs {
    	height: 30px;
    	line-height: 30px !important;
    	&.btn-icon {
    		width: 30px;
    	}
    }
    &.btn-sm {
    	height: 34px;
    	line-height: 34px !important;
    	&.btn-icon {
    		width: 34px;
    	}
    }
     &.btn-lg {
    	height: 54px;
    	line-height: 54px !important;
    	&.btn-icon {
    		width: 54px;
    	}
    }
    > i {
    	line-height: inherit !important;
    }
}
.btn-flat {
	box-shadow: none !important;
	border-color: transparent !important;
	background: transparent !important;
}