.ui-select-multiple {
	&.ui-select-bootstrap {
		padding: 1px 1px 0 !important;
    	min-height: 34px;
    	.ui-select-match-item {
    		margin: 0px 3px 2px 0 !important;
		    display: inline-block;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    max-width: 95%;
    	}
	}
}
.ui-select-container { 
	min-height: 34px; 
	> .ui-select-match { 
		outline: 0; 
		> .btn { 
			height: 35px;
			line-height: 35px !important; 
		} 
	} 
}