.table {
	margin-bottom: 0;
	> thead, tbody, tfoot {
		> tr {
			> th, td {
				padding: 13px 13px;
				vertical-align: middle;
			}
			&:first-child th {
				padding: 4px 13px;
			}
		}
	}
	tr {
		&.st-selected {
			td {
				background: #f0f9ec!important;
			}
		}
		&:hover {
			td {
				background: #f0f9ec!important;	
			}
		}
	}
	> tbody + tbody {
		border-top: 0;
	}
}