.tab-container {
	.nav.nav-tabs {
		tab-heading {
			> i {
				margin: 0 5px 0 0;
			}
			> i, > span {
				vertical-align: middle;
			}
		}
	}
}
.ui-tabs-scrollable {
	> div.spacer {
		> div:first-child > .nav-tabs > li > a {
 			height: auto;
		}
		> div:first-child > .tab-content > .active {
			overflow: visible;
		}
	}
	&.show-drop-down > button.btn.nav-button.right-nav-button {
		right: 0;
	}
}