<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li class="active"></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Nuova Adesione paziente</h3>
</div>

<div class="{{!popup ? 'wrapper-sm' : 'modal-body'}}">

	<scrollable-tabset show-drop-down="false">
		
			
	 			
	 			<div ng-if="loading" class="panel panel-default">
	 				<div class="row">
	 					
	 					<div class="col-lg-12 text-center m-t-xxl m-b-xxl wrapper-sm">
	 						<h3>Caricamento dati in corso</h3>
	 						<br/>
	 						<i class="fa fa-spinner fa-3x fa-spin"></i>
	 						<br/><br/>
	 						<i>Gentile Dottore stiamo trasmettendo i dati del Paziente alla Centrale Operativa, la preghiamo di attendere...</i>
	 					</div>
		 						
	 				</div>	
	 			</div>
	 			
	 			<div ng-if="showConfirm" class="enrollment-panel panel panel-default">
	 				<div class="row">
	 					
	 					<div class="col-lg-12 text-center m-t-xxl m-b-xxl wrapper-sm">
	 						<h3>Richiesta Completata</h3>
	 						<br/>
	 						<i class="fa fa-thumbs-up fa-3x"></i>
	 						<br/><br/>
	 						<i>Gentile Dottore, la sua richiesta di Adesione Paziente è stata inviata alla Centrale Operativa</i>
	 						<br/>
	 						<dl>
	 						<dd>Nome e Cognome Paziente: <strong>{{detail.firstName}} {{detail.lastName}}</strong></dd>
	 						<dd>Data di Nascita: <strong>{{detail.birthDate | formatDate}}</strong></dd>
 	 						<dd>Codice Richiesta: <strong>{{detail.code}}</strong></dd>
	 						</dl>
	 					</div>	

	 				</div>	
	 			</div>
	 			
	 			
	 			<div ng-if="!loading && !showConfirm">
				
		 			<div class="row" ng-if="canInsert">
						<div class="panel panel-default">
						<div class="col-lg-12">
							<div class="bg-secondary wrapper-xs" style="position: relative;
							z-index: 10;
							top: 0;
							border-top: 0;">
								<div class="inline">
									<h4 class="m-sm">Nuova Adesione Paziente</h4>
								</div>
							</div>
						</div>
						</div>
					</div>

				
					
					<div class="row m-t">
						<div class="col-lg-12">
							<div class="panel panel-default" style="margin:20px">
								<div class="panel-heading scrollspy">
									<h4>Dati del Paziente</h4>
								</div>
								<div class="panel-body">
									<div class="row">
										
										<div class="form-group col-md-4">
											<label class="control-label">Cognome paziente</label>
											<input type="text" class="form-control" 
												ng-model="detail.lastName" tooltip="{{errors['lastName']}}" ng-class="{error: errors['lastName']}">
										</div>
										<div class="form-group col-md-4" >
											<label class="control-label">Nome paziente</label>
											<input type="text" class="form-control" 
												ng-model="detail.firstName" tooltip="{{errors['firstName']}}" ng-class="{error: errors['firstName']}">
										</div>
										<div class="form-group col-md-4">
											<label class="control-label">Data di Nascita</label>
											<div class="input-group">
												<input type="text" class="form-control" format-date ng-readonly="true" ng-model="detail.birthDate" tooltip="{{errors['birthDate']}}" ng-class="{error: errors['birthDate']}">
												<span class="input-group-btn">
													<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
														<i class="material-icons">date_range</i>
													</button>
												</span>
											</div>
										</div>
									</div>
							
									<div class="row m-t" >
											<div class="col-lg-12">
											
													<form role="form" id="docsForm" novalidate class="panel-body">	
														<div class="col-lg-12 form-group">
															<div ng-show="uploader.isHTML5" class="m-b-md hidden-mobile">
																<div nv-file-drop="" uploader="uploader" >
																	<div  nv-file-over="" style="height: 250px;" uploader="uploader" class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b m-t" over-class="b-danger">
																		<img src="img/upload.png" style="max-height: 80%;">
																		<br/>
																		<p class="m-t-lg m-b-lg"><strong>Trascina qui il file con il modulo di adesione per caricarlo</strong></p>
																	</div>
																</div>
															</div>
															<label class="control-label">Carica File</label>
															<input ui-jq="filestyle" class="filestyle" type="file" nv-file-select="" uploader="uploader" data-buttonName="btn btn-default btn-sm waves-effect waves-light" options="{clearInputAfterAddedToQueue: true}">
														</div>		
														<div class="col-lg-12 form-group" ng-show="uploader.queue != undefined && uploader.queue.length>0">
															<table class="table bg-white-only b-a">
																<thead>
																	<tr>
																		<th>File</th>
																		<th>&nbsp;</th>
																		<th style="width: 55px;"></th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="item in uploader.queue">
																		<td>
																			<strong>{{ item.file.name }}</strong>
																		</td>
																		<td>
																			<label class="control-label">Caricamento:</label>
																			<div class="progress bg-light dker" style="">
																				<div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
																			</div>
																		</td>
																		<td nowrap>
																			<button type="button" title="Rimuovi" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-click="item.remove()">
																				<i class="material-icons">delete</i>
																			</button>
																		</td>
																		
																	</tr>
																</tbody>
															</table>
														</div>
															
													</form>
													
											</div>
											<div class="col-lg-12" style="padding-bottom: 20px;padding-left: 20px;    padding-right: 30px;">
											
													<div class="pull-right">
														<button class="btn  btn-primary waves-effect waves-light" ng-click="uploader.verifyAndUploadAll()" title="Invia richiesta">
															Salva
														</button>
														<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
															Annulla
														</button>		
													</div>
												
											</div>
												
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			
			
	</scrollable-tabset>	
</div>