			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Cognome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label class="control-label">Centro/Dipartimento</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-readonly="true" ng-disabled="true" value="{{objectFilters.department.medicalCenter.name}} {{objectFilters.department.name}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" department-search-modal="objectFilters.department" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.department === undefined" ng-click="objectFilters.department = undefined">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-4" region-select="searchFilters.filters.COUNTY" province="searchFilters.filters.PROVINCE" city="searchFilters.filters.CITY" />
								<div class="form-group col-lg-4" province-select="searchFilters.filters.PROVINCE" region="searchFilters.filters.COUNTY" city="searchFilters.filters.CITY" />
							</div>
							<div class="row">
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">Da data adesione</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_FROM" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">A data adesione</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_TO" > 
											<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">Da data ricezione modulo</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.RECEIVEMODULE_FROM" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-3">
									<label class="control-label">A data ricezione modulo</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.RECEIVEMODULE_TO" > 
											<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row" ng-if="canInvite">
								<div class="form-group col-md-6 col-lg-4">
									<label>Data ultimo invito A</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.LAST_INVITATION_DATE_TO" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-4 text-center">
						              <label class="control-label">Invitabile</label>
						              <div class="input-group col-md-12">
						               	<div class="checkbox-inline">
						               		<label class="i-checks m-r">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.TO_INVITE">
												<i></i>Si
											</label>
											<label class="i-checks">
												<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.TO_INVITE">
												<i></i>No
											</label>
						               	</div>
						               </div>
				         		</div>
								<div class="form-group col-md-6 col-lg-4 text-center">
						              <label class="control-label">Registrato</label>
						              <div class="input-group col-md-12">
						               	<div class="checkbox-inline">
						               		<label class="i-checks m-r">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.REGISTERED">
												<i></i>Si
											</label>
											<label class="i-checks">
												<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.REGISTERED">
												<i></i>No
											</label>
						               	</div>
						               </div>
				         		</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>