<div class="panel panel-default m-n">
	<div class="panel-body">
		<form name="form" class="form-validation" novalidate ng-submit="search()">
			<div class="row">
				<div class="form-group col-md-4">
					<label>Codice attività</label>
					<input type="text" class="form-control" ng-model="searchFilters.filters.CODE">
				</div>
				<div class="form-group col-md-4">
					<label>Nome</label>
					<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
				</div>
				<div class="form-group col-md-4">
					<label>Tipo attività</label>
					<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.TYPE) for v in constants['MasterActivityType'] | constantActive"
						class="form-control" ng-model="searchFilters.filters.TYPE">
						<option value=""></option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<label>Data da</label>
					<div class="input-group">
						<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.START_TIME_FROM">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
								<i class="material-icons">date_range</i>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group col-md-2">
					<label>Data a</label>
					<div class="input-group">
						<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.START_TIME_TO">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
								<i class="material-icons">date_range</i>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group col-md-4" ng-if="loggedUser.type != 'HCP' && serviceActivityGroups.length > 0">
					<label class="control-label">Gruppo attività / Occorrenza</label>
					<div class="input-group">
						<select ng-options="v.code as v.name for v in serviceActivityGroups" class="form-control" ng-model="searchFilters.filters.GROUP_CODE">
							<option value=""></option>
						</select>
						<span class="input-group-btn with-select">
							<select class="btn btn-default btn-sm" ng-model="searchFilters.filters.GROUP_OCCURRENCE" 
								ng-disabled="activityGroups.length == 0" ng-options="v.occurrence as v.occurrence for v in activityGroups" >
								<option value=""></option>			    				
							</select>
						</span>
					</div>
				</div>
				<div class="form-group col-md-2">
					<label>Stato</label>
					<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['ActivityStatus'] | constantActive"
						class="form-control" ng-model="searchFilters.filters.STATUS">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
						Cerca
					</button>
					<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
						Cancella
					</button>
				</div>
			</div>
		</form>
	</div>
</div>