<div class="m-t-xxl">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div ng-if="loggedUser.type!='PATIENT' && loggedUser.type!='HCP' && !isHcp() && !isPatient()">
				<div class="col-lg-12">
					<div ng-include="'tpl/app/directive/user-activity/user-activity-list-filter.html'"></div>
				</div>		
			</div>
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='HCP' || loggedUser.type=='PATIENT' || isHcp() || isPatient()">				
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div class="col-lg-12">
								<div ng-include="'tpl/app/directive/user-activity/user-activity-list-filter.html'"></div>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default" ng-if="showList">
						<div class="row" st-pipe="search" st-table="list">
							<div class="col-sm-12">
								<div class="bg-secondary wrapper-xs {{loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
									<div class="inline">
										<h4 class="m-sm">Attività</h4>
									</div>
									<div class="btn-group dropdown pull-right" dropdown ng-if="canInsert">
							        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
							         		<i class="material-icons">view_list</i>
							    		</button>
							        	<ul class="dropdown-menu pull-right">
							            	<li>
							            		<a user-modal="row.id" user-type="row.type">
							            			<i class="material-icons">add</i>
							            			<span>Nuovo</span>
							            		</a>
							            	</li>
							            	<li>
							            		<a ng-click="exportXls(false)">
							            			<i class="material-icons">file_download</i>
							            			<span>Esporta Pagina</span>
							            		</a>
							            	</li>
							            	<li>
							            		<a ng-click="exportXls(true)">
							            			<i class="material-icons">file_download</i>
							            			<span>Esporta Tutto</span>
							            		</a>
							            	</li>
							        	</ul>
							    	</div>
							    </div>
								<table class="table">
									<thead>
										<tr>
											<th st-sort="[groups.name,groups.occurrence]">Gruppo</th>
											<th st-sort="o.code">Codice Attività</th>
											<th st-sort="o.name">Nome</th>
											<th class="hidden-xs hidden-sm hidden-md" st-sort-default="reverse" st-sort="o.date">Data/ora</th>
											<th class="hidden-xs hidden-sm" st-sort="o.type">Tipo</th>
											<th st-sort="o.status">Stato</th>
											<th style="width: 30px; padding: 0;" />
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr ng-repeat="row in list" user-activity-modal="row.id">
											<td ng-bind="row.groupsLabel" />
											<td ng-bind="row.code" />
											<td ng-bind="row.name" />
											<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.date | formatDateTime" />
											<td class="hidden-xs hidden-sm" ng-bind="row.type | constantLabel:'MasterActivityType'" />
											<td ng-bind="row.status | constantLabel:'ActivityStatus'" />
											<td style="padding: 0;">
												<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
													ng-if="false">
										        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
										         		<i class="material-icons">more_vert</i>
										    		</button>
										        	<ul class="dropdown-menu pull-right">
										        	</ul>
										    	</div>
											</td>
										</tr>
									</tbody>
									<tbody ng-show="list == undefined || list.length==0">
										<tr>
											<td colspan="6" >
												<div class="text-muted"><i>Nessun dato trovato</i></div>
											</td>
										</tr>
									</tbody>
									<tfoot ng-show="list != undefined && list.length > 0">
										<tr>
											<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
										</tr>
									</tfoot>
								</table>
							</div>
						</div>	   
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	