/* Put your css in here */
.sortable-item,
.sortable-placeholder {
    display: inline-block;
    width: 124px;
    height: 110px;
    float: left;
}

/*.sortable-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/

#scrollable-container {
    position: absolute;
    top: 150px;
    left: 50px;
    height: 200px;
    width: 200px;
    overflow: auto;
    border: solid 1px gray;
}

.pre-scrollable .panel {
    margin-top: 20px;
}
