  <toaster-container toaster-options="{{toasterOptions}}"></toaster-container>
  <!-- navbar -->
  <div data-ng-include=" 'tpl/app/header.html' " class="app-header navbar" >
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'tpl/app/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
  </div>
  <!-- / menu -->

  <!-- content -->
  <div class="app-content">
    <div ui-butterbar></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
    <div class="app-content-body fade-in" ui-view></div>
  </div>
  <!-- /content -->

  <!-- footer -->
  <div class="app-footer wrapper b-t bg-light" ng-include="'tpl/app/footer.html'" />
  <!-- / footer -->

  <div data-ng-include=" 'tpl/app/settings.html' " class="settings panel panel-default" ng-if="false">
  </div>
