<div class="container">
	<div class="row" ng-repeat="detail in disclaimers">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 ng-if="userType === undefined">{{detail.userType | constantLabel:'UserType' }} {{detail.clientTypes && detail.clientTypes.length > 0 ? (detail.clientTypes | constantLabel:'ClientEntityType') : '' }}</h4>
					<h4 ng-if="userType !== undefined">{{detail.clientTypes && detail.clientTypes.length > 0 ? detail.clientTypes | constantLabel:'ClientEntityType' : '' }}</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1" style="text-align: justify;">
							<div ng-bind-html="detail.text | to_trusted" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>