<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.material.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab>
				<tab-heading>
					<i class="material-icons">mode_edit</i>
					<span>Aggiungi/rimuovi</span>
				</tab-heading>
				
				<div class="row m-t">
					<div class="col col-xs-12 form-group">
						<label class="control-label">Quantità</label>
						<input type="number" class="form-control" ng-model="detail.deliveredQuantity">
					</div>	
				</div>
				
				<div class="row" ng-repeat="s in detail.deliveredSerialNumbers track by $index">
					<div class="col col-xs-3 form-group">
						<label class="control-label">Materiale</label>
						<input type="text" class="form-control" value="{{1+$index}}">
					</div>
					<div class="col col-xs-9 form-group">
						<label class="control-label">Serial Number</label>
						<input type="text" class="form-control" ng-model="detail.deliveredSerialNumbers[$index]">
					</div>	
				</div>
				
				<div class="row">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="confirm()" title="Conferma">
							Conferma
						</button>
					</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>			