<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="script-tags-for-development.js"></script>
<script>
  var app = angular.module('myApp', ['ngMap']);
  app.controller('LayerDataEventCtrl', function() {
    var vm = this;
    vm.styleFunc = function(feature) {
      return /** @type {google.maps.Data.StyleOptions} */({
        fillColor: feature.getProperty('color'),
        strokeWeight: 1
      })
    };
    vm.onMouseover = function(event) {
      vm.letter = event.feature.getProperty('letter');
      console.log('xxxxxx', vm.letter);
    };
  });
</script>
</head>
<body>
  <div ng-controller="LayerDataEventCtrl as vm">
    <ng-map zoom="4" center="-28, 137.883">
      <map-data set-style="vm.styleFunc"
        on-mouseover="vm.onMouseover()"
        load-geo-json="https://storage.googleapis.com/maps-devrel/google.json"></map-data>
    </ng-map>
    <h1>{{vm.letter}}</h1>
  </div>
</body>
</html>
