<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Test BDS</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4" ng-if="!hidePatientFilter">
									<label>Paziente</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient"
												user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.PATIENT_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id" user-type="'HCP'" ng-disabled="objectFilters.patient.id === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined" ng-click="objectFilters.patient = undefined; searchFilters.filters.HCP_ID = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-lg-4">
									<label>Numero cartina</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.PAPERCARD_SERIALNUMBER">
								</div>
								<div class="form-group col-lg-4">
									<label class="control-label">Data prelievo da</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.BLOOD_SAMPLING_DATE_FROM" > 
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-4">
									<label class="control-label">Data prelievo a</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.BLOOD_SAMPLING_DATE_TO" > 
											<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-3">
									<label>Stato</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['DriedBloodSpotTestStatus'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.STATUS">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Test DBS</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a dried-blood-spot-test-detail detail-id="''" view="detailView" is-modal="isModal || detailView === undefined"
						            			post-fn="search">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="patient.firstName">Paziente</th>
										<th st-sort="bloodSamplingDate">Data prelievo</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="paperCardSerialNumber">Numero cartina</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="status">Stato</th>
										<th style="width: 30px; padding: 0;" ng-if="!isSelection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td ng-bind="row.patient.lastName +' '+ row.patient.firstName" dried-blood-spot-test-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td ng-bind="row.bloodSamplingDate | formatDateTime" dried-blood-spot-test-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.paperCardSerialNumber" dried-blood-spot-test-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.status | constantLabel: 'DriedBloodSpotTestStatus'" dried-blood-spot-test-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
			Annulla
		</button>
	</div>
</div>