
<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Test DBS</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="permissions.UPDATE">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['patient'].VIEW">
										<label class="control-label">Paziente</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.patient.lastName}} {{detail.patient.firstName}}" error-tooltip>
											<span class="input-group-btn">
												<button ng-if="fieldPermissions['patient'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.patient" 
													user-type="'PATIENT'" multiple-list="false" title="Seleziona">
													<i class="material-icons">search</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.patient.id" user-Type="'PATIENT'"  ng-disabled="detail.patient == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
												<button ng-if="fieldPermissions['patient'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.patient == undefined" ng-click="detail.patient = undefined"
													title="Dettaglio">
													<i class="material-icons">clear</i>
												</button>					
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['paperCardSerialNumber'].VIEW">
										<label class="control-label">Numero cartina</label>
										<input type="text" id="detail.paperCardSerialNumber" class="form-control" ng-disabled="!fieldPermissions['paperCardSerialNumber'].UPDATE" ng-model="detail.paperCardSerialNumber" error-tooltip>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['bloodSamplingOwner'].VIEW">
										<label class="control-label">Responsabile prelievo</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.bloodSamplingOwner.lastName}} {{detail.bloodSamplingOwner.firstName}}" error-tooltip>
											<span class="input-group-btn">
												<button ng-if="fieldPermissions['bloodSamplingOwner'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.bloodSamplingOwner" 
													user-type="'SUPPLIER'" multiple-list="false" title="Seleziona">
													<i class="material-icons">search</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.bloodSamplingOwner.id" user-Type="'SUPPLIER'" ng-disabled="detail.bloodSamplingOwner == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
												<button ng-if="fieldPermissions['bloodSamplingOwner'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.bloodSamplingOwner == undefined" ng-click="detail.bloodSamplingOwner = undefined"
													title="Dettaglio">
													<i class="material-icons">clear</i>
												</button>					
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['bloodSamplingDate'].VIEW">
										<label class="control-label">Data/ora prelievo</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="!fieldPermissions['bloodSamplingDate'].UPDATE" ng-model="detail.bloodSamplingDate" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['bloodSamplingDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['bloodSamplingLocation'].VIEW">
										<label class="control-label">Luogo del prelievo</label>
										<select id="detail.bloodSamplingLocation" ng-disabled="!fieldPermissions['bloodSamplingLocation'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.bloodSamplingLocation) for v in constants['DriedBloodSpotTestSamplingLocation']" class="form-control" ng-model="detail.bloodSamplingLocation" error-tooltip>
											<option value="" />
										</select>
									</div>
								</div>
								<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['pickUpOwner'].VIEW">
										<label class="control-label">Responsabile ritiro</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.pickUpOwner.lastName}} {{detail.pickUpOwner.firstName}}" error-tooltip>
											<span class="input-group-btn">
												<button ng-if="fieldPermissions['pickUpOwner'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.pickUpOwner" 
													user-type="'LOGISTIC'" multiple-list="false" title="Seleziona">
													<i class="material-icons">search</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.pickUpOwner.id" user-Type="'LOGISTIC'" ng-disabled="detail.pickUpOwner == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
												<button ng-if="fieldPermissions['pickUpOwner'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.pickUpOwner == undefined" ng-click="detail.pickUpOwner = undefined"
													title="Dettaglio">
													<i class="material-icons">clear</i>
												</button>					
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['pickUpDate'].VIEW">
										<label class="control-label">Data/ora ritiro</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="!fieldPermissions['pickUpDate'].UPDATE" ng-model="detail.pickUpDate" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['pickUpDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['status'].VIEW">
										<label class="control-label">Stato</label>
										<select id="detail.status" ng-disabled="!fieldPermissions['status'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['DriedBloodSpotTestStatus']" class="form-control" ng-model="detail.status" error-tooltip>
											<option value="" />
										</select>
									</div>
<!-- 									<div class="form-group col-md-4" ng-if="fieldPermissions['bloodSamplingComplementaryActivityId'].VIEW"> -->
<!-- 										<label class="control-label">&nbsp;</label> -->
<!-- 										<div class="input-group"> -->
<!-- 											<input type="text" class="form-control" ng-disabled="true" value="Attività prelievo collegata" error-tooltip> -->
<!-- 											<span class="input-group-btn"> -->
<!-- 												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-activity="detail.bloodSamplingComplementaryActivityId" ng-disabled="detail.bloodSamplingComplementaryActivityId == undefined" -->
<!-- 													multiple-list="false" title="Dettaglio"> -->
<!-- 													<i class="material-icons">directions_run</i> -->
<!-- 												</button>				 -->
<!-- 											</span>		 -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="form-group col-md-4" ng-if="fieldPermissions['pickUpComplementaryActivityId'].VIEW"> -->
<!-- 										<label class="control-label">&nbsp;</label> -->
<!-- 										<div class="input-group"> -->
<!-- 											<input type="text" class="form-control" ng-disabled="true" value="Attività ritiro collegata" error-tooltip> -->
<!-- 											<span class="input-group-btn"> -->
<!-- 												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-activity="info.pickUpComplementaryActivity.activity.id" ng-disabled="info.pickUpComplementaryActivity == undefined" -->
<!-- 													multiple-list="false" title="Dettaglio"> -->
<!-- 													<i class="material-icons">directions_run</i> -->
<!-- 												</button>				 -->
<!-- 											</span>		 -->
<!-- 										</div> -->
<!-- 									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="permissions.UPDATE">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>	
				</div>
			</tab>		
		</tabset>
	</scrollable-tabset>
</div>